In [2]:
import pandas as pd

In [12]:
df1 = pd.read_csv("data/Baseline/BT_HOLD_DATA.csv.", encoding='latin')
df1

,PIDM_KEY,ID,HOLD_TYPE,HOLD_DESC,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER
0,90093643,91323030,ZP,A&S Program Update Required,15-JAN-14,21-DEC-99,NaN,NaN
1,90106227,95342028,ZP,A&S Program Update Required,30-AUG-13,20-JUN-16,NaN,NaN
2,90141162,100019911,ZP,A&S Program Update Required,20-APR-17,13-JUL-17,NaN,LWONG
3,90146312,100025061,ZP,A&S Program Update Required,12-JUL-19,12-JUL-19,NaN,NaN
4,90176859,100055572,ZP,A&S Program Update Required,11-AUG-14,11-AUG-14,NaN,NaN
...,...,...,...,...,...,...,...,...
33960,90582968,100408963,IE,International Ed,27-JAN-23,23-MAR-23,Approval Rec'd by Global,EIKARI
33961,90547266,100373791,IE,International Ed,01-APR-21,31-DEC-99,Submit Study Permit Approval,JSPISAYAGI
33962,90570432,100396614,IE,International Ed,12-JUN-22,31-DEC-99,No proof of Study Permit,TBROOKS
33963,90581092,100407144,LO,Registrar's Hold,04-APR-23,05-APR-23,Daily Regn Attempts Reached,NaN
33964,90575460,100401593,IE,International Ed,15-JUN-22,21-OCT-22,Approval Rec'd by Global,EIKARI

In [13]:
df2 = pd.read_csv("data/Validate/Hold Data.csv")
df2

,lang_pidmkey,lang_student,lang_id,lang_holdtype,lang_holddescriptionorig,lang_holddescription,lang_holdfromdate,lang_holdtodate,lang_holdreason,lang_holduser
0,90584410,934CD26D-98D8-ED11-A7C5-000D3AE8685A,100410398,IE,International Ed,C88E3682-61D9-ED11-A7C5-002248AF89AD,2023-01-31 00:00:00.0000000,2023-02-16 00:00:00.0000000,Approval Rec'd by Global,EIKARI
1,90584410,934CD26D-98D8-ED11-A7C5-000D3AE8685A,100410398,LO,Registrar's Hold,CA8E3682-61D9-ED11-A7C5-002248AF89AD,2023-03-31 00:00:00.0000000,2023-04-01 00:00:00.0000000,Daily Regn Attempts Reached,NaN
2,90584410,934CD26D-98D8-ED11-A7C5-000D3AE8685A,100410398,LO,Registrar's Hold,CA8E3682-61D9-ED11-A7C5-002248AF89AD,2023-04-02 00:00:00.0000000,2023-04-03 00:00:00.0000000,Daily Regn Attempts Reached,NaN
3,90582998,E8EE093F-98D8-ED11-A7C5-002248AF80A6,100408993,IE,International Ed,C88E3682-61D9-ED11-A7C5-002248AF89AD,2023-01-26 00:00:00.0000000,2023-02-16 00:00:00.0000000,Approval Rec'd by Global,EIKARI
4,90584961,140C135B-98D8-ED11-A7C5-002248B1F6C0,100410943,LO,Registrar's Hold,CA8E3682-61D9-ED11-A7C5-002248AF89AD,2023-04-02 00:00:00.0000000,2023-04-03 00:00:00.0000000,Daily Regn Attempts Reached,NaN
...,...,...,...,...,...,...,...,...,...,...
35030,90570727,CEC75BFA-95D8-ED11-A7C5-000D3AE866C8,100396907,IE,International Ed,C88E3682-61D9-ED11-A7C5-002248AF89AD,2022-07-08 00:00:00.0000000,2022-07-08 00:00:00.0000000,Approval Rec'd by Global,EIKARI
35031,90570732,D3747224-90D8-ED11-A7C5-002248B1F6EE,100396912,IE,International Ed,C88E3682-61D9-ED11-A7C5-002248AF89AD,2022-06-14 00:00:00.0000000,2022-08-07 00:00:00.0000000,Approval Rec'd by Global,EIKARI
35032,90572261,9B4020E7-9AD8-ED11-A7C5-002248AF8630,100398426,IE,International Ed,C88E3682-61D9-ED11-A7C5-002248AF89AD,2023-02-24 00:00:00.0000000,2023-03-03 00:00:00.0000000,Approval Rec'd by Global,EIKARI
35033,90581944,5A4C0E6D-98D8-ED11-A7C5-002248AF80A6,100407963,IE,International Ed,C88E3682-61D9-ED11-A7C5-002248AF89AD,2022-10-03 00:00:00.0000000,2023-02-17 00:00:00.0000000,Approval Rec'd by Global,EIKARI
35034,90576398,A8FBB88E-96D8-ED11-A7C5-000D3AE86452,100402527,IE,International Ed,C88E3682-61D9-ED11-A7C5-002248AF89AD,2023-03-09 00:00:00.0000000,2023-03-13 00:00:00.0000000,Approval Rec'd by Global,EIKARI

In [14]:
df1.dtypes

PIDM_KEY           int64
ID                 int64
HOLD_TYPE         object
HOLD_DESC         object
HOLD_FROM_DATE    object
HOLD_TO_DATE      object
HOLD_REASON       object
HOLD_USER         object
dtype: object

In [16]:
pd.to_datetime(df1.HOLD_TO_DATE, format="%d-%b-%y")

0       1999-12-21
1       2016-06-20
2       2017-07-13
3       2019-07-12
4       2014-08-11
           ...
33960   2023-03-23
33961   1999-12-31
33962   1999-12-31
33963   2023-04-05
33964   2022-10-21
Name: HOLD_TO_DATE, Length: 33965, dtype: datetime64[ns]

In [25]:
pd.to_datetime(df2.lang_holdfromdate)

0       2023-01-31
1       2023-03-31
2       2023-04-02
3       2023-01-26
4       2023-04-02
           ...
35030   2022-07-08
35031   2022-06-14
35032   2023-02-24
35033   2022-10-03
35034   2023-03-09
Name: lang_holdfromdate, Length: 35035, dtype: datetime64[ns]

In [20]:
df1[df1.duplicated(subset=['PIDM_KEY', 'HOLD_TYPE', 'HOLD_FROM_DATE', 'HOLD_TO_DATE', 'HOLD_REASON', 'HOLD_USER'], keep=False)]

,PIDM_KEY,ID,HOLD_TYPE,HOLD_DESC,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER
503,90471850,100299584,LO,Registrar's Hold,16-NOV-17,17-NOV-17,Daily Regn Attempts Reached,NaN
1243,90501650,100328795,ZP,A&S Program Update Required,11-DEC-20,14-DEC-20,NaN,NaN
1334,90426660,100257973,LO,Registrar's Hold,28-DEC-15,29-DEC-15,Daily Regn Attempts Reached,NaN
4436,90260594,100126732,ZP,A&S Program Update Required,03-APR-13,03-APR-13,NaN,NaN
4616,90209433,100079990,ZP,A&S Program Update Required,05-AUG-12,05-AUG-12,NaN,NaN
5699,90267825,100133963,ZP,A&S Program Update Required,03-NOV-14,18-MAR-17,NaN,NaN
5942,90278857,100144961,ZP,A&S Program Update Required,30-JUN-14,30-JUN-14,NaN,NaN
6797,90255673,100121852,ZP,A&S Program Update Required,14-NOV-21,14-NOV-21,NaN,NaN
6879,90489100,100316232,LO,Registrar's Hold,27-MAR-19,28-MAR-19,Daily Regn Attempts Reached,NaN
10344,90539905,100366551,DC,CS-Dean's Hold,05-OCT-21,18-JAN-22,SCAI,JCHEDDIE
11426,90489706,100316840,ZP,A&S Program Update Required,08-JUN-22,15-MAR-23,NaN,RCHEUNG
11556,90216122,100084632,ZP,A&S Program Update Required,15-MAR-21,15-MAR-21,NaN,NaN
12909,90086180,94340213,ZP,A&S Program Update Required,20-JUN-16,14-NOV-17,NaN,NaN
12911,90210049,100080393,ZP,A&S Program Update Required,13-JUL-12,13-JUL-12,NaN,NaN
14805,90485160,100312292,ZP,A&S Program Update Required,25-NOV-21,25-NOV-21,NaN,NaN
15371,90218333,100086233,ZP,A&S Program Update Required,23-NOV-17,23-NOV-17,NaN,NaN
17106,90210049,100080393,ZP,A&S Program Update Required,13-JUL-12,13-JUL-12,NaN,NaN
18164,90501650,100328795,ZP,A&S Program Update Required,11-DEC-20,14-DEC-20,NaN,NaN
18422,90267825,100133963,ZP,A&S Program Update Required,03-NOV-14,18-MAR-17,NaN,NaN
19876,90489706,100316840,ZP,A&S Program Update Required,08-JUN-22,15-MAR-23,NaN,RCHEUNG
20037,90446959,100276534,ZP,A&S Program Update Required,12-APR-23,12-APR-23,NaN,NaN
20039,90446959,100276534,ZP,A&S Program Update Required,12-APR-23,12-APR-23,NaN,NaN
20227,90212572,100082699,ZP,A&S Program Update Required,11-JUN-12,11-JUN-12,NaN,NaN
21356,90260594,100126732,ZP,A&S Program Update Required,03-APR-13,03-APR-13,NaN,NaN
21600,90451711,100280657,ZP,A&S Program Update Required,08-JUN-18,14-APR-20,NaN,NaN
23241,90485160,100312292,ZP,A&S Program Update Required,25-NOV-21,25-NOV-21,NaN,NaN
23829,90255673,100121852,ZP,A&S Program Update Required,14-NOV-21,14-NOV-21,NaN,NaN
23913,90489100,100316232,LO,Registrar's Hold,27-MAR-19,28-MAR-19,Daily Regn Attempts Reached,NaN
24288,90216122,100084632,ZP,A&S Program Update Required,15-MAR-21,15-MAR-21,NaN,NaN
24312,90441515,100271686,ZP,A&S Program Update Required,16-JUL-19,21-DEC-99,NaN,NaN
24502,90179482,100058195,ZP,A&S Program Update Required,04-APR-15,04-APR-15,NaN,NaN
25446,90340999,100188225,ZP,A&S Program Update Required,08-APR-19,08-APR-19,NaN,NaN
25447,90340999,100188225,ZP,A&S Program Update Required,08-APR-19,08-APR-19,NaN,NaN
25920,90209433,100079990,ZP,A&S Program Update Required,05-AUG-12,05-AUG-12,NaN,NaN
25946,90451711,100280657,ZP,A&S Program Update Required,08-JUN-18,14-APR-20,NaN,NaN
26005,90471850,100299584,LO,Registrar's Hold,16-NOV-17,17-NOV-17,Daily Regn Attempts Reached,NaN
26768,90248213,100114492,ZP,A&S Program Update Required,12-DEC-13,12-DEC-13,NaN,NaN
26769,90248213,100114492,ZP,A&S Program Update Required,12-DEC-13,12-DEC-13,NaN,NaN
26799,90426660,100257973,LO,Registrar's Hold,28-DEC-15,29-DEC-15,Daily Regn Attempts Reached,NaN
28643,90441515,100271686,ZP,A&S Program Update Required,16-JUL-19,21-DEC-99,NaN,NaN
28834,90212572,100082699,ZP,A&S Program Update Required,11-JUN-12,11-JUN-12,NaN,NaN
29939,90086180,94340213,ZP,A&S Program Update Required,20-JUN-16,14-NOV-17,NaN,NaN
31526,90278857,100144961,ZP,A&S Program Update Required,30-JUN-14,30-JUN-14,NaN,NaN
31644,90539905,100366551,DC,CS-Dean's Hold,05-OCT-21,18-JAN-22,SCAI,JCHEDDIE
32402,90218333,100086233,ZP,A&S Program Update Required,23-NOV-17,23-NOV-17,NaN,NaN
33071,90179482,100058195,ZP,A&S Program Update Required,04-APR-15,04-APR-15,NaN,NaN

In [17]:
df1.sort_values(by=['PIDM_KEY'])

,PIDM_KEY,ID,HOLD_TYPE,HOLD_DESC,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER
28145,90001327,100001308,ZP,A&S Program Update Required,17-JUN-20,17-JUN-20,NaN,NaN
32398,90001327,100001308,ZP,A&S Program Update Required,08-JUN-19,17-JUN-20,NaN,NaN
23825,90001327,100001308,ZP,A&S Program Update Required,01-FEB-20,17-JUN-20,NaN,NaN
8869,90002371,100002349,ZP,A&S Program Update Required,11-FEB-20,21-DEC-99,NaN,NaN
17535,90002844,84360361,ZP,A&S Program Update Required,04-JUL-16,21-DEC-99,NaN,NaN
...,...,...,...,...,...,...,...,...
7662,90592643,100418532,RE,Registration Hold,31-JUL-23,31-DEC-99,Final IB Diploma + Transcript,ALY
3465,90592663,100418552,RE,Registration Hold,31-JUL-23,31-DEC-99,Final SMA Certificate,ALY
29061,90592729,100418618,RE,Registration Hold,31-JUL-23,31-DEC-99,Final HS Graduation Diploma,ALY
12254,90592794,100418683,IE,International Ed,09-MAR-23,10-MAR-23,Approval Rec'd by Global,EIKARI
16549,90593800,100419670,RO,Registrar's Hold,15-SEP-23,05-FEB-25,Concurrent Appeal 202330 ONLY,EVULCANO

## Testing

BT_HOLD_DATA -> None
BT_TEST_SCORE -> ['PIDM_KEY', 'TEST_SCORE_CODE', 'TEST_SCORE_DATE']
GM_ACADEMIC_HISTORY_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY']
xGM_ADMISSIONS_APPLICANT -> ['EXTERNAL_ID'] | ['PIDM_KEY', 'TERM_CODE_KEY', 'APPL_NO_KEY']
GM_APPLICATION_CHECKLIST -> ['EXTERNAL_ID', 'ADMR_CODE_KEY']
GM_FINANCIAL_HISTORY -> ['PIDM_KEY', 'TRANSACTION_ID']
GM_PROGRAM_HISTORY_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY']
GM_STUDENT_DATA -> ['PIDM_KEY']
GM_STUDENT_REGISTRATION_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY'] *Only data for next year (20232, 202320, 20233, 20241)

In [1]:
import pandas as pd
from utils import Validator

## Hold Data

BT_HOLD_DATA -> None

In [4]:
baseline_filepath = "data/Baseline/BT_HOLD_DATA.csv"
validate_filepath = "data/Validate/Hold Data.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "baseline_col_type": "",
     "validate_col_name": "lang_pidmkey",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "ID",
     "baseline_col_type": "",
     "validate_col_name": "lang_id",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_TYPE",
     "baseline_col_type": "",
     "validate_col_name": "lang_holdtype",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_DESC",
     "baseline_col_type": "",
     "validate_col_name": "lang_holddescriptionorig",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_FROM_DATE",
     "baseline_col_type": "",
     "validate_col_name": "lang_holdfromdate",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_TO_DATE",
     "baseline_col_type": "",
     "validate_col_name": "lang_holdtodate",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_REASON",
     "baseline_col_type": "",
     "validate_col_name": "lang_holdreason",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_USER",
     "baseline_col_type": "",
     "validate_col_name": "lang_holduser",
     "validate_col_type": "",
     "common_col_type": "",
     },
]
baseline_date_cols = {"HOLD_FROM_DATE": "%d-%b-%y",
                      "HOLD_TO_DATE": "%d-%b-%y",}
validate_date_cols = {"lang_holdfromdate": None,
                      "lang_holdtodate": None}
col_id = None
baseline_encoding = "latin"
validate_encoding = "utf-8"
# unify_text = False
# text_cols = None
unify_text = True
text_cols = ['HOLD_REASON']

In [5]:
hold_data_validator = Validator(baseline_filepath=baseline_filepath,
                                validate_filepath=validate_filepath,
                                column_mapping=column_mapping,
                                baseline_date_cols=baseline_date_cols,
                                validate_date_cols=validate_date_cols,
                                col_id=col_id,
                                baseline_encoding=baseline_encoding,
                                validate_encoding=validate_encoding,
                                unify_text=unify_text,
                                text_cols=text_cols,
                                )
hold_data_validator

C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: ID
                    Real Type: int64
                    Expected Type: NA
                Column: HOLD_TYPE
                    Real Type: object
                    Expected Type: NA
                Column: HOLD_DESC
                    Real Type: object
                    Expected Type: NA
                Column: HOLD_FROM_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: HOLD_TO_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: HOLD_REASON
                    Real Type: object
                    Expected Type: NA
                Column: HOLD_USER
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_pidmkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_id
                    Real Type: int64
                    Expected Type: NA
                Column: lang_holdtype
                    Real Type: object
                    Expected Type: NA
                Column: lang_holddescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_holdfromdate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_holdtodate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_holdreason
                    Real Type: object
                    Expected Type: NA
                Column: lang_holduser
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [6]:
hold_data_validator.name_mapping

{'lang_pidmkey': 'PIDM_KEY',
 'lang_id': 'ID',
 'lang_holdtype': 'HOLD_TYPE',
 'lang_holddescriptionorig': 'HOLD_DESC',
 'lang_holdfromdate': 'HOLD_FROM_DATE',
 'lang_holdtodate': 'HOLD_TO_DATE',
 'lang_holdreason': 'HOLD_REASON',
 'lang_holduser': 'HOLD_USER'}

In [7]:
hold_data_validator.check_existence()

In [8]:
hold_data_validator.existence_result.sum()

PIDM_KEY          0
ID                0
HOLD_TYPE         0
HOLD_DESC         0
HOLD_FROM_DATE    0
HOLD_TO_DATE      0
HOLD_REASON       0
HOLD_USER         0
dtype: int64

In [9]:
hold_data_validator.row_difference

-1071

In [10]:
hold_data_validator.col_difference

{'origin_cols_not_in_target': set(),
 'target_cols_not_in_origin': {'lang_holddescription', 'lang_student'}}

In [11]:
hold_data_validator.duplicated_rows

{'origin': 23, 'target': 22}

In [13]:
hold_data_validator.check_equality()
hold_data_validator.equality_result

Empty DataFrame
Columns: []
Index: []

In [14]:
hold_data_validator.target_rows_not_in_origin

,PIDM_KEY,ID,HOLD_TYPE,HOLD_DESC,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER
0,90024491,81119059,ZP,A&S Program Update Required,2012-03-08,2022-06-21,NaN,NaN
1,90024491,81119059,ZP,A&S Program Update Required,2022-06-21,2022-06-21,NaN,NaN
2,90084059,91107250,ZP,A&S Program Update Required,2022-08-09,2022-08-09,NaN,NaN
3,90122813,98353311,TU,Student Balance Owing,2023-01-07,1999-12-31,Balance Owing prior to 202310,NaN
4,90142332,100021081,TU,Student Balance Owing,2023-01-07,1999-12-31,Balance Owing prior to 202310,NaN
...,...,...,...,...,...,...,...,...
1068,90583287,100409278,IE,International Ed,2022-10-07,1999-12-31,No proof of study permit,EIKARI
1069,90583349,100409340,IE,International Ed,2022-10-19,1999-12-31,No proof of study permit,EIKARI
1070,90583428,100409419,IE,International Ed,2022-11-07,1999-12-31,No proof of study permit,EIKARI
1071,90584571,100410557,RO,Registrar's Hold,2023-01-18,2024-11-23,Concurrent Appeal 202310 ONLY,EVULCANO
1072,90585868,100411846,IE,International Ed,2022-11-09,1999-12-31,No proof of study permit,EIKARI

In [15]:
hold_data_validator.origin_rows_not_in_target

,PIDM_KEY,ID,HOLD_TYPE,HOLD_DESC,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER
0,90567670,100393891,DC,CS-Dean's Hold,2023-03-20,2023-03-26,SCAI,DBUSAYONG
1,90567670,100393891,RE,Registration Hold,2023-03-20,2023-03-26,SCAI,DBUSAYONG

## Test Score

BT_TEST_SCORE -> ['PIDM_KEY', 'TEST_SCORE_CODE', 'TEST_SCORE_DATE']
GM_ACADEMIC_HISTORY_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY']
xGM_ADMISSIONS_APPLICANT -> ['EXTERNAL_ID'] | ['PIDM_KEY', 'TERM_CODE_KEY', 'APPL_NO_KEY']
GM_APPLICATION_CHECKLIST -> ['EXTERNAL_ID', 'ADMR_CODE_KEY']
GM_FINANCIAL_HISTORY -> ['PIDM_KEY', 'TRANSACTION_ID']
GM_PROGRAM_HISTORY_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY']
GM_STUDENT_DATA -> ['PIDM_KEY']
GM_STUDENT_REGISTRATION_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY'] *Only data for next year (20232, 202320, 20233, 20241)

In [17]:
baseline_filepath = "data/Baseline/BT_TEST_SCORE.csv"
validate_filepath = "data/Validate/Test Score.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_pidmkey",
     "common_col_type": "",
     },
    {"baseline_col_name": "ID",
     "validate_col_name": "lang_id",
     "common_col_type": "",
     },
    {"baseline_col_name": "TEST_SCORE_CODE",
     "validate_col_name": "lang_testscorecode",
     "common_col_type": "",
     },
    {"baseline_col_name": "TEST_SCORE_CODE_DESC",
     "validate_col_name": "lang_testscorecodedescriptionorig",
     "common_col_type": "",
     },
    {"baseline_col_name": "TEST_SCORE",
     "validate_col_name": "lang_testscore",
     "common_col_type": "",
     },
    {"baseline_col_name": "TEST_SCORE_DATE",
     "validate_col_name": "lang_testscoredate",
     "common_col_type": "",
     },
    {"baseline_col_name": "TEST_SCORE_TERM",
     "validate_col_name": "lang_testscoreterm",
     "common_col_type": "",
     },
]
baseline_date_cols = {"TEST_SCORE_DATE": "%d-%b-%y"}
validate_date_cols = {"lang_testscoredate": None}
col_id = ['PIDM_KEY', 'TEST_SCORE_CODE', 'TEST_SCORE_DATE']
baseline_encoding = "latin"
validate_encoding = "utf-8"
# unify_text = False
# text_cols = None
unify_text = False
text_cols = None

In [18]:
test_score_validator = Validator(baseline_filepath=baseline_filepath,
                                 validate_filepath=validate_filepath,
                                 column_mapping=column_mapping,
                                 baseline_date_cols=baseline_date_cols,
                                 validate_date_cols=validate_date_cols,
                                 col_id=col_id,
                                 baseline_encoding=baseline_encoding,
                                 validate_encoding=validate_encoding,
                                 unify_text=unify_text,
                                 text_cols=text_cols,
                                 )
test_score_validator

C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: ID
                    Real Type: int64
                    Expected Type: NA
                Column: TEST_SCORE_CODE
                    Real Type: object
                    Expected Type: NA
                Column: TEST_SCORE_CODE_DESC
                    Real Type: object
                    Expected Type: NA
                Column: TEST_SCORE
                    Real Type: int64
                    Expected Type: NA
                Column: TEST_SCORE_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: TEST_SCORE_TERM
                    Real Type: int64
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_pidmkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_id
                    Real Type: int64
                    Expected Type: NA
                Column: lang_testscorecode
                    Real Type: object
                    Expected Type: NA
                Column: lang_testscorecodedescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_testscore
                    Real Type: int64
                    Expected Type: NA
                Column: lang_testscoredate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_testscoreterm
                    Real Type: int64
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [19]:
test_score_validator.name_mapping

{'lang_pidmkey': 'PIDM_KEY',
 'lang_id': 'ID',
 'lang_testscorecode': 'TEST_SCORE_CODE',
 'lang_testscorecodedescriptionorig': 'TEST_SCORE_CODE_DESC',
 'lang_testscore': 'TEST_SCORE',
 'lang_testscoredate': 'TEST_SCORE_DATE',
 'lang_testscoreterm': 'TEST_SCORE_TERM'}

In [20]:
test_score_validator.check_existence()
test_score_validator.existence_result.sum()

PIDM_KEY                0
TEST_SCORE_CODE         0
TEST_SCORE_DATE         0
ID                      7
TEST_SCORE_CODE_DESC    7
TEST_SCORE              7
TEST_SCORE_TERM         7
dtype: int64

In [21]:
test_score_validator.row_difference

-218808

In [22]:
test_score_validator.col_difference

{'origin_cols_not_in_target': set(),
 'target_cols_not_in_origin': {'lang_student',
  'lang_testscorecodedescription'}}

In [23]:
test_score_validator.duplicated_rows

{'origin': 0, 'target': 0}

In [24]:
test_score_validator.check_equality()
test_score_validator.equality_result

                 ID        TEST_SCORE_CODE_DESC        TEST_SCORE
             origin target               origin target     origin target
475617  100418705.0    NaN           Biology 12    NaN       80.0    NaN  \
475618  100418705.0    NaN         Chemistry 12    NaN       55.0    NaN
475619  100418705.0    NaN           English 12    NaN       75.0    NaN
475620  100418705.0    NaN       Mathematics 11    NaN       64.0    NaN
479450  100421207.0    NaN           English 12    NaN       80.0    NaN
479451  100421207.0    NaN       Mathematics 11    NaN       75.0    NaN
479452  100421207.0    NaN           Physics 12    NaN       71.0    NaN

       TEST_SCORE_TERM
                origin target
475617        202030.0    NaN
475618        202030.0    NaN
475619        202030.0    NaN
475620        201910.0    NaN
479450        202120.0    NaN
479451        202120.0    NaN
479452        202120.0    NaN

In [27]:
test_score_validator.target_rows_not_in_origin

,PIDM_KEY,TEST_SCORE_CODE,TEST_SCORE_DATE,ID,TEST_SCORE_CODE_DESC,TEST_SCORE,TEST_SCORE_TERM
0,90002371,LET,2004-05-08,NaN,NaN,NaN,NaN
1,90002844,CRED,2007-07-27,NaN,NaN,NaN,NaN
2,90002844,ECRD,2008-08-05,NaN,NaN,NaN,NaN
3,90002871,CRED,2007-06-11,NaN,NaN,NaN,NaN
4,90002871,ECRD,2009-05-07,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
218810,90595286,CHE2,2000-06-01,NaN,NaN,NaN,NaN
218811,90595286,ENG2,2000-06-01,NaN,NaN,NaN,NaN
218812,90595286,FRE1,1999-06-01,NaN,NaN,NaN,NaN
218813,90595286,MAT1,1999-06-01,NaN,NaN,NaN,NaN
218814,90595286,MAT2,2000-06-01,NaN,NaN,NaN,NaN

In [28]:
test_score_validator.origin_rows_not_in_target

,PIDM_KEY,TEST_SCORE_CODE,TEST_SCORE_DATE,ID,TEST_SCORE_CODE_DESC,TEST_SCORE,TEST_SCORE_TERM
0,90592816,BIO2,2020-09-01,NaN,NaN,NaN,NaN
1,90592816,CHE2,2020-09-01,NaN,NaN,NaN,NaN
2,90592816,ENG2,2020-09-01,NaN,NaN,NaN,NaN
3,90592816,MAT1,2019-03-03,NaN,NaN,NaN,NaN
4,90595376,ENG2,2021-05-21,NaN,NaN,NaN,NaN
5,90595376,MAT1,2021-05-21,NaN,NaN,NaN,NaN
6,90595376,PHY2,2021-05-21,NaN,NaN,NaN,NaN

## Academic History

GM_ACADEMIC_HISTORY_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY']
GM_ADMISSIONS_APPLICANT -> ['EXTERNAL_ID'] | ['PIDM_KEY', 'TERM_CODE_KEY', 'APPL_NO_KEY']
GM_APPLICATION_CHECKLIST -> ['EXTERNAL_ID', 'ADMR_CODE_KEY']
GM_FINANCIAL_HISTORY -> ['PIDM_KEY', 'TRANSACTION_ID']
GM_PROGRAM_HISTORY_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY']
GM_STUDENT_DATA -> ['PIDM_KEY']
GM_STUDENT_REGISTRATION_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY'] *Only data for next year (20232, 202320, 20233, 20241)

In [7]:
baseline_filepath = "data/Baseline/GM_ACADEMIC_HISTORY_DETAIL.csv"
validate_filepath = "data/Validate/Course History.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_pidmkey",
     "common_col_type": "",
     },
    {"baseline_col_name": "TERM_CODE_KEY",
     "validate_col_name": "lang_termcodekey",
     "common_col_type": "",
     },
    {"baseline_col_name": "CRN_KEY",
     "validate_col_name": "lang_crnkey",
     "common_col_type": "",
     },
    {"baseline_col_name": "ID",
     "validate_col_name": "lang_id",
     "common_col_type": "",
     },
    {"baseline_col_name": "SUBJ_CODE",
     "validate_col_name": "lang_subjectcode",
     "common_col_type": "",
     },
    {"baseline_col_name": "COURSE_NUMBER",
     "validate_col_name": "lang_coursenumber",
     "common_col_type": "",
     },
    {"baseline_col_name": "COURSE_TITLE",
     "validate_col_name": "lang_coursetitleorig",
     "common_col_type": "",
     },
    {"baseline_col_name": "GRADE_CODE",
     "validate_col_name": "lang_gradecode",
     "common_col_type": "",
     },
    {"baseline_col_name": "CREDIT_HOURS",
     "validate_col_name": "mshied_creditsearrned",
     "common_col_type": "",
     },
    {"baseline_col_name": "REPEAT_COURSE_IND",
     "validate_col_name": "lang_repeatcourseind",
     "common_col_type": "",
     },
]
baseline_date_cols = None # {"TEST_SCORE_DATE": "%d-%b-%y"}
validate_date_cols = None # {"lang_testscoredate": None}
col_id = ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY']
baseline_encoding = "latin"
validate_encoding = "utf-8"
# unify_text = False
# text_cols = None
unify_text = False
text_cols = None

In [8]:
acad_hist_validator = Validator(baseline_filepath=baseline_filepath,
                                 validate_filepath=validate_filepath,
                                 column_mapping=column_mapping,
                                 baseline_date_cols=baseline_date_cols,
                                 validate_date_cols=validate_date_cols,
                                 col_id=col_id,
                                 baseline_encoding=baseline_encoding,
                                 validate_encoding=validate_encoding,
                                 unify_text=unify_text,
                                 text_cols=text_cols,
                                 )
acad_hist_validator

C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: TERM_CODE_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: CRN_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: ID
                    Real Type: int64
                    Expected Type: NA
                Column: SUBJ_CODE
                    Real Type: object
                    Expected Type: NA
                Column: COURSE_NUMBER
                    Real Type: int64
                    Expected Type: NA
                Column: COURSE_TITLE
                    Real Type: object
                    Expected Type: NA
                Column: GRADE_CODE
                    Real Type: object
                    Expected Type: NA
                Column: CREDIT_HOURS
                    Real Type: float64
                    Expected Type: NA
                Column: REPEAT_COURSE_IND
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_pidmkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_termcodekey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_crnkey
                    Real Type: object
                    Expected Type: NA
                Column: lang_id
                    Real Type: int64
                    Expected Type: NA
                Column: lang_subjectcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_coursenumber
                    Real Type: object
                    Expected Type: NA
                Column: lang_coursetitleorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_gradecode
                    Real Type: object
                    Expected Type: NA
                Column: mshied_creditsearrned
                    Real Type: float64
                    Expected Type: NA
                Column: lang_repeatcourseind
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [9]:
acad_hist_validator.name_mapping

{'lang_pidmkey': 'PIDM_KEY',
 'lang_termcodekey': 'TERM_CODE_KEY',
 'lang_crnkey': 'CRN_KEY',
 'lang_id': 'ID',
 'lang_subjectcode': 'SUBJ_CODE',
 'lang_coursenumber': 'COURSE_NUMBER',
 'lang_coursetitleorig': 'COURSE_TITLE',
 'lang_gradecode': 'GRADE_CODE',
 'mshied_creditsearrned': 'CREDIT_HOURS',
 'lang_repeatcourseind': 'REPEAT_COURSE_IND'}

In [10]:
acad_hist_validator.check_existence()
acad_hist_validator.existence_result.sum()

C:\Users\dewit\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:406: RuntimeWarning: The values in the array are unorderable. Pass `sort=False` to suppress this warning.
  origin_temp, target_temp = self.__origin_data_for_validation.align(self.__target_data_for_validation, axis=0)

PIDM_KEY                  0
TERM_CODE_KEY             0
CRN_KEY                   0
ID                   225981
SUBJ_CODE            225981
COURSE_NUMBER        225981
COURSE_TITLE         225981
GRADE_CODE           225981
CREDIT_HOURS         225981
REPEAT_COURSE_IND      6824
dtype: int64

In [11]:
acad_hist_validator.row_difference

-478620

In [12]:
acad_hist_validator.col_difference

{'origin_cols_not_in_target': set(),
 'target_cols_not_in_origin': {'lang_subjectdescription',
  'lang_subjectdescriptionorig',
  'lang_termdescriptionorig',
  'mshied_academicperiodid',
  'mshied_courseid',
  'mshied_studentid'}}

In [13]:
acad_hist_validator.duplicated_rows

{'origin': 0, 'target': 0}

In [14]:
acad_hist_validator.check_equality()
acad_hist_validator.equality_result

                 ID        SUBJ_CODE        COURSE_NUMBER
             origin target    origin target        origin target
0       100144835.0    NaN      BUSM    NaN          1100    NaN  \
1       100144835.0    NaN      FMGT    NaN          1115    NaN
2       100148443.0    NaN      PHYS    NaN          2323    NaN
3       100148443.0    NaN      JAPN    NaN          1115    NaN
4       100164679.0    NaN      FLMA    NaN          1270    NaN
...             ...    ...       ...    ...           ...    ...
225976  100357993.0    NaN      ALTR    NaN          1090    NaN
225977  100284208.0    NaN      PSYC    NaN          1215    NaN
225978  100372004.0    NaN      BIOL    NaN          1115    NaN
225979  100372004.0    NaN      BIOL    NaN          2370    NaN
225980  100372004.0    NaN      EXPE    NaN          2300    NaN

                          COURSE_TITLE        GRADE_CODE        CREDIT_HOURS
                                origin target     origin target       origin
0          Intro to Business in Canada    NaN         NG    NaN          3.0  \
1               Financial Accounting I    NaN         NG    NaN          3.0
2                  Newtonian Mechanics    NaN         B+    NaN          3.0
3                Beginner's Japanese I    NaN         C-    NaN          3.0
4       Career Dvpt for the Flm Crftpr    NaN         A-    NaN          3.0
...                                ...    ...        ...    ...          ...
225976         Introduction to Massage    NaN          A    NaN          1.7
225977        Intro Soc, Pers & Abnorm    NaN         A-    NaN          3.0
225978               General Biology I    NaN         B+    NaN          4.0
225979                  Microbiology I    NaN         C+    NaN          3.0
225980   Emplmnt Strtgs Crrnt Lbr Mrkt    NaN         B+    NaN          3.0

              REPEAT_COURSE_IND
       target            origin target
0         NaN               NaN    NaN
1         NaN               NaN    NaN
2         NaN               NaN    NaN
3         NaN               NaN    NaN
4         NaN               NaN    NaN
...       ...               ...    ...
225976    NaN               NaN    NaN
225977    NaN               NaN    NaN
225978    NaN               NaN    NaN
225979    NaN               NaN    NaN
225980    NaN               NaN    NaN

[225981 rows x 14 columns]

In [15]:
acad_hist_validator.target_rows_not_in_origin

,PIDM_KEY,TERM_CODE_KEY,CRN_KEY,ID,SUBJ_CODE,COURSE_NUMBER,COURSE_TITLE,GRADE_CODE,CREDIT_HOURS,REPEAT_COURSE_IND
0,90544859,202220,20342,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90543736,202220,20342,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90542825,202220,20342,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90532530,202220,20342,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90552431,202220,20372,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
704596,90531948,202130,30462,NaN,NaN,NaN,NaN,NaN,NaN,NaN
704597,90500141,202130,30463,NaN,NaN,NaN,NaN,NaN,NaN,NaN
704598,90404599,202130,30463,NaN,NaN,NaN,NaN,NaN,NaN,NaN
704599,90465016,202130,30463,NaN,NaN,NaN,NaN,NaN,NaN,NaN
704600,90476220,202130,30463,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
acad_hist_validator.origin_rows_not_in_target

,PIDM_KEY,TERM_CODE_KEY,CRN_KEY,ID,SUBJ_CODE,COURSE_NUMBER,COURSE_TITLE,GRADE_CODE,CREDIT_HOURS,REPEAT_COURSE_IND
0,90278731,202010,10523,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90278731,202010,11610,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90283871,201810,10719,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90283871,201820,20781,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90306824,201920,20615,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
225976,90530841,20193,70812,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225977,90455674,201930,31187,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225978,90545469,202120,20354,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225979,90545469,202220,20392,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225980,90545469,202230,31145,NaN,NaN,NaN,NaN,NaN,NaN,NaN