In [1]:
import pandas as pd

In [16]:
df1 = pd.read_csv("data/Prod/Baseline/BT_HOLD_DATA.csv", encoding='latin')
df1.head(10)

,PIDM_KEY,ID,HOLD_TYPE,HOLD_DESC,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER
0,90048585,82307851,ZP,A&S Program Update Required,2015-12-16 00:00:00,2015-12-16 14:46:48,NaN,NaN
1,90059654,83216887,ZP,A&S Program Update Required,2020-11-03 00:00:00,2020-11-03 14:22:57,NaN,NaN
2,90063838,83313379,ZP,A&S Program Update Required,2020-11-09 00:00:00,2020-11-09 17:20:46,NaN,NaN
3,90068143,90110701,ZP,A&S Program Update Required,2018-06-02 00:00:00,2018-06-02 20:41:20,NaN,NaN
4,90075363,97207278,ZP,A&S Program Update Required,2019-06-08 00:00:00,2019-07-24 10:41:48,NaN,NaN
5,90076222,84214113,DC,CS-Dean's Hold,2022-11-14 00:00:00,2099-12-31 00:00:00,SCAI,JCHEDDIE
6,90083908,97333520,ZP,A&S Program Update Required,2013-05-16 00:00:00,2999-12-21 00:00:00,NaN,NaN
7,90084059,91107250,ZP,A&S Program Update Required,2023-02-01 00:00:00,2023-03-01 00:00:00,NaN,NaN
8,90084379,97334874,ZP,A&S Program Update Required,2020-04-28 00:00:00,2022-03-03 00:00:00,NaN,NaN
9,90086486,97341887,ZP,A&S Program Update Required,2013-11-18 00:00:00,2013-11-18 09:30:44,NaN,NaN

In [25]:
df1[df1.PIDM_KEY == 90206685]

,PIDM_KEY,ID,HOLD_TYPE,HOLD_DESC,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER
13339,90206685,100078687,ZP,A&S Program Update Required,2018-06-03 00:00:00,2018-06-11 20:02:46,NaN,NaN
17754,90206685,100078687,ZP,A&S Program Update Required,2013-02-01 00:00:00,2018-06-11 20:02:46,NaN,NaN
17755,90206685,100078687,ZP,A&S Program Update Required,2020-02-01 00:00:00,2999-12-21 00:00:00,NaN,NaN
22034,90206685,100078687,ZP,A&S Program Update Required,2018-06-08 00:00:00,2018-06-11 20:02:46,NaN,NaN

In [27]:
df2 = pd.read_csv("data/Prod/Validate/Hold Data.csv")
df2.head()

,lang_pidmkey,lang_student,lang_id,lang_holdtype,lang_holddescriptionorig,lang_holddescription,lang_holdfromdate,lang_holdtodate,lang_holdreason,lang_holduser
0,90206685,F6DD1436-3BF2-ED11-8849-000D3A84D590,100078687,ZP,A&S Program Update Required,A815C574-B4F2-ED11-8849-000D3AF3AC95,2018-06-08 00:00:00.0000000,2018-06-11 00:00:00.0000000,NaN,NaN
1,90082858,2925789B-38F2-ED11-8849-002248AE080F,94322724,ZP,A&S Program Update Required,A815C574-B4F2-ED11-8849-000D3AF3AC95,2022-06-16 00:00:00.0000000,2022-06-17 00:00:00.0000000,NaN,NaN
2,90206685,F6DD1436-3BF2-ED11-8849-000D3A84D590,100078687,ZP,A&S Program Update Required,A815C574-B4F2-ED11-8849-000D3AF3AC95,2013-02-01 00:00:00.0000000,2018-06-11 00:00:00.0000000,NaN,NaN
3,90082968,C85B2413-36F2-ED11-8849-000D3AE8C6E5,91103408,ZP,A&S Program Update Required,A815C574-B4F2-ED11-8849-000D3AF3AC95,2019-02-01 00:00:00.0000000,2019-03-04 00:00:00.0000000,NaN,NaN
4,90206685,F6DD1436-3BF2-ED11-8849-000D3A84D590,100078687,ZP,A&S Program Update Required,A815C574-B4F2-ED11-8849-000D3AF3AC95,2020-02-01 00:00:00.0000000,1999-12-21 00:00:00.0000000,NaN,NaN

In [30]:
df2[df2['lang_pidmkey'] == 90206685]

,lang_pidmkey,lang_student,lang_id,lang_holdtype,lang_holddescriptionorig,lang_holddescription,lang_holdfromdate,lang_holdtodate,lang_holdreason,lang_holduser
0,90206685,F6DD1436-3BF2-ED11-8849-000D3A84D590,100078687,ZP,A&S Program Update Required,A815C574-B4F2-ED11-8849-000D3AF3AC95,2018-06-08 00:00:00.0000000,2018-06-11 00:00:00.0000000,NaN,NaN
2,90206685,F6DD1436-3BF2-ED11-8849-000D3A84D590,100078687,ZP,A&S Program Update Required,A815C574-B4F2-ED11-8849-000D3AF3AC95,2013-02-01 00:00:00.0000000,2018-06-11 00:00:00.0000000,NaN,NaN
4,90206685,F6DD1436-3BF2-ED11-8849-000D3A84D590,100078687,ZP,A&S Program Update Required,A815C574-B4F2-ED11-8849-000D3AF3AC95,2020-02-01 00:00:00.0000000,1999-12-21 00:00:00.0000000,NaN,NaN
6,90206685,F6DD1436-3BF2-ED11-8849-000D3A84D590,100078687,ZP,A&S Program Update Required,A815C574-B4F2-ED11-8849-000D3AF3AC95,2018-06-03 00:00:00.0000000,2018-06-11 00:00:00.0000000,NaN,NaN

In [10]:
df1.dtypes

PIDM_KEY           int64
ID                 int64
HOLD_TYPE         object
HOLD_DESC         object
HOLD_FROM_DATE    object
HOLD_TO_DATE      object
HOLD_REASON       object
HOLD_USER         object
dtype: object

In [36]:
pd.to_datetime(df1.HOLD_TO_DATE, format="%Y-%m-%d %H:%M:%S", errors='coerce')

0       2015-12-16 14:46:48
1       2020-11-03 14:22:57
2       2020-11-09 17:20:46
3       2018-06-02 20:41:20
4       2019-07-24 10:41:48
                ...
34782   2099-12-31 00:00:00
34783   2099-12-31 00:00:00
34784   2099-12-31 00:00:00
34785   2023-02-17 00:00:00
34786   2023-02-17 00:00:00
Name: HOLD_TO_DATE, Length: 34787, dtype: datetime64[ns]

In [37]:
pd.to_datetime(df2.lang_holdtodate)

0       2018-06-11
1       2022-06-17
2       2018-06-11
3       2019-03-04
4       1999-12-21
           ...
34757   2019-06-19
34758   2023-02-17
34759   2012-03-27
34760   2023-02-24
34761   2023-03-31
Name: lang_holdtodate, Length: 34762, dtype: datetime64[ns]

In [23]:
df1[df1.duplicated(subset=['PIDM_KEY', 'HOLD_TYPE', 'HOLD_FROM_DATE', 'HOLD_TO_DATE', 'HOLD_REASON', 'HOLD_USER'], keep=False)].shape

(44, 8)

In [17]:
df1.sort_values(by=['PIDM_KEY'])

,PIDM_KEY,ID,HOLD_TYPE,HOLD_DESC,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER
28145,90001327,100001308,ZP,A&S Program Update Required,17-JUN-20,17-JUN-20,NaN,NaN
32398,90001327,100001308,ZP,A&S Program Update Required,08-JUN-19,17-JUN-20,NaN,NaN
23825,90001327,100001308,ZP,A&S Program Update Required,01-FEB-20,17-JUN-20,NaN,NaN
8869,90002371,100002349,ZP,A&S Program Update Required,11-FEB-20,21-DEC-99,NaN,NaN
17535,90002844,84360361,ZP,A&S Program Update Required,04-JUL-16,21-DEC-99,NaN,NaN
...,...,...,...,...,...,...,...,...
7662,90592643,100418532,RE,Registration Hold,31-JUL-23,31-DEC-99,Final IB Diploma + Transcript,ALY
3465,90592663,100418552,RE,Registration Hold,31-JUL-23,31-DEC-99,Final SMA Certificate,ALY
29061,90592729,100418618,RE,Registration Hold,31-JUL-23,31-DEC-99,Final HS Graduation Diploma,ALY
12254,90592794,100418683,IE,International Ed,09-MAR-23,10-MAR-23,Approval Rec'd by Global,EIKARI
16549,90593800,100419670,RO,Registrar's Hold,15-SEP-23,05-FEB-25,Concurrent Appeal 202330 ONLY,EVULCANO

# Testing

- BT_HOLD_DATA -> ['PIDM_KEY', 'HOLD_TYPE', 'HOLD_FROM_DATE', 'HOLD_TO_DATE', 'HOLD_REASON', 'HOLD_USER']
- BT_TEST_SCORE -> ['PIDM_KEY', 'TEST_SCORE_CODE', 'TEST_SCORE_DATE']
- GM_ACADEMIC_HISTORY_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY']
- xGM_ADMISSIONS_APPLICANT -> ['EXTERNAL_ID'] | ['PIDM_KEY', 'TERM_CODE_KEY', 'APPL_NO_KEY']
- GM_APPLICATION_CHECKLIST -> ['EXTERNAL_ID', 'ADMR_CODE_KEY']
- GM_FINANCIAL_HISTORY -> ['PIDM_KEY', 'TRANSACTION_ID']
- GM_PROGRAM_HISTORY_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY']
- GM_STUDENT_DATA -> ['PIDM_KEY']
- GM_STUDENT_REGISTRATION_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY'] *Only data for next year (20232, 202320, 20233, 20241)

In [1]:
import pandas as pd
from utils import Validator

In [2]:
validators = {}

## Hold Data

BT_HOLD_DATA -> ['PIDM_KEY', 'HOLD_TYPE', 'HOLD_FROM_DATE', 'HOLD_TO_DATE', 'HOLD_REASON', 'HOLD_USER']

In [3]:
baseline_filepath = "data/Prod/Baseline/BT_HOLD_DATA.csv"
validate_filepath = "data/Prod/Validate/Hold Data.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "baseline_col_type": "",
     "validate_col_name": "lang_pidmkey",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "ID",
     "baseline_col_type": "",
     "validate_col_name": "lang_id",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_TYPE",
     "baseline_col_type": "",
     "validate_col_name": "lang_holdtype",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_DESC",
     "baseline_col_type": "",
     "validate_col_name": "lang_holddescriptionorig",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_FROM_DATE",
     "baseline_col_type": "",
     "validate_col_name": "lang_holdfromdate",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_TO_DATE",
     "baseline_col_type": "",
     "validate_col_name": "lang_holdtodate",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_REASON",
     "baseline_col_type": "",
     "validate_col_name": "lang_holdreason",
     "validate_col_type": "",
     "common_col_type": "",
     },
    {"baseline_col_name": "HOLD_USER",
     "baseline_col_type": "",
     "validate_col_name": "lang_holduser",
     "validate_col_type": "",
     "common_col_type": "",
     },
]
baseline_date_cols = {"HOLD_FROM_DATE": None,  # "%d-%b-%y",
                      "HOLD_TO_DATE": None,}  # "%d-%b-%y",}
validate_date_cols = {"lang_holdfromdate": None,
                      "lang_holdtodate": None}
col_id = ['PIDM_KEY', 'HOLD_TYPE', 'HOLD_FROM_DATE', 'HOLD_TO_DATE', 'HOLD_REASON', 'HOLD_USER']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
# unify_text = False
# text_cols = None
unify_text = True
text_cols = ['HOLD_REASON']

In [4]:
cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: ID
                    Real Type: int64
                    Expected Type: NA
                Column: HOLD_TYPE
                    Real Type: object
                    Expected Type: NA
                Column: HOLD_DESC
                    Real Type: object
                    Expected Type: NA
                Column: HOLD_FROM_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: HOLD_TO_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: HOLD_REASON
                    Real Type: object
                    Expected Type: NA
                Column: HOLD_USER
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_pidmkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_id
                    Real Type: int64
                    Expected Type: NA
                Column: lang_holdtype
                    Real Type: object
                    Expected Type: NA
                Column: lang_holddescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_holdfromdate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_holdtodate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_holdreason
                    Real Type: object
                    Expected Type: NA
                Column: lang_holduser
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [5]:
cur_validator.name_mapping

{'lang_pidmkey': 'PIDM_KEY',
 'lang_id': 'ID',
 'lang_holdtype': 'HOLD_TYPE',
 'lang_holddescriptionorig': 'HOLD_DESC',
 'lang_holdfromdate': 'HOLD_FROM_DATE',
 'lang_holdtodate': 'HOLD_TO_DATE',
 'lang_holdreason': 'HOLD_REASON',
 'lang_holduser': 'HOLD_USER'}

In [6]:
cur_validator.check_existence()

,PIDM_KEY,HOLD_TYPE,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER,ID,HOLD_DESC
0,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...
34760,False,False,False,False,False,False,True,True
34761,False,False,False,False,False,False,False,False
34762,False,False,False,False,False,False,True,True
34763,False,False,False,False,False,False,True,True
34764,False,False,False,False,False,False,True,True

In [7]:
cur_validator.existence_result.sum()

PIDM_KEY              0
HOLD_TYPE             0
HOLD_FROM_DATE        0
HOLD_TO_DATE          0
HOLD_REASON           0
HOLD_USER             0
ID                14034
HOLD_DESC         14034
dtype: int64

In [8]:
# Registers with existence flags
(cur_validator.existence_result.sum(axis=1) > 0).sum()

14034

In [9]:
# Total existence flags
cur_validator.existence_result.sum().sum()

28068

In [10]:
cur_validator.row_difference

25

In [11]:
cur_validator.col_difference

{'origin_cols_not_in_target': set(),
 'target_cols_not_in_origin': {'lang_holddescription', 'lang_student'}}

In [12]:
cur_validator.duplicated_rows

{'origin': 22, 'target': 22}

In [13]:
cur_validator.check_equality()

       PIDM_KEY HOLD_TYPE HOLD_FROM_DATE        HOLD_TO_DATE

0      90001327        ZP     2019-06-08 2020-06-17 11:38:10  \
1      90001327        ZP     2020-02-01 2020-06-17 11:38:10
2      90001327        ZP     2020-06-17 2020-06-17 11:38:10
3      90002371        ZP     2020-02-11                 NaT
4      90002871        ZP     2012-03-08 2012-06-22 13:20:15
...         ...       ...            ...                 ...
34759  90594609        FI     2023-04-18 2099-12-31 00:00:00
34760  90594617        IE     2023-05-10 2099-12-31 00:00:00
34762  90594963        IE     2023-04-28 2099-12-31 00:00:00
34763  90595001        IE     2023-05-15 2099-12-31 00:00:00
34764  90595832        IE     2023-05-10 2099-12-31 00:00:00

                         HOLD_REASON HOLD_USER           ID
                                                     origin target
0                                NaN       NaN  100001308.0    NaN  \
1                                NaN       NaN  100001308.0    NaN
2                                NaN       NaN  100001308.0    NaN
3                                NaN       NaN  100002349.0    NaN
4                                NaN       NaN   94347374.0    NaN
...                              ...       ...          ...    ...
34759                EPBC Chargeback    MBERRY  100420464.0    NaN
34760       No proof of study permit    EIKARI  100420472.0    NaN
34762  Proof of Citizenship Required    LSALAS  100420807.0    NaN
34763       No proof of study permit    EIKARI  100420844.0    NaN
34764       No proof of study permit    EIKARI  100421643.0    NaN

                         HOLD_DESC
                            origin target
0      A&S Program Update Required    NaN
1      A&S Program Update Required    NaN
2      A&S Program Update Required    NaN
3      A&S Program Update Required    NaN
4      A&S Program Update Required    NaN
...                            ...    ...
34759                 Finance Hold    NaN
34760             International Ed    NaN
34762             International Ed    NaN
34763             International Ed    NaN
34764             International Ed    NaN

[14034 rows x 10 columns]

In [14]:
cur_validator.target_rows_not_in_origin

,PIDM_KEY,HOLD_TYPE,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER,ID,HOLD_DESC
0,90001327,ZP,2019-06-08,2020-06-17,NaN,NaN,100001308.0,A&S Program Update Required
1,90001327,ZP,2020-02-01,2020-06-17,NaN,NaN,100001308.0,A&S Program Update Required
2,90001327,ZP,2020-06-17,2020-06-17,NaN,NaN,100001308.0,A&S Program Update Required
3,90002371,ZP,2020-02-11,1999-12-21,NaN,NaN,100002349.0,A&S Program Update Required
4,90002871,ZP,2012-03-08,2012-06-22,NaN,NaN,94347374.0,A&S Program Update Required
...,...,...,...,...,...,...,...,...
14004,90594568,IE,2023-05-10,1999-12-31,No proof of study permit,EIKARI,100420426.0,International Ed
14005,90594609,FI,2023-04-18,1999-12-31,EPBC Chargeback,MBERRY,100420464.0,Finance Hold
14006,90594617,IE,2023-05-10,1999-12-31,No proof of study permit,EIKARI,100420472.0,International Ed
14007,90594963,IE,2023-04-28,1999-12-31,Proof of Citizenship Required,LSALAS,100420807.0,International Ed
14008,90595832,IE,2023-05-10,1999-12-31,No proof of study permit,EIKARI,100421643.0,International Ed

In [15]:
cur_validator.origin_rows_not_in_target

,PIDM_KEY,HOLD_TYPE,HOLD_FROM_DATE,HOLD_TO_DATE,HOLD_REASON,HOLD_USER,ID,HOLD_DESC
0,90001327,ZP,2019-06-08,2020-06-17 11:38:10,NaN,NaN,100001308.0,A&S Program Update Required
1,90001327,ZP,2020-02-01,2020-06-17 11:38:10,NaN,NaN,100001308.0,A&S Program Update Required
2,90001327,ZP,2020-06-17,2020-06-17 11:38:10,NaN,NaN,100001308.0,A&S Program Update Required
3,90002371,ZP,2020-02-11,NaT,NaN,NaN,100002349.0,A&S Program Update Required
4,90002871,ZP,2012-03-08,2012-06-22 13:20:15,NaN,NaN,94347374.0,A&S Program Update Required
...,...,...,...,...,...,...,...,...
14029,90594609,FI,2023-04-18,2099-12-31 00:00:00,EPBC Chargeback,MBERRY,100420464.0,Finance Hold
14030,90594617,IE,2023-05-10,2099-12-31 00:00:00,No proof of study permit,EIKARI,100420472.0,International Ed
14031,90594963,IE,2023-04-28,2099-12-31 00:00:00,Proof of Citizenship Required,LSALAS,100420807.0,International Ed
14032,90595001,IE,2023-05-15,2099-12-31 00:00:00,No proof of study permit,EIKARI,100420844.0,International Ed
14033,90595832,IE,2023-05-10,2099-12-31 00:00:00,No proof of study permit,EIKARI,100421643.0,International Ed

In [16]:
validators['hold_data'] = cur_validator

In [17]:
validators['hold_data'].equality_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14034 entries, 0 to 34764
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   (PIDM_KEY, )         14034 non-null  int64
 1   (HOLD_TYPE, )        14034 non-null  object
 2   (HOLD_FROM_DATE, )   14034 non-null  datetime64[ns]
 3   (HOLD_TO_DATE, )     8610 non-null   datetime64[ns]
 4   (HOLD_REASON, )      4648 non-null   object
 5   (HOLD_USER, )        3935 non-null   object
 6   (ID, origin)         14034 non-null  float64
 7   (ID, target)         0 non-null      float64
 8   (HOLD_DESC, origin)  14034 non-null  object
 9   (HOLD_DESC, target)  0 non-null      object
dtypes: datetime64[ns](2), float64(2), int64(1), object(5)
memory usage: 1.2+ MB

## Test Score

BT_TEST_SCORE -> ['PIDM_KEY', 'TEST_SCORE_CODE', 'TEST_SCORE_DATE']

In [18]:
baseline_filepath = "data/Prod/Baseline/BT_TEST_SCORE.csv"
validate_filepath = "data/Prod/Validate/Test Score.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_pidmkey",
     "common_col_type": "",
     },
    {"baseline_col_name": "ID",
     "validate_col_name": "lang_id",
     "common_col_type": "",
     },
    {"baseline_col_name": "TEST_SCORE_CODE",
     "validate_col_name": "lang_testscorecode",
     "common_col_type": "",
     },
    {"baseline_col_name": "TEST_SCORE_CODE_DESC",
     "validate_col_name": "lang_testscorecodedescriptionorig",
     "common_col_type": "",
     },
    {"baseline_col_name": "TEST_SCORE",
     "validate_col_name": "lang_testscore",
     "common_col_type": "",
     },
    {"baseline_col_name": "TEST_SCORE_DATE",
     "validate_col_name": "lang_testscoredate",
     "common_col_type": "",
     },
    {"baseline_col_name": "TEST_SCORE_TERM",
     "validate_col_name": "lang_testscoreterm",
     "common_col_type": "",
     },
]
baseline_date_cols = {"TEST_SCORE_DATE": None}
validate_date_cols = {"lang_testscoredate": None}
col_id = ['PIDM_KEY', 'TEST_SCORE_CODE', 'TEST_SCORE_DATE']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
# unify_text = False
# text_cols = None
unify_text = False
text_cols = None

In [19]:
cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: ID
                    Real Type: int64
                    Expected Type: NA
                Column: TEST_SCORE_CODE
                    Real Type: object
                    Expected Type: NA
                Column: TEST_SCORE_CODE_DESC
                    Real Type: object
                    Expected Type: NA
                Column: TEST_SCORE
                    Real Type: int64
                    Expected Type: NA
                Column: TEST_SCORE_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: TEST_SCORE_TERM
                    Real Type: int64
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_pidmkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_id
                    Real Type: int64
                    Expected Type: NA
                Column: lang_testscorecode
                    Real Type: object
                    Expected Type: NA
                Column: lang_testscorecodedescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_testscore
                    Real Type: int64
                    Expected Type: NA
                Column: lang_testscoredate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_testscoreterm
                    Real Type: int64
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [20]:
cur_validator.name_mapping

{'lang_pidmkey': 'PIDM_KEY',
 'lang_id': 'ID',
 'lang_testscorecode': 'TEST_SCORE_CODE',
 'lang_testscorecodedescriptionorig': 'TEST_SCORE_CODE_DESC',
 'lang_testscore': 'TEST_SCORE',
 'lang_testscoredate': 'TEST_SCORE_DATE',
 'lang_testscoreterm': 'TEST_SCORE_TERM'}

In [21]:
cur_validator.check_existence()

,PIDM_KEY,TEST_SCORE_CODE,TEST_SCORE_DATE,ID,TEST_SCORE_CODE_DESC,TEST_SCORE,TEST_SCORE_TERM
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
706510,False,False,False,True,True,True,True
706511,False,False,False,True,True,True,True
706512,False,False,False,True,True,True,True
706513,False,False,False,True,True,True,True
706514,False,False,False,True,True,True,True

In [22]:
cur_validator.existence_result.sum()

PIDM_KEY                  0
TEST_SCORE_CODE           0
TEST_SCORE_DATE           0
ID                      503
TEST_SCORE_CODE_DESC    503
TEST_SCORE              503
TEST_SCORE_TERM         503
dtype: int64

In [23]:
# Registers with existence flags
(cur_validator.existence_result.sum(axis=1) > 0).sum()

503

In [24]:
# Total existence flags
cur_validator.existence_result.sum().sum()

2012

In [25]:
cur_validator.row_difference

432

In [26]:
cur_validator.col_difference

{'origin_cols_not_in_target': set(),
 'target_cols_not_in_origin': {'lang_student',
  'lang_testscorecodedescription'}}

In [27]:
cur_validator.duplicated_rows

{'origin': 0, 'target': 0}

In [28]:
cur_validator.check_equality()

        PIDM_KEY TEST_SCORE_CODE TEST_SCORE_DATE           ID
                                                       origin target
5113    90155137            LPXE      1994-02-01  100033857.0    NaN  \
6701    90178185             LET      2002-03-23  100056898.0    NaN
6702    90178185             LET      2003-04-05  100056898.0    NaN
6703    90178185             LET      2003-05-24  100056898.0    NaN
42076   90361514            BIO2      2023-06-01  100202282.0    NaN
...          ...             ...             ...          ...    ...
706510  90596409            PHY1      2022-06-01  100422199.0    NaN
706511  90596409            PHY2      2023-06-01  100422199.0    NaN
706512  90596409            PRC1      2022-06-01  100422199.0    NaN
706513  90596409            PRC2      2023-06-01  100422199.0    NaN
706514  90596424            DUOL      2023-05-10  100422214.0    NaN

         TEST_SCORE_CODE_DESC        TEST_SCORE        TEST_SCORE_TERM
                       origin target     origin target          origin target
5113       LPI - Exempt Essay    NaN       25.0    NaN        199410.0    NaN
6701     Langara English Test    NaN        1.0    NaN        200210.0    NaN
6702     Langara English Test    NaN        2.0    NaN        200310.0    NaN
6703     Langara English Test    NaN        1.0    NaN        200320.0    NaN
42076              Biology 12    NaN       75.0    NaN        202320.0    NaN
...                       ...    ...        ...    ...             ...    ...
706510             Physics 11    NaN       65.0    NaN        202220.0    NaN
706511             Physics 12    NaN       62.0    NaN        202320.0    NaN
706512         Precalculus 11    NaN       60.0    NaN        202220.0    NaN
706513         Precalculus 12    NaN       61.0    NaN        202320.0    NaN
706514  Duolingo English Test    NaN      110.0    NaN        202320.0    NaN

[514 rows x 11 columns]

In [29]:
cur_validator.target_rows_not_in_origin

,PIDM_KEY,TEST_SCORE_CODE,TEST_SCORE_DATE,ID,TEST_SCORE_CODE_DESC,TEST_SCORE,TEST_SCORE_TERM
0,90415869,BIO2,2012-06-01,100248183.0,Biology 12,90.0,201220.0
1,90415869,CHE1,2011-06-01,100248183.0,Chemistry 11,92.0,201120.0
2,90415869,CHE2,2012-06-01,100248183.0,Chemistry 12,83.0,201220.0
3,90415869,ENG2,2012-06-01,100248183.0,English 12,87.0,201220.0
4,90415869,MAT1,2011-06-01,100248183.0,Mathematics 11,86.0,201120.0
...,...,...,...,...,...,...,...
66,90590078,IELW,2022-11-26,100415996.0,IELTS Writing,60.0,999999.0
67,90591064,IELL,2022-11-12,100416976.0,IELTS Listening,85.0,999999.0
68,90591064,IELS,2022-11-12,100416976.0,IELTS Speaking,60.0,999999.0
69,90591064,IELT,2022-11-12,100416976.0,Int. Eng. Lang.Testing (IELTS),70.0,999999.0
70,90591064,IELW,2022-11-12,100416976.0,IELTS Writing,60.0,999999.0

In [30]:
cur_validator.origin_rows_not_in_target

,PIDM_KEY,TEST_SCORE_CODE,TEST_SCORE_DATE,ID,TEST_SCORE_CODE_DESC,TEST_SCORE,TEST_SCORE_TERM
0,90155137,LPXE,1994-02-01,100033857.0,LPI - Exempt Essay,25.0,199410.0
1,90178185,LET,2002-03-23,100056898.0,Langara English Test,1.0,200210.0
2,90178185,LET,2003-04-05,100056898.0,Langara English Test,2.0,200310.0
3,90178185,LET,2003-05-24,100056898.0,Langara English Test,1.0,200320.0
4,90361514,BIO2,2023-06-01,100202282.0,Biology 12,75.0,202320.0
...,...,...,...,...,...,...,...
498,90596409,PHY1,2022-06-01,100422199.0,Physics 11,65.0,202220.0
499,90596409,PHY2,2023-06-01,100422199.0,Physics 12,62.0,202320.0
500,90596409,PRC1,2022-06-01,100422199.0,Precalculus 11,60.0,202220.0
501,90596409,PRC2,2023-06-01,100422199.0,Precalculus 12,61.0,202320.0
502,90596424,DUOL,2023-05-10,100422214.0,Duolingo English Test,110.0,202320.0

In [31]:
validators['test_score'] = cur_validator

In [32]:
validators['test_score'].equality_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 514 entries, 5113 to 706514
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   (PIDM_KEY, )                    514 non-null    int64
 1   (TEST_SCORE_CODE, )             514 non-null    object
 2   (TEST_SCORE_DATE, )             451 non-null    datetime64[ns]
 3   (ID, origin)                    503 non-null    float64
 4   (ID, target)                    0 non-null      float64
 5   (TEST_SCORE_CODE_DESC, origin)  503 non-null    object
 6   (TEST_SCORE_CODE_DESC, target)  0 non-null      object
 7   (TEST_SCORE, origin)            514 non-null    float64
 8   (TEST_SCORE, target)            11 non-null     float64
 9   (TEST_SCORE_TERM, origin)       503 non-null    float64
 10  (TEST_SCORE_TERM, target)       0 non-null      float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 48.2+ KB

## Academic History

BT_ACADEMIC_HISTORY_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY']

In [33]:
baseline_filepath = "data/Prod/Baseline/BT_ACADEMIC_HISTORY_DETAIL.csv"
validate_filepath = "data/Prod/Validate/Course History.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_pidmkey",
     "common_col_type": "",
     },
    {"baseline_col_name": "TERM_CODE_KEY",
     "validate_col_name": "lang_termcodekey",
     "common_col_type": "",
     },
    {"baseline_col_name": "CRN_KEY",
     "validate_col_name": "lang_crnkey",
     "common_col_type": "string",
     },
    {"baseline_col_name": "ID",
     "validate_col_name": "lang_id",
     "common_col_type": "",
     },
    {"baseline_col_name": "SUBJ_CODE",
     "validate_col_name": "lang_subjectcode",
     "common_col_type": "",
     },
    {"baseline_col_name": "COURSE_NUMBER",
     "validate_col_name": "lang_coursenumber",
     "common_col_type": "string",
     },
    {"baseline_col_name": "COURSE_TITLE",
     "validate_col_name": "lang_coursetitleorig",
     "common_col_type": "",
     },
    {"baseline_col_name": "GRADE_CODE",
     "validate_col_name": "lang_gradecode",
     "common_col_type": "",
     },
    {"baseline_col_name": "CREDIT_HOURS",
     "validate_col_name": "mshied_creditsearrned",
     "common_col_type": "",
     },
    {"baseline_col_name": "REPEAT_COURSE_IND",
     "validate_col_name": "lang_repeatcourseind",
     "common_col_type": "",
     },
]
baseline_date_cols = None # {"TEST_SCORE_DATE": "%d-%b-%y"}
validate_date_cols = None # {"lang_testscoredate": None}
col_id = ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
# unify_text = False
# text_cols = None
unify_text = False
text_cols = None

In [34]:
cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:311: UserWarning:     Common data type does not match origin data type. Validation    will force common data type.
  warnings.warn("    Common data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: TERM_CODE_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: CRN_KEY
                    Real Type: object
                    Expected Type: NA
                Column: ID
                    Real Type: int64
                    Expected Type: NA
                Column: SUBJ_CODE
                    Real Type: object
                    Expected Type: NA
                Column: COURSE_NUMBER
                    Real Type: object
                    Expected Type: NA
                Column: COURSE_TITLE
                    Real Type: object
                    Expected Type: NA
                Column: GRADE_CODE
                    Real Type: object
                    Expected Type: NA
                Column: CREDIT_HOURS
                    Real Type: float64
                    Expected Type: NA
                Column: REPEAT_COURSE_IND
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_pidmkey
                    Real Type: float64
                    Expected Type: NA
                Column: lang_termcodekey
                    Real Type: float64
                    Expected Type: NA
                Column: lang_crnkey
                    Real Type: object
                    Expected Type: NA
                Column: lang_id
                    Real Type: float64
                    Expected Type: NA
                Column: lang_subjectcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_coursenumber
                    Real Type: object
                    Expected Type: NA
                Column: lang_coursetitleorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_gradecode
                    Real Type: object
                    Expected Type: NA
                Column: mshied_creditsearrned
                    Real Type: float64
                    Expected Type: NA
                Column: lang_repeatcourseind
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [35]:
cur_validator.name_mapping

{'lang_pidmkey': 'PIDM_KEY',
 'lang_termcodekey': 'TERM_CODE_KEY',
 'lang_crnkey': 'CRN_KEY',
 'lang_id': 'ID',
 'lang_subjectcode': 'SUBJ_CODE',
 'lang_coursenumber': 'COURSE_NUMBER',
 'lang_coursetitleorig': 'COURSE_TITLE',
 'lang_gradecode': 'GRADE_CODE',
 'mshied_creditsearrned': 'CREDIT_HOURS',
 'lang_repeatcourseind': 'REPEAT_COURSE_IND'}

In [36]:
cur_validator.check_existence()

,PIDM_KEY,TERM_CODE_KEY,CRN_KEY,ID,SUBJ_CODE,COURSE_NUMBER,COURSE_TITLE,GRADE_CODE,CREDIT_HOURS,REPEAT_COURSE_IND
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
746484,False,False,False,False,False,False,False,False,False,False
746485,False,False,False,False,False,False,False,False,False,False
746486,False,False,False,False,False,False,False,False,False,False
746487,False,False,False,False,False,False,False,False,False,False
746488,False,False,False,False,False,False,False,False,False,False

In [37]:
cur_validator.existence_result.sum()

PIDM_KEY              0
TERM_CODE_KEY         0
CRN_KEY               0
ID                   55
SUBJ_CODE            55
COURSE_NUMBER        55
COURSE_TITLE         55
GRADE_CODE           55
CREDIT_HOURS         55
REPEAT_COURSE_IND     0
dtype: int64

In [38]:
# Registers with existence flags
(cur_validator.existence_result.sum(axis=1) > 0).sum()

55

In [39]:
# Total existence flags
cur_validator.existence_result.sum().sum()

330

In [40]:
cur_validator.row_difference

1

In [41]:
cur_validator.col_difference

{'origin_cols_not_in_target': set(),
 'target_cols_not_in_origin': {'lang_subjectdescription',
  'lang_subjectdescriptionorig',
  'lang_termdescriptionorig',
  'mshied_academicperiodid',
  'mshied_courseid',
  'mshied_studentid'}}

In [42]:
cur_validator.duplicated_rows

{'origin': 0, 'target': 20}

In [43]:
cur_validator.check_equality()

          PIDM_KEY TERM_CODE_KEY CRN_KEY           ID        SUBJ_CODE
                                               origin target    origin target
5528    90080034.0       20231.0   50310   84310796.0    NaN      ASSC    NaN  \
9162    90101179.0      202310.0   10280          NaN    NaN       NaN    NaN
12438   90119718.0      202310.0   10280          NaN    NaN       NaN    NaN
18836   90155137.0      200130.0   30699  100033857.0    NaN      JOUR    NaN
18837   90155137.0      200130.0   30700  100033857.0    NaN      JOUR    NaN
...            ...           ...     ...          ...    ...       ...    ...
742445  90580064.0       20231.0   50369          NaN    NaN       NaN    NaN
742843  90580397.0       20231.0   50223  100406462.0    NaN      CSFW    NaN
743983  90581354.0       20231.0   50223  100407397.0    NaN      CSFW    NaN
746063  90589844.0       20231.0   50223  100415774.0    NaN      CSFW    NaN
746204  90591078.0       20231.0   50223  100416990.0    NaN      CSFW    NaN

       COURSE_NUMBER                        COURSE_TITLE        GRADE_CODE
              origin target                       origin target     origin
5528            2075   <NA>        ExA: Onsite Practicum    NaN          S  \
9162            <NA>   <NA>                          NaN    NaN          A
12438           <NA>   <NA>                          NaN    NaN          A
18836           1147   <NA>             Editing & Design    NaN         A-
18837           1168   <NA>             Photo Journalism    NaN         B+
...              ...    ...                          ...    ...        ...
742445          <NA>   <NA>                          NaN    NaN          B
742843          1004   <NA>  Sage 300-1 ACCPAC 1- Online    NaN         A-
743983          1004   <NA>  Sage 300-1 ACCPAC 1- Online    NaN          N
746063          1004   <NA>  Sage 300-1 ACCPAC 1- Online    NaN          A
746204          1004   <NA>  Sage 300-1 ACCPAC 1- Online    NaN          A

              CREDIT_HOURS        REPEAT_COURSE_IND
       target       origin target            origin target
5528      NaN         30.0    NaN               NaN    NaN
9162       IP          NaN    NaN               NaN    NaN
12438      IP          NaN    NaN               NaN    NaN
18836     NaN          3.0    NaN               NaN    NaN
18837     NaN          2.0    NaN               NaN    NaN
...       ...          ...    ...               ...    ...
742445      I          NaN    NaN               NaN    NaN
742843    NaN          1.8    NaN               NaN    NaN
743983    NaN          1.8    NaN               NaN    NaN
746063    NaN          1.8    NaN               NaN    NaN
746204    NaN          1.8    NaN               NaN    NaN

[101 rows x 17 columns]

In [44]:
validators['academic_history'] = cur_validator

In [45]:
validators['academic_history'].equality_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 5528 to 746204
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   (PIDM_KEY, )                 101 non-null    float64
 1   (TERM_CODE_KEY, )            101 non-null    float64
 2   (CRN_KEY, )                  101 non-null    string
 3   (ID, origin)                 55 non-null     float64
 4   (ID, target)                 0 non-null      float64
 5   (SUBJ_CODE, origin)          55 non-null     object
 6   (SUBJ_CODE, target)          0 non-null      object
 7   (COURSE_NUMBER, origin)      55 non-null     string
 8   (COURSE_NUMBER, target)      0 non-null      string
 9   (COURSE_TITLE, origin)       55 non-null     object
 10  (COURSE_TITLE, target)       0 non-null      object
 11  (GRADE_CODE, origin)         100 non-null    object
 12  (GRADE_CODE, target)         45 non-null     object
 13  (CREDIT_HOURS, origin)       55 non-null     float64
 14  (CREDIT_HOURS, target)       0 non-null      float64
 15  (REPEAT_COURSE_IND, origin)  0 non-null      object
 16  (REPEAT_COURSE_IND, target)  1 non-null      object
dtypes: float64(6), object(8), string(3)
memory usage: 14.2+ KB

## Admissions Applicant

BT_ADMISSIONS_APPLICANT -> ['EXTERNAL_ID'] | ['PIDM_KEY', 'TERM_CODE_KEY', 'APPL_NO_KEY']

In [46]:
baseline_filepath = "data/Prod/Baseline/BT_ADMISSIONS_APPLICANT.csv"
validate_filepath = "data/Prod/Validate/Admissions Applicant (Custom).csv"
column_mapping = [
    {"baseline_col_name": "EXTERNAL_ID",
     "validate_col_name": "lang_externalid",
     "common_col_type": "",
     },
    # {"baseline_col_name": "PIDM_KEY",
    #  "validate_col_name": "",
    #  "common_col_type": "",
    #  },
    {"baseline_col_name": "TERM_CODE_KEY",
     "validate_col_name": "lang_termcodekey",
     "common_col_type": "",
     },
    {"baseline_col_name": "TERM_DESC",
     "validate_col_name": "lang_termdescriptionorig",
     "common_col_type": "",
     },
    {"baseline_col_name": "APPL_NO_KEY",
     "validate_col_name": "lang_applicationnumberkey",
     "common_col_type": "",
     },
    {"baseline_col_name": "COMPLETE_IND",
     "validate_col_name": "lang_completeind",
     "common_col_type": "",
     },
    {"baseline_col_name": "INCOMPLETE_IND",
     "validate_col_name": "lang_incompleteind",
     "common_col_type": "",
     },
    {"baseline_col_name": "ID",
     "validate_col_name": "lang_id",
     "common_col_type": "string",
     },
    {"baseline_col_name": "APPLICATION_DATE",
     "validate_col_name": "lang_applicationdate",
     "common_col_type": "",
     },
    {"baseline_col_name": "ADMT_CODE",
     "validate_col_name": "lang_admtcode",
     "common_col_type": "",
     },
    {"baseline_col_name": "ADMT_DESC",
     "validate_col_name": "lang_admtdescriptionorig",
     "common_col_type": "",
     },
    {"baseline_col_name": "PROGRAM_CODE",
     "validate_col_name": "lang_programcode",
     "common_col_type": "",
     },
    {"baseline_col_name": "PROGRAM_DESC1",
     "validate_col_name": "lang_programnameorig",
     "common_col_type": "",
     },
    {"baseline_col_name": "MAJOR",
     "validate_col_name": "lang_major",
     "common_col_type": "",
     },
    {"baseline_col_name": "CONCENTRATION",
     "validate_col_name": "lang_concentration",
     "common_col_type": "",
     },
    {"baseline_col_name": "APDC_CODE1",
     "validate_col_name": "lang_apdccode1",
     "common_col_type": "",
     },
    {"baseline_col_name": "APDC_DESC1",
     "validate_col_name": "lang_apdcdescriptionorig",
     "common_col_type": "",
     },
    {"baseline_col_name": "APDC_DECISION_DATE1",
     "validate_col_name": "lang_apdcdecisiondate1",
     "common_col_type": "",
     },
    {"baseline_col_name": "INTERNATIONAL_LEGAL_NATION",
     "validate_col_name": "lang_internationallegalnation",
     "common_col_type": "",
     },
    {"baseline_col_name": "RESD_CODE",
     "validate_col_name": "lang_residentcode",
     "common_col_type": "",
     },
    {"baseline_col_name": "RESD_DESC",
     "validate_col_name": "lang_residentdescriptionorig",
     "common_col_type": "",
     },
    {"baseline_col_name": "STUDENT_TYPE",
     "validate_col_name": "lang_studenttype",
     "common_col_type": "",
     },
    {"baseline_col_name": "PGM_TYPE",
     "validate_col_name": "lang_pgmtype",
     "common_col_type": "",
     },
    {"baseline_col_name": "PGM_TYPE_DESC",
     "validate_col_name": "lang_pgmtypedescriptionorig",
     "common_col_type": "",
     },
    # {"baseline_col_name": "XML_DOC_ID",
    #  "validate_col_name": "",
    #  "common_col_type": "",
    #  },
    # {"baseline_col_name": "WEB_ID",
    #  "validate_col_name": "",
    #  "common_col_type": "",
    #  },
]
baseline_date_cols = {"APPLICATION_DATE": None,  # "%d-%b-%y",
                      "APDC_DECISION_DATE1": None,}  # "%d-%b-%y",}
validate_date_cols = {"lang_applicationdate": None,
                      "lang_apdcdecisiondate1": None}
col_id = ['EXTERNAL_ID']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
unify_text = False
text_cols = None
# unify_text = True
# text_cols = ['HOLD_REASON']

In [47]:
cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:311: UserWarning:     Common data type does not match origin data type. Validation    will force common data type.
  warnings.warn("    Common data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: EXTERNAL_ID
                    Real Type: int64
                    Expected Type: NA
                Column: TERM_CODE_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: TERM_DESC
                    Real Type: object
                    Expected Type: NA
                Column: APPL_NO_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: COMPLETE_IND
                    Real Type: object
                    Expected Type: NA
                Column: INCOMPLETE_IND
                    Real Type: object
                    Expected Type: NA
                Column: ID
                    Real Type: object
                    Expected Type: NA
                Column: APPLICATION_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: ADMT_CODE
                    Real Type: object
                    Expected Type: NA
                Column: ADMT_DESC
                    Real Type: object
                    Expected Type: NA
                Column: PROGRAM_CODE
                    Real Type: object
                    Expected Type: NA
                Column: PROGRAM_DESC1
                    Real Type: object
                    Expected Type: NA
                Column: MAJOR
                    Real Type: object
                    Expected Type: NA
                Column: CONCENTRATION
                    Real Type: object
                    Expected Type: NA
                Column: APDC_CODE1
                    Real Type: object
                    Expected Type: NA
                Column: APDC_DESC1
                    Real Type: object
                    Expected Type: NA
                Column: APDC_DECISION_DATE1
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: INTERNATIONAL_LEGAL_NATION
                    Real Type: float64
                    Expected Type: NA
                Column: RESD_CODE
                    Real Type: object
                    Expected Type: NA
                Column: RESD_DESC
                    Real Type: object
                    Expected Type: NA
                Column: STUDENT_TYPE
                    Real Type: object
                    Expected Type: NA
                Column: PGM_TYPE
                    Real Type: object
                    Expected Type: NA
                Column: PGM_TYPE_DESC
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_externalid
                    Real Type: int64
                    Expected Type: NA
                Column: lang_termcodekey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_termdescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_applicationnumberkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_completeind
                    Real Type: object
                    Expected Type: NA
                Column: lang_incompleteind
                    Real Type: object
                    Expected Type: NA
                Column: lang_id
                    Real Type: int64
                    Expected Type: NA
                Column: lang_applicationdate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_admtcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_admtdescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_programcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_programnameorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_major
                    Real Type: object
                    Expected Type: NA
                Column: lang_concentration
                    Real Type: object
                    Expected Type: NA
                Column: lang_apdccode1
                    Real Type: object
                    Expected Type: NA
                Column: lang_apdcdescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_apdcdecisiondate1
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_internationallegalnation
                    Real Type: float64
                    Expected Type: NA
                Column: lang_residentcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_residentdescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_studenttype
                    Real Type: object
                    Expected Type: NA
                Column: lang_pgmtype
                    Real Type: object
                    Expected Type: NA
                Column: lang_pgmtypedescriptionorig
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [48]:
cur_validator.name_mapping

{'lang_externalid': 'EXTERNAL_ID',
 'lang_termcodekey': 'TERM_CODE_KEY',
 'lang_termdescriptionorig': 'TERM_DESC',
 'lang_applicationnumberkey': 'APPL_NO_KEY',
 'lang_completeind': 'COMPLETE_IND',
 'lang_incompleteind': 'INCOMPLETE_IND',
 'lang_id': 'ID',
 'lang_applicationdate': 'APPLICATION_DATE',
 'lang_admtcode': 'ADMT_CODE',
 'lang_admtdescriptionorig': 'ADMT_DESC',
 'lang_programcode': 'PROGRAM_CODE',
 'lang_programnameorig': 'PROGRAM_DESC1',
 'lang_major': 'MAJOR',
 'lang_concentration': 'CONCENTRATION',
 'lang_apdccode1': 'APDC_CODE1',
 'lang_apdcdescriptionorig': 'APDC_DESC1',
 'lang_apdcdecisiondate1': 'APDC_DECISION_DATE1',
 'lang_internationallegalnation': 'INTERNATIONAL_LEGAL_NATION',
 'lang_residentcode': 'RESD_CODE',
 'lang_residentdescriptionorig': 'RESD_DESC',
 'lang_studenttype': 'STUDENT_TYPE',
 'lang_pgmtype': 'PGM_TYPE',
 'lang_pgmtypedescriptionorig': 'PGM_TYPE_DESC'}

In [49]:
cur_validator.check_existence()

,EXTERNAL_ID,TERM_CODE_KEY,TERM_DESC,APPL_NO_KEY,COMPLETE_IND,INCOMPLETE_IND,ID,APPLICATION_DATE,ADMT_CODE,ADMT_DESC,...,CONCENTRATION,APDC_CODE1,APDC_DESC1,APDC_DECISION_DATE1,INTERNATIONAL_LEGAL_NATION,RESD_CODE,RESD_DESC,STUDENT_TYPE,PGM_TYPE,PGM_TYPE_DESC
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213749,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
213750,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
213751,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
213752,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
213753,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [50]:
cur_validator.existence_result.sum()

EXTERNAL_ID                     0
TERM_CODE_KEY                 257
TERM_DESC                     257
APPL_NO_KEY                   257
COMPLETE_IND                  257
INCOMPLETE_IND                257
ID                            257
APPLICATION_DATE              257
ADMT_CODE                     257
ADMT_DESC                     257
PROGRAM_CODE                  257
PROGRAM_DESC1                 254
MAJOR                         257
CONCENTRATION                   7
APDC_CODE1                    257
APDC_DESC1                    257
APDC_DECISION_DATE1           257
INTERNATIONAL_LEGAL_NATION    251
RESD_CODE                     257
RESD_DESC                     257
STUDENT_TYPE                  257
PGM_TYPE                      252
PGM_TYPE_DESC                 252
dtype: int64

In [51]:
# Registers with existence flags
(cur_validator.existence_result.sum(axis=1) > 0).sum()

265

In [52]:
# Total existence flags
cur_validator.existence_result.sum().sum()

5385

In [53]:
cur_validator.row_difference

254

In [54]:
cur_validator.col_difference

{'origin_cols_not_in_target': {'PIDM_KEY', 'WEB_ID', 'XML_DOC_ID'},
 'target_cols_not_in_origin': {'bsi_admtdescription',
  'bsi_apdcdescription',
  'bsi_applicant',
  'bsi_programdescription',
  'bsi_residentdescription',
  'bsi_termdescription',
  'lang_id.1'}}

In [55]:
cur_validator.duplicated_rows

{'origin': 0, 'target': 0}

In [56]:
cur_validator.check_equality()

             EXTERNAL_ID TERM_CODE_KEY        TERM_DESC        APPL_NO_KEY
                                origin target    origin target      origin
0        900013272019101           NaN    NaN       NaN    NaN         NaN  \
1        900016532002201           NaN    NaN       NaN    NaN         NaN
2        900023712004301           NaN    NaN       NaN    NaN         NaN
3        900028711999301           NaN    NaN       NaN    NaN         NaN
4        900044912019201           NaN    NaN       NaN    NaN         NaN
...                  ...           ...    ...       ...    ...         ...
213749  9055170020241010           NaN    NaN       NaN    NaN         NaN
213750  9055658620223010           NaN    NaN       NaN    NaN         NaN
213751  9056844620232010           NaN    NaN       NaN    NaN         NaN
213752  9056844620241011           NaN    NaN       NaN    NaN         NaN
213753  9056844620241012           NaN    NaN       NaN    NaN         NaN

              COMPLETE_IND        INCOMPLETE_IND  ... RESD_CODE
       target       origin target         origin  ...    origin target
0         NaN          NaN    NaN            NaN  ...       NaN    NaN  \
1         NaN          NaN    NaN            NaN  ...       NaN    NaN
2         NaN          NaN    NaN            NaN  ...       NaN    NaN
3         NaN          NaN    NaN            NaN  ...       NaN    NaN
4         NaN          NaN    NaN            NaN  ...       NaN    NaN
...       ...          ...    ...            ...  ...       ...    ...
213749    NaN          NaN    NaN            NaN  ...       NaN    NaN
213750    NaN          NaN    NaN            NaN  ...       NaN    NaN
213751    NaN          NaN    NaN            NaN  ...       NaN    NaN
213752    NaN          NaN    NaN            NaN  ...       NaN    NaN
213753    NaN          NaN    NaN            NaN  ...       NaN    NaN

       RESD_DESC        STUDENT_TYPE        PGM_TYPE        PGM_TYPE_DESC
          origin target       origin target   origin target        origin
0            NaN    NaN          NaN    NaN      NaN    NaN           NaN  \
1            NaN    NaN          NaN    NaN      NaN    NaN           NaN
2            NaN    NaN          NaN    NaN      NaN    NaN           NaN
3            NaN    NaN          NaN    NaN      NaN    NaN           NaN
4            NaN    NaN          NaN    NaN      NaN    NaN           NaN
...          ...    ...          ...    ...      ...    ...           ...
213749       NaN    NaN          NaN    NaN      NaN    NaN           NaN
213750       NaN    NaN          NaN    NaN      NaN    NaN           NaN
213751       NaN    NaN          NaN    NaN      NaN    NaN           NaN
213752       NaN    NaN          NaN    NaN      NaN    NaN           NaN
213753       NaN    NaN          NaN    NaN      NaN    NaN           NaN


       target
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
213749    NaN
213750    NaN
213751    NaN
213752    NaN
213753    NaN

[213754 rows x 45 columns]

In [57]:
cur_validator.target_rows_not_in_origin

,EXTERNAL_ID,TERM_CODE_KEY,TERM_DESC,APPL_NO_KEY,COMPLETE_IND,INCOMPLETE_IND,ID,APPLICATION_DATE,ADMT_CODE,ADMT_DESC,...,CONCENTRATION,APDC_CODE1,APDC_DESC1,APDC_DECISION_DATE1,INTERNATIONAL_LEGAL_NATION,RESD_CODE,RESD_DESC,STUDENT_TYPE,PGM_TYPE,PGM_TYPE_DESC
0,904158692014201,201420.0,Summer 2014,1.0,N,N,90415869,2014-03-24,DA,Dean's Admission (19 and over),...,NaN,AA,Applicant Accepted,2014-03-24,NaN,R,Resident,N,OE,Open Enrolment
1,904158692015203,201520.0,Summer 2015,3.0,N,N,90415869,2014-03-24,DA,Dean's Admission (19 and over),...,NaN,IA,Admission Offered,2015-01-30,NaN,R,Resident,N,OE,Open Enrolment
2,904158692015302,201530.0,Fall 2015,2.0,N,N,90415869,2014-03-24,DA,Dean's Admission (19 and over),...,NaN,AW,Applicant has Withdrawn Appl,2015-01-30,NaN,R,Resident,N,OE,Open Enrolment

In [58]:
cur_validator.origin_rows_not_in_target

,EXTERNAL_ID,TERM_CODE_KEY,TERM_DESC,APPL_NO_KEY,COMPLETE_IND,INCOMPLETE_IND,ID,APPLICATION_DATE,ADMT_CODE,ADMT_DESC,...,CONCENTRATION,APDC_CODE1,APDC_DESC1,APDC_DECISION_DATE1,INTERNATIONAL_LEGAL_NATION,RESD_CODE,RESD_DESC,STUDENT_TYPE,PGM_TYPE,PGM_TYPE_DESC
0,900922142023308,202330.0,Fall 2023,8.0,N,N,95102554,2023-05-16 08:53:28,DA,Dean's Admission (19 and over),...,NaN,AW,Applicant has Withdrawn Appl,2023-05-16 14:05:42,27.0,R,Resident,N,OE,Open Enrolment
1,901551372001301,200130.0,Fall 2001,1.0,N,N,100033857,2001-04-25 00:00:00,DA,Dean's Admission (19 and over),...,NaN,AA,Applicant Accepted,2001-06-01 22:31:17,NaN,R,Resident,1,LE,Limited Enrolment
2,901781852002201,200220.0,Summer 2002,1.0,Y,N,100056898,2002-02-25 00:00:00,EQ,Equivalent to BC Grade 12 Grad,...,NaN,AW,Applicant has Withdrawn Appl,2002-04-03 16:13:18,NaN,N,Non-Resident,N,NaN,NaN
3,901781852002302,200230.0,Fall 2002,2.0,N,N,100056898,2002-03-26 00:00:00,EQ,Equivalent to BC Grade 12 Grad,...,NaN,AW,Applicant has Withdrawn Appl,2003-07-07 15:20:08,NaN,N,Non-Resident,A,NaN,NaN
4,901831372023306,202330.0,Fall 2023,6.0,N,Y,100061593,2023-05-11 00:00:00,DA,Dean's Admission (19 and over),...,ACCG,DR,Docs. Received - Under Review,2023-05-15 08:55:40,NaN,R,Resident,1,LE,Limited Enrolment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,905964292024102,202410.0,Spring 2024,2.0,N,Y,100422219,2023-05-17 10:11:41,WA,Web Application,...,NaN,AK,Acknowledgement,2023-05-17 10:18:31,170.0,N,Non-Resident,0,OE,Open Enrolment
253,905964302024101,202410.0,Spring 2024,1.0,N,Y,100422220,2023-05-17 10:11:41,WA,Web Application,...,NaN,AK,Acknowledgement,2023-05-17 10:18:31,225.0,N,Non-Resident,0,OE,Open Enrolment
254,905964312024101,202410.0,Spring 2024,1.0,N,Y,100422221,2023-05-17 10:11:42,WA,Web Application,...,NaN,AK,Acknowledgement,2023-05-17 10:18:31,70.0,N,Non-Resident,0,PD,Post-Degree
255,9045233820241010,202410.0,Spring 2024,10.0,N,Y,100281200,2023-05-12 10:02:00,DA,Dean's Admission (19 and over),...,NaN,MD,Missing Document/Requirements,2023-05-17 10:41:16,27.0,R,Resident,1,LE,Limited Enrolment
256,9046723420233013,202330.0,Fall 2023,13.0,N,N,100295385,2023-05-11 09:25:48,DA,Dean's Admission (19 and over),...,NaN,AW,Applicant has Withdrawn Appl,2023-05-15 12:06:07,27.0,R,Resident,N,OE,Open Enrolment

In [59]:
validators['admissions_applicant'] = cur_validator

In [60]:
validators['admissions_applicant'].origin_data_for_validation[validators['admissions_applicant'].origin_data_for_validation['EXTERNAL_ID'] == 900013272019101]

,EXTERNAL_ID,TERM_CODE_KEY,TERM_DESC,APPL_NO_KEY,COMPLETE_IND,INCOMPLETE_IND,ID,APPLICATION_DATE,ADMT_CODE,ADMT_DESC,...,CONCENTRATION,APDC_CODE1,APDC_DESC1,APDC_DECISION_DATE1,INTERNATIONAL_LEGAL_NATION,RESD_CODE,RESD_DESC,STUDENT_TYPE,PGM_TYPE,PGM_TYPE_DESC
0,900013272019101,201910.0,Spring 2019,1.0,N,N,100001308,2018-09-19 08:05:40,DA,Dean's Admission (19 and over),...,NaN,AA,Applicant Accepted,2018-10-01 12:41:21,156.0,R,Resident,1,OE,Open Enrolment

In [61]:
validators['admissions_applicant'].target_data_for_validation[validators['admissions_applicant'].target_data_for_validation['EXTERNAL_ID'] == 900013272019101]

,EXTERNAL_ID,TERM_CODE_KEY,TERM_DESC,APPL_NO_KEY,COMPLETE_IND,INCOMPLETE_IND,ID,APPLICATION_DATE,ADMT_CODE,ADMT_DESC,...,CONCENTRATION,APDC_CODE1,APDC_DESC1,APDC_DECISION_DATE1,INTERNATIONAL_LEGAL_NATION,RESD_CODE,RESD_DESC,STUDENT_TYPE,PGM_TYPE,PGM_TYPE_DESC
0,900013272019101,201910.0,Spring 2019,1.0,N,N,90001327,2018-09-19,DA,Dean's Admission (19 and over),...,NaN,AA,Applicant Accepted,2018-10-01,156.0,R,Resident,1,OE,Open Enrolment

In [62]:
validators['admissions_applicant'].equality_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 213754 entries, 0 to 213753
Data columns (total 45 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   (EXTERNAL_ID, )                       213754 non-null  int64
 1   (TERM_CODE_KEY, origin)               257 non-null     float64
 2   (TERM_CODE_KEY, target)               0 non-null       float64
 3   (TERM_DESC, origin)                   257 non-null     object
 4   (TERM_DESC, target)                   0 non-null       object
 5   (APPL_NO_KEY, origin)                 257 non-null     float64
 6   (APPL_NO_KEY, target)                 0 non-null       float64
 7   (COMPLETE_IND, origin)                295 non-null     object
 8   (COMPLETE_IND, target)                38 non-null      object
 9   (INCOMPLETE_IND, origin)              594 non-null     object
 10  (INCOMPLETE_IND, target)              337 non-null     object
 11  (ID, origin)                          213754 non-null  string
 12  (ID, target)                          213497 non-null  string
 13  (APPLICATION_DATE, origin)            173255 non-null  datetime64[ns]
 14  (APPLICATION_DATE, target)            172999 non-null  datetime64[ns]
 15  (ADMT_CODE, origin)                   290 non-null     object
 16  (ADMT_CODE, target)                   33 non-null      object
 17  (ADMT_DESC, origin)                   290 non-null     object
 18  (ADMT_DESC, target)                   33 non-null      object
 19  (PROGRAM_CODE, origin)                257 non-null     object
 20  (PROGRAM_CODE, target)                0 non-null       object
 21  (PROGRAM_DESC1, origin)               254 non-null     object
 22  (PROGRAM_DESC1, target)               0 non-null       object
 23  (MAJOR, origin)                       257 non-null     object
 24  (MAJOR, target)                       0 non-null       object
 25  (CONCENTRATION, origin)               7 non-null       object
 26  (CONCENTRATION, target)               0 non-null       object
 27  (APDC_CODE1, origin)                  1160 non-null    object
 28  (APDC_CODE1, target)                  903 non-null     object
 29  (APDC_DESC1, origin)                  1145 non-null    object
 30  (APDC_DESC1, target)                  888 non-null     object
 31  (APDC_DECISION_DATE1, origin)         184626 non-null  datetime64[ns]
 32  (APDC_DECISION_DATE1, target)         184369 non-null  datetime64[ns]
 33  (INTERNATIONAL_LEGAL_NATION, origin)  251 non-null     float64
 34  (INTERNATIONAL_LEGAL_NATION, target)  0 non-null       float64
 35  (RESD_CODE, origin)                   257 non-null     object
 36  (RESD_CODE, target)                   0 non-null       object
 37  (RESD_DESC, origin)                   257 non-null     object
 38  (RESD_DESC, target)                   0 non-null       object
 39  (STUDENT_TYPE, origin)                290 non-null     object
 40  (STUDENT_TYPE, target)                33 non-null      object
 41  (PGM_TYPE, origin)                    252 non-null     object
 42  (PGM_TYPE, target)                    0 non-null       object
 43  (PGM_TYPE_DESC, origin)               252 non-null     object
 44  (PGM_TYPE_DESC, target)               0 non-null       object
dtypes: datetime64[ns](4), float64(6), int64(1), object(32), string(2)
memory usage: 75.0+ MB

## Application Checklist

BT_APPLICATION_CHECKLIST -> ['EXTERNAL_ID', 'ADMR_CODE_KEY']

In [63]:
baseline_filepath = "data/Prod/Baseline/BT_APPLICATION_CHECKLIST.csv"
validate_filepath = "data/Prod/Validate/Custom - Application Checklist.csv"
column_mapping = [
    {"baseline_col_name": "EXTERNAL_ID",
     "validate_col_name": "lang_externalid",
     "common_col_type": "",
    },
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_pidmkey",
     "common_col_type": "",
    },
    {"baseline_col_name": "TERM_CODE_KEY",
     "validate_col_name": "lang_termcodekey",
     "common_col_type": "",
    },
    {"baseline_col_name": "APPL_NO_KEY",
     "validate_col_name": "lang_applicationnumberkey",
     "common_col_type": "",
    },
    {"baseline_col_name": "ADMR_CODE_KEY",
     "validate_col_name": "lang_admrcode",
     "common_col_type": "",
    },
    {"baseline_col_name": "ADMR_DESC",
     "validate_col_name": "lang_admrdescriptionorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "ADMR_RECEIVED_DATE",
     "validate_col_name": "lang_admrreceiveddate",
     "common_col_type": "",
    },
    {"baseline_col_name": "ADMR_REQUIRED_IND",
     "validate_col_name": "lang_admrrequiredind",
     "common_col_type": "",
    },
    {"baseline_col_name": "ADMR_ITEM_DESC",
     "validate_col_name": "lang_admritemdescription",
     "common_col_type": "",
    }
]
baseline_date_cols = {"ADMR_RECEIVED_DATE": None,}  # "%d-%b-%y",
validate_date_cols = {"lang_admrreceiveddate": None,}
col_id = ['EXTERNAL_ID', 'ADMR_CODE_KEY']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
unify_text = False
text_cols = None
# unify_text = True
# text_cols = ['HOLD_REASON']

In [64]:
cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: EXTERNAL_ID
                    Real Type: int64
                    Expected Type: NA
                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: TERM_CODE_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: APPL_NO_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: ADMR_CODE_KEY
                    Real Type: object
                    Expected Type: NA
                Column: ADMR_DESC
                    Real Type: object
                    Expected Type: NA
                Column: ADMR_RECEIVED_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: ADMR_REQUIRED_IND
                    Real Type: object
                    Expected Type: NA
                Column: ADMR_ITEM_DESC
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_externalid
                    Real Type: int64
                    Expected Type: NA
                Column: lang_pidmkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_termcodekey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_applicationnumberkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_admrcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_admrdescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_admrreceiveddate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_admrrequiredind
                    Real Type: object
                    Expected Type: NA
                Column: lang_admritemdescription
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [65]:
cur_validator.name_mapping

{'lang_externalid': 'EXTERNAL_ID',
 'lang_pidmkey': 'PIDM_KEY',
 'lang_termcodekey': 'TERM_CODE_KEY',
 'lang_applicationnumberkey': 'APPL_NO_KEY',
 'lang_admrcode': 'ADMR_CODE_KEY',
 'lang_admrdescriptionorig': 'ADMR_DESC',
 'lang_admrreceiveddate': 'ADMR_RECEIVED_DATE',
 'lang_admrrequiredind': 'ADMR_REQUIRED_IND',
 'lang_admritemdescription': 'ADMR_ITEM_DESC'}

In [66]:
cur_validator.check_existence()

,EXTERNAL_ID,ADMR_CODE_KEY,PIDM_KEY,TERM_CODE_KEY,APPL_NO_KEY,ADMR_DESC,ADMR_RECEIVED_DATE,ADMR_REQUIRED_IND,ADMR_ITEM_DESC
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
1461872,False,False,False,False,False,False,False,False,False
1461873,False,False,False,False,False,False,False,False,False
1461874,False,False,False,False,False,False,False,False,False
1461875,False,False,False,False,False,False,False,False,False
1461876,False,False,False,False,False,False,False,False,False

In [67]:
cur_validator.existence_result.sum()

EXTERNAL_ID              0
ADMR_CODE_KEY            0
PIDM_KEY              2378
TERM_CODE_KEY         2378
APPL_NO_KEY           2378
ADMR_DESC             2378
ADMR_RECEIVED_DATE    1041
ADMR_REQUIRED_IND     1961
ADMR_ITEM_DESC        1229
dtype: int64

In [68]:
# Registers with existence flags
(cur_validator.existence_result.sum(axis=1) > 0).sum()

2879

In [159]:
# Registers with existence flags
(cur_validator.existence_result.sum(axis=1) > 0).sum()

2680

In [69]:
# Total existence flags
cur_validator.existence_result.sum().sum()

13743

In [70]:
cur_validator.row_difference

2138

In [71]:
cur_validator.col_difference

{'origin_cols_not_in_target': set(),
 'target_cols_not_in_origin': {'bsi_admissionsapplicant',
  'lang_admrdescription',
  'lang_student',
  'lang_termdescription'}}

In [72]:
cur_validator.duplicated_rows

{'origin': 0, 'target': 0}

In [73]:
cur_validator.check_equality()

              EXTERNAL_ID ADMR_CODE_KEY PIDM_KEY        TERM_CODE_KEY
                                          origin target        origin target
0         900013272019101          APFD      NaN    NaN           NaN    NaN  \
4         900023712004301          LANG      NaN    NaN           NaN    NaN
6         900028711999301          LANG      NaN    NaN           NaN    NaN
8         900044912019201          MATD      NaN    NaN           NaN    NaN
9         900047912018301          APFD      NaN    NaN           NaN    NaN
...                   ...           ...      ...    ...           ...    ...
1461794  9054578920233012          CAT3      NaN    NaN           NaN    NaN
1461831  9055170020241010          CAT2      NaN    NaN           NaN    NaN
1461847  9056844620232010          APFD      NaN    NaN           NaN    NaN
1461857  9056844620241011          APFD      NaN    NaN           NaN    NaN
1461867  9056844620241012          APFD      NaN    NaN           NaN    NaN

        APPL_NO_KEY        ADMR_DESC         ADMR_RECEIVED_DATE
             origin target    origin target              origin     target
0               NaN    NaN       NaN    NaN 2018-09-18 17:26:31 2018-09-18  \
4               NaN    NaN       NaN    NaN 2004-05-13 09:30:03 2004-05-13
6               NaN    NaN       NaN    NaN 1999-02-25 14:35:04 1999-02-25
8               NaN    NaN       NaN    NaN 1999-02-25 14:35:04 1999-02-25
9               NaN    NaN       NaN    NaN 2018-08-31 13:16:08 2018-08-31
...             ...    ...       ...    ...                 ...        ...
1461794         NaN    NaN       NaN    NaN 2023-05-01 10:59:20 2023-05-01
1461831         NaN    NaN       NaN    NaN 2023-04-25 09:54:44 2023-04-25
1461847         NaN    NaN       NaN    NaN 2023-01-21 23:16:22 2023-01-21
1461857         NaN    NaN       NaN    NaN 2023-04-23 13:14:26 2023-04-23
1461867         NaN    NaN       NaN    NaN 2023-04-23 13:14:26 2023-04-23

        ADMR_REQUIRED_IND        ADMR_ITEM_DESC
                   origin target         origin target
0                     NaN    NaN            NaN    NaN
4                     NaN    NaN            NaN    NaN
6                     NaN    NaN            NaN    NaN
8                     NaN    NaN            NaN    NaN
9                     NaN    NaN            NaN    NaN
...                   ...    ...            ...    ...
1461794               NaN    NaN            NaN    NaN
1461831               NaN    NaN            NaN    NaN
1461847               NaN    NaN            NaN    NaN
1461857               NaN    NaN            NaN    NaN
1461867               NaN    NaN            NaN    NaN

[196091 rows x 16 columns]

In [74]:
cur_validator.target_rows_not_in_origin

,EXTERNAL_ID,ADMR_CODE_KEY,PIDM_KEY,TERM_CODE_KEY,APPL_NO_KEY,ADMR_DESC,ADMR_RECEIVED_DATE,ADMR_REQUIRED_IND,ADMR_ITEM_DESC
0,901234012023301,PST1,90123401.0,202330.0,1.0,Post-secondary Transcript 1,NaT,Y,University of British Columbia
1,903225322023303,APFD,90322532.0,202330.0,3.0,Domestic Application Fee,NaT,Y,NaN
2,903225322023303,GRAD,90322532.0,202330.0,3.0,Proof of Grade 12 Graduation,NaT,Y,NaN
3,903225322023303,SSIN,90322532.0,202330.0,3.0,Sec. Sch Trans/Interim Nongrad,NaT,Y,NaN
4,903225322023303,SST1,90322532.0,202330.0,3.0,Sec. School Transcript/Final 1,NaT,Y,Other BC Secondary
...,...,...,...,...,...,...,...,...,...
235,905962842023301,SST1,90596284.0,202330.0,1.0,Sec. School Transcript/Final 1,NaT,Y,Taiwan Secondary
236,9045233820241010,SST1,90452338.0,202410.0,10.0,Sec. School Transcript/Final 1,NaT,Y,St Thomas Aquinas
237,9046723420233013,APFD,90467234.0,202330.0,13.0,Domestic Application Fee,NaT,Y,NaN
238,9046723420233013,GRAD,90467234.0,202330.0,13.0,Proof of Grade 12 Graduation,NaT,Y,NaN
239,9046723420233013,SSIN,90467234.0,202330.0,13.0,Sec. Sch Trans/Interim Nongrad,NaT,Y,NaN

In [75]:
cur_validator.origin_rows_not_in_target

,EXTERNAL_ID,ADMR_CODE_KEY,PIDM_KEY,TERM_CODE_KEY,APPL_NO_KEY,ADMR_DESC,ADMR_RECEIVED_DATE,ADMR_REQUIRED_IND,ADMR_ITEM_DESC
0,900922142023308,CAT3,90092214.0,202330.0,8.0,Category 3 English Requirement,NaT,Y,NaN
1,900922142023308,GRAD,90092214.0,202330.0,8.0,Proof of Grade 12 Graduation,NaT,Y,NaN
2,900922142023308,LANG,90092214.0,202330.0,8.0,LPI or LET,1999-02-25 14:35:04,Y,Test Date 27-MAR-1993
3,900922142023308,PST1,90092214.0,202330.0,8.0,Post-secondary Transcript 1,1994-08-18 00:00:00,Y,Kwantlen Polytechnic Univ
4,900922142023308,PST2,90092214.0,202330.0,8.0,Post-secondary Transcript 2,NaT,Y,Langara College
...,...,...,...,...,...,...,...,...,...
2373,905964312024101,GRAD,90596431.0,202410.0,1.0,Proof of Grade 12 Graduation,NaT,Y,NaN
2374,905964312024101,MADA,90596431.0,202410.0,1.0,Math Req. Data Analytics,NaT,Y,NaN
2375,905964312024101,PST1,90596431.0,202410.0,1.0,Post-secondary Transcript 1,NaT,Y,Iran Post Secondary
2376,905964312024101,SSIE,90596431.0,202410.0,1.0,Sec. School Transcript/IE,NaT,Y,NaN
2377,905964312024101,SST1,90596431.0,202410.0,1.0,Sec. School Transcript/Final 1,NaT,Y,Iran Secondary

In [76]:
validators['application_checklist'] = cur_validator

In [78]:
validators['application_checklist'].equality_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 196091 entries, 0 to 1461867
Data columns (total 16 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   (EXTERNAL_ID, )               196091 non-null  int64
 1   (ADMR_CODE_KEY, )             196091 non-null  object
 2   (PIDM_KEY, origin)            2378 non-null    float64
 3   (PIDM_KEY, target)            0 non-null       float64
 4   (TERM_CODE_KEY, origin)       2378 non-null    float64
 5   (TERM_CODE_KEY, target)       0 non-null       float64
 6   (APPL_NO_KEY, origin)         2378 non-null    float64
 7   (APPL_NO_KEY, target)         0 non-null       float64
 8   (ADMR_DESC, origin)           2378 non-null    object
 9   (ADMR_DESC, target)           0 non-null       object
 10  (ADMR_RECEIVED_DATE, origin)  193992 non-null  datetime64[ns]
 11  (ADMR_RECEIVED_DATE, target)  193079 non-null  datetime64[ns]
 12  (ADMR_REQUIRED_IND, origin)   1961 non-null    object
 13  (ADMR_REQUIRED_IND, target)   1 non-null       object
 14  (ADMR_ITEM_DESC, origin)      1526 non-null    object
 15  (ADMR_ITEM_DESC, target)      315 non-null     object
dtypes: datetime64[ns](2), float64(6), int64(1), object(7)
memory usage: 25.4+ MB

### Excluding date column

In [157]:
baseline_filepath = "data/Prod/Baseline/BT_APPLICATION_CHECKLIST.csv"
validate_filepath = "data/Prod/Validate/Custom - Application Checklist.csv"
column_mapping = [
    {"baseline_col_name": "EXTERNAL_ID",
     "validate_col_name": "lang_externalid",
     "common_col_type": "",
    },
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_pidmkey",
     "common_col_type": "",
    },
    {"baseline_col_name": "TERM_CODE_KEY",
     "validate_col_name": "lang_termcodekey",
     "common_col_type": "",
    },
    {"baseline_col_name": "APPL_NO_KEY",
     "validate_col_name": "lang_applicationnumberkey",
     "common_col_type": "",
    },
    {"baseline_col_name": "ADMR_CODE_KEY",
     "validate_col_name": "lang_admrcode",
     "common_col_type": "",
    },
    {"baseline_col_name": "ADMR_DESC",
     "validate_col_name": "lang_admrdescriptionorig",
     "common_col_type": "",
    },
    # {"baseline_col_name": "ADMR_RECEIVED_DATE",
    #  "validate_col_name": "lang_admrreceiveddate",
    #  "common_col_type": "",
    # },
    {"baseline_col_name": "ADMR_REQUIRED_IND",
     "validate_col_name": "lang_admrrequiredind",
     "common_col_type": "",
    },
    {"baseline_col_name": "ADMR_ITEM_DESC",
     "validate_col_name": "lang_admritemdescription",
     "common_col_type": "",
    }
]
baseline_date_cols = {}  # "%d-%b-%y",
validate_date_cols = {}
col_id = ['EXTERNAL_ID', 'ADMR_CODE_KEY']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
unify_text = False
text_cols = None
# unify_text = True
# text_cols = ['HOLD_REASON']

cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

cur_validator.check_equality()

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: EXTERNAL_ID
                    Real Type: int64
                    Expected Type: NA
                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: TERM_CODE_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: APPL_NO_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: ADMR_CODE_KEY
                    Real Type: object
                    Expected Type: NA
                Column: ADMR_DESC
                    Real Type: object
                    Expected Type: NA
                Column: ADMR_REQUIRED_IND
                    Real Type: object
                    Expected Type: NA
                Column: ADMR_ITEM_DESC
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_externalid
                    Real Type: int64
                    Expected Type: NA
                Column: lang_pidmkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_termcodekey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_applicationnumberkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_admrcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_admrdescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_admrrequiredind
                    Real Type: object
                    Expected Type: NA
                Column: lang_admritemdescription
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

              EXTERNAL_ID ADMR_CODE_KEY    PIDM_KEY        TERM_CODE_KEY
                                             origin target        origin
1244      900922142023308          CAT3  90092214.0    NaN      202330.0  \
1245      900922142023308          GRAD  90092214.0    NaN      202330.0
1246      900922142023308          LANG  90092214.0    NaN      202330.0
1247      900922142023308          PST1  90092214.0    NaN      202330.0
1248      900922142023308          PST2  90092214.0    NaN      202330.0
...                   ...           ...         ...    ...           ...
1458679  9045233820241010          NEN1         NaN    NaN           NaN
1458680  9045233820241010          NEN2         NaN    NaN           NaN
1458682  9045233820241010          NSTA         NaN    NaN           NaN
1459201  9046723420233013          CAT3         NaN    NaN           NaN
1460721  9049021620241011          MIS1         NaN    NaN           NaN

               APPL_NO_KEY                              ADMR_DESC
        target      origin target                          origin target
1244       NaN         8.0    NaN  Category 3 English Requirement    NaN  \
1245       NaN         8.0    NaN    Proof of Grade 12 Graduation    NaN
1246       NaN         8.0    NaN                      LPI or LET    NaN
1247       NaN         8.0    NaN     Post-secondary Transcript 1    NaN
1248       NaN         8.0    NaN     Post-secondary Transcript 2    NaN
...        ...         ...    ...                             ...    ...
1458679    NaN         NaN    NaN                             NaN    NaN
1458680    NaN         NaN    NaN                             NaN    NaN
1458682    NaN         NaN    NaN                             NaN    NaN
1459201    NaN         NaN    NaN                             NaN    NaN
1460721    NaN         NaN    NaN                             NaN    NaN

        ADMR_REQUIRED_IND                         ADMR_ITEM_DESC
                   origin target                          origin
1244                    Y    NaN                             NaN  \
1245                    Y    NaN                             NaN
1246                    Y    NaN           Test Date 27-MAR-1993
1247                    Y    NaN       Kwantlen Polytechnic Univ
1248                    Y    NaN                 Langara College
...                   ...    ...                             ...
1458679               NaN    NaN       CAPU/ENGL 100/B/Fall 2016
1458680               NaN    NaN     CAPU/ENGL 103/B/Spring 2017
1458682               NaN    NaN  CapU MATH101 Fall 2016 too old
1459201               NaN    NaN                           LET 3
1460721               NaN    NaN      LPN transcript rec'd (VCC)


                       target
1244                      NaN
1245                      NaN
1246                      NaN
1247                      NaN
1248                      NaN
...                       ...
1458679                   NaN
1458680                   NaN
1458682                   NaN
1459201                   NaN
1460721  LPN transcript rec'd

[2995 rows x 14 columns]

In [206]:
196091 - 2995

193096

## Financial History

BT_FINANCIAL_HISTORY -> ['PIDM_KEY', 'TRANSACTION_ID']

In [185]:
baseline_filepath = "data/Prod/Baseline/BT_FINANCIAL_HISTORY.csv"
validate_filepath = "data/Prod/Validate/Custom - Financial History.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_pidmkey",
     "common_col_type": "",
    },
    {"baseline_col_name": "TRANSACTION_ID",
     "validate_col_name": "lang_transactionid",
     "common_col_type": "",
    },
    {"baseline_col_name": "TERM_CODE_KEY",
     "validate_col_name": "lang_termcodekey",
     "common_col_type": "string",
    },
    {"baseline_col_name": "DETAIL_CODE",
     "validate_col_name": "lang_detailcode",
     "common_col_type": "",
    },
    {"baseline_col_name": "DESCRIPTION",
     "validate_col_name": "lang_detaildescription",
     "common_col_type": "",
    },
    {"baseline_col_name": "CHARGE",
     "validate_col_name": "lang_charge",
     "common_col_type": "",
    },
    {"baseline_col_name": "PAYMENT",
     "validate_col_name": "lang_payment",
     "common_col_type": "",
    },
    {"baseline_col_name": "BALANCE",
     "validate_col_name": "lang_balance",
     "common_col_type": "",
    },
    {"baseline_col_name": "DOCUMENT",
     "validate_col_name": "lang_document",
     "common_col_type": "",
    },
    {"baseline_col_name": "EFFECTIVE_DATE",
     "validate_col_name": "lang_effectivedate",
     "common_col_type": "",
    }
]
baseline_date_cols = {"EFFECTIVE_DATE": None,}  # "%d-%b-%y",
validate_date_cols = {"lang_effectivedate": None,}
col_id = ['PIDM_KEY', 'TRANSACTION_ID']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
unify_text = False
text_cols = None
# unify_text = True
# text_cols = ['HOLD_REASON']

In [186]:
cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (2,8) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:311: UserWarning:     Common data type does not match origin data type. Validation    will force common data type.
  warnings.warn("    Common data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: TRANSACTION_ID
                    Real Type: int64
                    Expected Type: NA
                Column: TERM_CODE_KEY
                    Real Type: object
                    Expected Type: NA
                Column: DETAIL_CODE
                    Real Type: object
                    Expected Type: NA
                Column: DESCRIPTION
                    Real Type: object
                    Expected Type: NA
                Column: CHARGE
                    Real Type: float64
                    Expected Type: NA
                Column: PAYMENT
                    Real Type: float64
                    Expected Type: NA
                Column: BALANCE
                    Real Type: float64
                    Expected Type: NA
                Column: DOCUMENT
                    Real Type: object
                    Expected Type: NA
                Column: EFFECTIVE_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_pidmkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_transactionid
                    Real Type: int64
                    Expected Type: NA
                Column: lang_termcodekey
                    Real Type: object
                    Expected Type: NA
                Column: lang_detailcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_detaildescription
                    Real Type: object
                    Expected Type: NA
                Column: lang_charge
                    Real Type: float64
                    Expected Type: NA
                Column: lang_payment
                    Real Type: float64
                    Expected Type: NA
                Column: lang_balance
                    Real Type: float64
                    Expected Type: NA
                Column: lang_document
                    Real Type: object
                    Expected Type: NA
                Column: lang_effectivedate
                    Real Type: datetime64[ns]
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [187]:
cur_validator.name_mapping

{'lang_pidmkey': 'PIDM_KEY',
 'lang_transactionid': 'TRANSACTION_ID',
 'lang_termcodekey': 'TERM_CODE_KEY',
 'lang_detailcode': 'DETAIL_CODE',
 'lang_detaildescription': 'DESCRIPTION',
 'lang_charge': 'CHARGE',
 'lang_payment': 'PAYMENT',
 'lang_balance': 'BALANCE',
 'lang_document': 'DOCUMENT',
 'lang_effectivedate': 'EFFECTIVE_DATE'}

In [188]:
cur_validator.check_existence()

,PIDM_KEY,TRANSACTION_ID,TERM_CODE_KEY,DETAIL_CODE,DESCRIPTION,CHARGE,PAYMENT,BALANCE,DOCUMENT,EFFECTIVE_DATE
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
6729661,False,False,True,True,True,True,False,True,False,True
6729662,False,False,True,True,True,False,True,True,False,False
6729663,False,False,True,True,True,True,False,True,False,True
6729664,False,False,True,True,True,True,False,True,False,True
6729665,False,False,True,True,True,False,True,True,True,True

In [189]:
cur_validator.existence_result.sum()

PIDM_KEY             0
TRANSACTION_ID       0
TERM_CODE_KEY     5405
DETAIL_CODE       5405
DESCRIPTION       5405
CHARGE            3427
PAYMENT           1978
BALANCE           5405
DOCUMENT           997
EFFECTIVE_DATE    5361
dtype: int64

In [190]:
# Registers with existence flags
(cur_validator.existence_result.sum(axis=1) > 0).sum()

5427

In [191]:
# Total existence flags
cur_validator.existence_result.sum().sum()

33383

In [192]:
cur_validator.row_difference

5297

In [193]:
cur_validator.col_difference

{'origin_cols_not_in_target': set(),
 'target_cols_not_in_origin': {'lang_student', 'lang_termdescription'}}

In [194]:
cur_validator.duplicated_rows

{'origin': 0, 'target': 0}

In [195]:
cur_validator.check_equality()

         PIDM_KEY TRANSACTION_ID TERM_CODE_KEY         DETAIL_CODE
                                        origin  target      origin target
39       90001327             40          <NA>    <NA>         NaN    NaN  \
40       90001327             41          <NA>    <NA>         NaN    NaN
41       90001327             42         20032  020032         NaN    NaN
44       90001327             45         20062  020062         NaN    NaN
48       90001327             49         20062  020062         NaN    NaN
...           ...            ...           ...     ...         ...    ...
6729661  90596437              1        020233    <NA>        CCL1    NaN
6729662  90596437              2        020233    <NA>        ESMC    NaN
6729663  90596439              1        020232    <NA>        SCP1    NaN
6729664  90596439              2        020232    <NA>        SCP2    NaN
6729665  90596439              3        020232    <NA>        RDVM    NaN

                            DESCRIPTION        CHARGE        PAYMENT
                                 origin target origin target  origin target
39                                  NaN    NaN    NaN    NaN     NaN    NaN  \
40                                  NaN    NaN    NaN    NaN     NaN    NaN
41                                  NaN    NaN    NaN    NaN     NaN    NaN
44                                  NaN    NaN    NaN    NaN     NaN    NaN
48                                  NaN    NaN    NaN    NaN     NaN    NaN
...                                 ...    ...    ...    ...     ...    ...
6729661  CSSCL-55036 Int'l Tuition Fees    NaN  155.0    NaN     NaN    NaN
6729662          MC-Shopify Order#24899    NaN    NaN    NaN   155.0    NaN
6729663   CSSCP-55033 CS Summer Camp Pm    NaN  460.0    NaN     NaN    NaN
6729664     CSSCP-55033 CS Admin Charge    NaN   35.0    NaN     NaN    NaN
6729665                    eSelect Visa    NaN    NaN    NaN   495.0    NaN

        BALANCE        DOCUMENT             EFFECTIVE_DATE
         origin target   origin target              origin     target
39          NaN    NaN      NaN    NaN 2003-04-29 16:31:04 2003-04-29
40          NaN    NaN      NaN    NaN 2003-04-29 16:31:04 2003-04-29
41          NaN    NaN      NaN    NaN                 NaT        NaT
44          NaN    NaN      NaN    NaN                 NaT        NaT
48          NaN    NaN      NaN    NaN                 NaT        NaT
...         ...    ...      ...    ...                 ...        ...
6729661     0.0    NaN      NaN    NaN 2023-05-17 00:00:00        NaT
6729662     0.0    NaN      NaN    NaN                 NaT        NaT
6729663     0.0    NaN      NaN    NaN 2023-05-17 00:00:00        NaT
6729664     0.0    NaN      NaN    NaN 2023-05-17 00:00:00        NaT
6729665     0.0    NaN   049215    NaN 2023-05-17 17:15:33        NaT

[3788423 rows x 18 columns]

In [196]:
cur_validator.target_rows_not_in_origin

,PIDM_KEY,TRANSACTION_ID,TERM_CODE_KEY,DETAIL_CODE,DESCRIPTION,CHARGE,PAYMENT,BALANCE,DOCUMENT,EFFECTIVE_DATE
0,90162400,1,020033,CHE1,CSHEA-55033 CS Sch of Healing,1600.0,NaN,0.0,NaN,2003-07-08
1,90162400,2,020033,CHE1,CSHEA-55033 CS Sch of Healing,-240.0,NaN,0.0,NaN,2003-07-08
2,90162400,3,020033,CBMC,CS RBPOS Mastercard Payment,NaN,1360.0,0.0,955312,2003-07-08
3,90162400,4,020033,CHE1,CSHEA-55033 CS Sch of Healing,74.0,NaN,0.0,NaN,2003-10-15
4,90162400,5,020033,CHE2,CSHEA-55033 CS Admin Charge,15.0,NaN,0.0,NaN,2003-10-15
...,...,...,...,...,...,...,...,...,...,...
103,90594997,2,020232,SCP2,CSSCP-55033 CS Admin Charge,35.0,NaN,0.0,NaN,2023-04-03
104,90594997,3,020232,RDVM,eSelect Visa,NaN,495.0,0.0,034405,2023-04-03
105,90595932,1,020232,SCP1,CSSCP-55033 CS Summer Camp Pm,490.0,NaN,0.0,NaN,2023-05-01
106,90595932,2,020232,SCP2,CSSCP-55033 CS Admin Charge,35.0,NaN,0.0,NaN,2023-05-01
107,90595932,3,020232,RDVM,eSelect Visa,NaN,525.0,0.0,04380I,2023-05-01

In [197]:
cur_validator.origin_rows_not_in_target

,PIDM_KEY,TRANSACTION_ID,TERM_CODE_KEY,DETAIL_CODE,DESCRIPTION,CHARGE,PAYMENT,BALANCE,DOCUMENT,EFFECTIVE_DATE
0,90068143,47,202320,RADM,Late Payment Service Charge,10.00,NaN,10.00,NaN,2023-05-16 00:15:25
1,90068143,48,202320,LPEN,Late Payment Interest,3.25,NaN,3.25,NaN,2023-05-16 00:15:25
2,90078182,1,202320,RPE1,Reverse Dom Appl Fees 50156709,-40.00,NaN,-40.00,NaN,2023-05-17 00:00:00
3,90089785,399,202320,LPEN,Late Payment Interest,10.48,NaN,9.65,NaN,2023-05-16 00:15:25
4,90089785,400,202320,RADM,Late Payment Service Charge,10.00,NaN,10.00,NaN,2023-05-16 00:15:25
...,...,...,...,...,...,...,...,...,...,...
5400,90596437,1,020233,CCL1,CSSCL-55036 Int'l Tuition Fees,155.00,NaN,0.00,NaN,2023-05-17 00:00:00
5401,90596437,2,020233,ESMC,MC-Shopify Order#24899,NaN,155.0,0.00,NaN,NaT
5402,90596439,1,020232,SCP1,CSSCP-55033 CS Summer Camp Pm,460.00,NaN,0.00,NaN,2023-05-17 00:00:00
5403,90596439,2,020232,SCP2,CSSCP-55033 CS Admin Charge,35.00,NaN,0.00,NaN,2023-05-17 00:00:00
5404,90596439,3,020232,RDVM,eSelect Visa,NaN,495.0,0.00,049215,2023-05-17 17:15:33

In [198]:
validators['financial_history'] = cur_validator

In [199]:
validators['financial_history'].equality_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3788423 entries, 39 to 6729665
Data columns (total 18 columns):
 #   Column                    Dtype
---  ------                    -----
 0   (PIDM_KEY, )              int64
 1   (TRANSACTION_ID, )        int64
 2   (TERM_CODE_KEY, origin)   string
 3   (TERM_CODE_KEY, target)   string
 4   (DETAIL_CODE, origin)     object
 5   (DETAIL_CODE, target)     object
 6   (DESCRIPTION, origin)     object
 7   (DESCRIPTION, target)     object
 8   (CHARGE, origin)          float64
 9   (CHARGE, target)          float64
 10  (PAYMENT, origin)         float64
 11  (PAYMENT, target)         float64
 12  (BALANCE, origin)         float64
 13  (BALANCE, target)         float64
 14  (DOCUMENT, origin)        object
 15  (DOCUMENT, target)        object
 16  (EFFECTIVE_DATE, origin)  datetime64[ns]
 17  (EFFECTIVE_DATE, target)  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(2), object(6), string(2)
memory usage: 549.2+ MB

### Excluding date column

In [207]:
baseline_filepath = "data/Prod/Baseline/BT_FINANCIAL_HISTORY.csv"
validate_filepath = "data/Prod/Validate/Custom - Financial History.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_pidmkey",
     "common_col_type": "",
    },
    {"baseline_col_name": "TRANSACTION_ID",
     "validate_col_name": "lang_transactionid",
     "common_col_type": "",
    },
    {"baseline_col_name": "TERM_CODE_KEY",
     "validate_col_name": "lang_termcodekey",
     "common_col_type": "string",
    },
    {"baseline_col_name": "DETAIL_CODE",
     "validate_col_name": "lang_detailcode",
     "common_col_type": "",
    },
    {"baseline_col_name": "DESCRIPTION",
     "validate_col_name": "lang_detaildescription",
     "common_col_type": "",
    },
    {"baseline_col_name": "CHARGE",
     "validate_col_name": "lang_charge",
     "common_col_type": "",
    },
    {"baseline_col_name": "PAYMENT",
     "validate_col_name": "lang_payment",
     "common_col_type": "",
    },
    {"baseline_col_name": "BALANCE",
     "validate_col_name": "lang_balance",
     "common_col_type": "",
    },
    {"baseline_col_name": "DOCUMENT",
     "validate_col_name": "lang_document",
     "common_col_type": "",
    },
    # {"baseline_col_name": "EFFECTIVE_DATE",
    #  "validate_col_name": "lang_effectivedate",
    #  "common_col_type": "",
    # }
]
baseline_date_cols = {}  # "EFFECTIVE_DATE": None,}  # "%d-%b-%y",
validate_date_cols = {}  # "lang_effectivedate": None,}
col_id = ['PIDM_KEY', 'TRANSACTION_ID']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
unify_text = False
text_cols = None
# unify_text = True
# text_cols = ['HOLD_REASON']

cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

cur_validator.check_equality()

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (2,8) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:311: UserWarning:     Common data type does not match origin data type. Validation    will force common data type.
  warnings.warn("    Common data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: TRANSACTION_ID
                    Real Type: int64
                    Expected Type: NA
                Column: TERM_CODE_KEY
                    Real Type: object
                    Expected Type: NA
                Column: DETAIL_CODE
                    Real Type: object
                    Expected Type: NA
                Column: DESCRIPTION
                    Real Type: object
                    Expected Type: NA
                Column: CHARGE
                    Real Type: float64
                    Expected Type: NA
                Column: PAYMENT
                    Real Type: float64
                    Expected Type: NA
                Column: BALANCE
                    Real Type: float64
                    Expected Type: NA
                Column: DOCUMENT
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_pidmkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_transactionid
                    Real Type: int64
                    Expected Type: NA
                Column: lang_termcodekey
                    Real Type: object
                    Expected Type: NA
                Column: lang_detailcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_detaildescription
                    Real Type: object
                    Expected Type: NA
                Column: lang_charge
                    Real Type: float64
                    Expected Type: NA
                Column: lang_payment
                    Real Type: float64
                    Expected Type: NA
                Column: lang_balance
                    Real Type: float64
                    Expected Type: NA
                Column: lang_document
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

         PIDM_KEY TRANSACTION_ID TERM_CODE_KEY         DETAIL_CODE
                                        origin  target      origin target
41       90001327             42         20032  020032         NaN    NaN  \
44       90001327             45         20062  020062         NaN    NaN
48       90001327             49         20062  020062         NaN    NaN
55       90001327             56         20063  020063         NaN    NaN
56       90001327             57         20063  020063         NaN    NaN
...           ...            ...           ...     ...         ...    ...
6729661  90596437              1        020233    <NA>        CCL1    NaN
6729662  90596437              2        020233    <NA>        ESMC    NaN
6729663  90596439              1        020232    <NA>        SCP1    NaN
6729664  90596439              2        020232    <NA>        SCP2    NaN
6729665  90596439              3        020232    <NA>        RDVM    NaN

                            DESCRIPTION        CHARGE        PAYMENT
                                 origin target origin target  origin target
41                                  NaN    NaN    NaN    NaN     NaN    NaN  \
44                                  NaN    NaN    NaN    NaN     NaN    NaN
48                                  NaN    NaN    NaN    NaN     NaN    NaN
55                                  NaN    NaN    NaN    NaN     NaN    NaN
56                                  NaN    NaN    NaN    NaN     NaN    NaN
...                                 ...    ...    ...    ...     ...    ...
6729661  CSSCL-55036 Int'l Tuition Fees    NaN  155.0    NaN     NaN    NaN
6729662          MC-Shopify Order#24899    NaN    NaN    NaN   155.0    NaN
6729663   CSSCP-55033 CS Summer Camp Pm    NaN  460.0    NaN     NaN    NaN
6729664     CSSCP-55033 CS Admin Charge    NaN   35.0    NaN     NaN    NaN
6729665                    eSelect Visa    NaN    NaN    NaN   495.0    NaN

        BALANCE        DOCUMENT
         origin target   origin target
41          NaN    NaN      NaN    NaN
44          NaN    NaN      NaN    NaN
48          NaN    NaN      NaN    NaN
55          NaN    NaN      NaN    NaN
56          NaN    NaN      NaN    NaN
...         ...    ...      ...    ...
6729661     0.0    NaN      NaN    NaN
6729662     0.0    NaN      NaN    NaN
6729663     0.0    NaN      NaN    NaN
6729664     0.0    NaN      NaN    NaN
6729665     0.0    NaN   049215    NaN

[99729 rows x 16 columns]

In [208]:
3788423 - 99729

3688694

## Program History

BT_PROGRAM_HISTORY_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY']

In [95]:
pd.read_csv("data/Prod/Validate/Academic Period Details.csv").columns

C:\Users\dhernandezvarg00\AppData\Local\Temp\ipykernel_12032\653729236.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("data/Prod/Validate/Academic Period Details.csv").columns

Index(['lang_pidmkey', 'mshied_studentid', 'lang_id', 'lang_termcodekey',
       'mshied_academicperiodid', 'lang_programcode', 'mshied_programid',
       'lang_major', 'lang_concentration', 'lang_residentcode',
       'lang_residentnameorig', 'lang_residentname', 'lang_studenttypeorig',
       'lang_studenttype', 'lang_studentstatusorig', 'lang_studentstatus',
       'lang_programdescriptionorig', 'lang_totalcredits',
       'lang_academicstanding', 'lang_academicstandingdescriptionorig',
       'lang_studenttypecode', 'mshied_termgpa', 'lang_enrolmentstatus',
       'lang_cmiffeepaid'],
      dtype='object')

In [96]:
baseline_filepath = "data/Prod/Baseline/BT_PROGRAM_HISTORY_DETAIL.csv"
validate_filepath = "data/Prod/Validate/Academic Period Details.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_pidmkey",
     "common_col_type": "",
    },
    {"baseline_col_name": "TERM_CODE_KEY",
     "validate_col_name": "lang_termcodekey",
     "common_col_type": "",
    },
    {"baseline_col_name": "ID",
     "validate_col_name": "lang_id",
     "common_col_type": "",
    },
    {"baseline_col_name": "STUDENT_STATUS",
     "validate_col_name": "lang_studentstatusorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "PROGRAM_CODE",
     "validate_col_name": "lang_programcode",
     "common_col_type": "",
    },
    {"baseline_col_name": "PROGRAM_NAME",
     "validate_col_name": "lang_programdescriptionorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "MAJOR",
     "validate_col_name": "lang_major",
     "common_col_type": "",
    },
    {"baseline_col_name": "CONCENTRATION",
     "validate_col_name": "lang_concentration",
     "common_col_type": "",
    },
    {"baseline_col_name": "TOTAL_CREDITS",
     "validate_col_name": "lang_totalcredits",
     "common_col_type": "",
    },
    {"baseline_col_name": "ACADEMIC_STANDING",
     "validate_col_name": "lang_academicstanding",
     "common_col_type": "",
    },
    {"baseline_col_name": "ACAD_STANDING_DESC",
     "validate_col_name": "lang_academicstandingdescriptionorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "RESD_CODE",
     "validate_col_name": "lang_residentcode",
     "common_col_type": "",
    },
    {"baseline_col_name": "RESD_DESC",
     "validate_col_name": "lang_residentnameorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "STUDENT_TYPE_CODE",
     "validate_col_name": "lang_studenttypecode",
     "common_col_type": "string",
    },
    {"baseline_col_name": "STUDENT_TYPE",
     "validate_col_name": "lang_studenttypeorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "TERM_GPA",
     "validate_col_name": "mshied_termgpa",
     "common_col_type": "",
    },
    {"baseline_col_name": "ENROLMENT_STATUS",
     "validate_col_name": "lang_enrolmentstatus",
     "common_col_type": "",
    },
    {"baseline_col_name": "CMIF_FEE_PAID",
     "validate_col_name": "lang_cmiffeepaid",
     "common_col_type": "",
    }
]
baseline_date_cols = {}  # "EFFECTIVE_DATE": None,}  # "%d-%b-%y",
validate_date_cols = {}  # "lang_effectivedate": None,}
col_id = ['PIDM_KEY', 'TERM_CODE_KEY']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
unify_text = False
text_cols = None
# unify_text = True
# text_cols = ['HOLD_REASON']

In [97]:
cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (7,9,10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:311: UserWarning:     Common data type does not match origin data type. Validation    will force common data type.
  warnings.warn("    Common data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: TERM_CODE_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: ID
                    Real Type: int64
                    Expected Type: NA
                Column: STUDENT_STATUS
                    Real Type: object
                    Expected Type: NA
                Column: PROGRAM_CODE
                    Real Type: object
                    Expected Type: NA
                Column: PROGRAM_NAME
                    Real Type: object
                    Expected Type: NA
                Column: MAJOR
                    Real Type: object
                    Expected Type: NA
                Column: CONCENTRATION
                    Real Type: object
                    Expected Type: NA
                Column: TOTAL_CREDITS
                    Real Type: float64
                    Expected Type: NA
                Column: ACADEMIC_STANDING
                    Real Type: object
                    Expected Type: NA
                Column: ACAD_STANDING_DESC
                    Real Type: object
                    Expected Type: NA
                Column: RESD_CODE
                    Real Type: object
                    Expected Type: NA
                Column: RESD_DESC
                    Real Type: object
                    Expected Type: NA
                Column: STUDENT_TYPE_CODE
                    Real Type: object
                    Expected Type: NA
                Column: STUDENT_TYPE
                    Real Type: object
                    Expected Type: NA
                Column: TERM_GPA
                    Real Type: float64
                    Expected Type: NA
                Column: ENROLMENT_STATUS
                    Real Type: object
                    Expected Type: NA
                Column: CMIF_FEE_PAID
                    Real Type: float64
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_pidmkey
                    Real Type: float64
                    Expected Type: NA
                Column: lang_termcodekey
                    Real Type: float64
                    Expected Type: NA
                Column: lang_id
                    Real Type: float64
                    Expected Type: NA
                Column: lang_studentstatusorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_programcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_programdescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_major
                    Real Type: object
                    Expected Type: NA
                Column: lang_concentration
                    Real Type: object
                    Expected Type: NA
                Column: lang_totalcredits
                    Real Type: float64
                    Expected Type: NA
                Column: lang_academicstanding
                    Real Type: object
                    Expected Type: NA
                Column: lang_academicstandingdescriptionorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_residentcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_residentnameorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_studenttypecode
                    Real Type: object
                    Expected Type: NA
                Column: lang_studenttypeorig
                    Real Type: object
                    Expected Type: NA
                Column: mshied_termgpa
                    Real Type: float64
                    Expected Type: NA
                Column: lang_enrolmentstatus
                    Real Type: object
                    Expected Type: NA
                Column: lang_cmiffeepaid
                    Real Type: float64
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [98]:
cur_validator.name_mapping

{'lang_pidmkey': 'PIDM_KEY',
 'lang_termcodekey': 'TERM_CODE_KEY',
 'lang_id': 'ID',
 'lang_studentstatusorig': 'STUDENT_STATUS',
 'lang_programcode': 'PROGRAM_CODE',
 'lang_programdescriptionorig': 'PROGRAM_NAME',
 'lang_major': 'MAJOR',
 'lang_concentration': 'CONCENTRATION',
 'lang_totalcredits': 'TOTAL_CREDITS',
 'lang_academicstanding': 'ACADEMIC_STANDING',
 'lang_academicstandingdescriptionorig': 'ACAD_STANDING_DESC',
 'lang_residentcode': 'RESD_CODE',
 'lang_residentnameorig': 'RESD_DESC',
 'lang_studenttypecode': 'STUDENT_TYPE_CODE',
 'lang_studenttypeorig': 'STUDENT_TYPE',
 'mshied_termgpa': 'TERM_GPA',
 'lang_enrolmentstatus': 'ENROLMENT_STATUS',
 'lang_cmiffeepaid': 'CMIF_FEE_PAID'}

In [99]:
cur_validator.check_existence()

,PIDM_KEY,TERM_CODE_KEY,ID,STUDENT_STATUS,PROGRAM_CODE,PROGRAM_NAME,MAJOR,CONCENTRATION,TOTAL_CREDITS,ACADEMIC_STANDING,ACAD_STANDING_DESC,RESD_CODE,RESD_DESC,STUDENT_TYPE_CODE,STUDENT_TYPE,TERM_GPA,ENROLMENT_STATUS,CMIF_FEE_PAID
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565217,False,False,True,True,True,True,True,False,False,False,False,True,True,True,True,False,False,False
565218,False,False,True,True,True,True,True,False,False,False,False,True,True,True,True,False,True,False
565219,False,False,True,True,True,True,True,False,False,False,False,True,True,True,True,False,False,False
565220,False,False,True,True,True,True,True,False,False,False,False,True,True,True,True,False,True,False
565221,False,False,True,True,True,True,True,False,False,False,False,True,True,True,True,False,False,False

In [100]:
cur_validator.existence_result.sum()

PIDM_KEY                0
TERM_CODE_KEY           0
ID                    291
STUDENT_STATUS        291
PROGRAM_CODE          291
PROGRAM_NAME          281
MAJOR                 291
CONCENTRATION           4
TOTAL_CREDITS           9
ACADEMIC_STANDING       5
ACAD_STANDING_DESC      5
RESD_CODE             291
RESD_DESC             291
STUDENT_TYPE_CODE     291
STUDENT_TYPE          291
TERM_GPA                9
ENROLMENT_STATUS      213
CMIF_FEE_PAID           0
dtype: int64

In [101]:
# Registers with existence flags
(cur_validator.existence_result.sum(axis=1) > 0).sum()

319

In [102]:
# Total existence flags
cur_validator.existence_result.sum().sum()

2854

In [103]:
cur_validator.row_difference

260

In [104]:
cur_validator.col_difference

{'origin_cols_not_in_target': set(),
 'target_cols_not_in_origin': {'lang_residentname',
  'lang_studentstatus',
  'lang_studenttype',
  'mshied_academicperiodid',
  'mshied_programid',
  'mshied_studentid'}}

In [105]:
cur_validator.duplicated_rows

{'origin': 0, 'target': 25}

In [106]:
cur_validator.check_equality()

          PIDM_KEY TERM_CODE_KEY           ID        STUDENT_STATUS
                                       origin target         origin target
10      90001327.0      201910.0          NaN    NaN            NaN    NaN  \
12      90001327.0      201930.0          NaN    NaN            NaN    NaN
13      90001327.0      202010.0          NaN    NaN            NaN    NaN
15      90001327.0      202030.0          NaN    NaN            NaN    NaN
16      90001327.0      202110.0          NaN    NaN            NaN    NaN
...            ...           ...          ...    ...            ...    ...
565217  90596436.0      111111.0  100422226.0    NaN             IS    NaN
565218  90596437.0       20233.0  100422227.0    NaN             AS    NaN
565219  90596437.0      111111.0  100422227.0    NaN             IS    NaN
565220  90596439.0       20232.0  100422228.0    NaN             AS    NaN
565221  90596439.0      111111.0  100422228.0    NaN             IS    NaN

       PROGRAM_CODE               PROGRAM_NAME         ...
             origin target              origin target  ...
10              NaN    NaN                 NaN    NaN  ...  \
12              NaN    NaN                 NaN    NaN  ...
13              NaN    NaN                 NaN    NaN  ...
15              NaN    NaN                 NaN    NaN  ...
16              NaN    NaN                 NaN    NaN  ...
...             ...    ...                 ...    ...  ...
565217    CSGN_CSGN    NaN  Continuing Studies    NaN  ...
565218    CSGN_CSGN    NaN  Continuing Studies    NaN  ...
565219    CSGN_CSGN    NaN  Continuing Studies    NaN  ...
565220    CSGN_CSGN    NaN  Continuing Studies    NaN  ...
565221    CSGN_CSGN    NaN  Continuing Studies    NaN  ...

                 RESD_DESC        STUDENT_TYPE_CODE
                    origin target            origin target
10                     NaN    NaN              <NA>   <NA>  \
12                     NaN    NaN              <NA>   <NA>
13                     NaN    NaN              <NA>   <NA>
15                     NaN    NaN              <NA>   <NA>
16                     NaN    NaN              <NA>   <NA>
...                    ...    ...               ...    ...
565217  Continuing Studies    NaN                 S   <NA>
565218  Continuing Studies    NaN                 S   <NA>
565219  Continuing Studies    NaN                 S   <NA>
565220  Continuing Studies    NaN                 S   <NA>
565221  Continuing Studies    NaN                 S   <NA>

              STUDENT_TYPE        TERM_GPA        ENROLMENT_STATUS
                    origin target   origin target           origin target
10                     NaN    NaN    4.330    4.3              NaN    NaN
12                     NaN    NaN    4.330    4.3              NaN    NaN
13                     NaN    NaN    4.330    4.3              NaN    NaN
15                     NaN    NaN    4.165    4.2              NaN    NaN
16                     NaN    NaN    4.165    4.2              NaN    NaN
...                    ...    ...      ...    ...              ...    ...
565217  Continuing Studies    NaN      NaN    NaN              NaN    NaN
565218  Continuing Studies    NaN      NaN    NaN               EL    NaN
565219  Continuing Studies    NaN      NaN    NaN              NaN    NaN
565220  Continuing Studies    NaN      NaN    NaN               EL    NaN
565221  Continuing Studies    NaN      NaN    NaN              NaN    NaN

[170349 rows x 32 columns]

In [107]:
cur_validator.target_rows_not_in_origin

,PIDM_KEY,TERM_CODE_KEY,ID,STUDENT_STATUS,PROGRAM_CODE,PROGRAM_NAME,MAJOR,CONCENTRATION,TOTAL_CREDITS,ACADEMIC_STANDING,ACAD_STANDING_DESC,RESD_CODE,RESD_DESC,STUDENT_TYPE_CODE,STUDENT_TYPE,TERM_GPA,ENROLMENT_STATUS,CMIF_FEE_PAID
0,90162400.0,19971.0,100041116.0,AS,ZZCS.000000,NaN,ZZCS,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
1,90162400.0,20032.0,100041116.0,AS,ZZCS.000000,NaN,ZZCS,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
2,90162400.0,20033.0,100041116.0,AS,ZZCS.000000,NaN,ZZCS,NaN,0.0,NaN,NaN,C,Continuing Studies,1,Term 1 (Career),0.0,EL,NaN
3,90162400.0,20041.0,100041116.0,AS,ZZCS.000000,NaN,ZZCS,NaN,0.0,NaN,NaN,C,Continuing Studies,1,Term 1 (Career),0.0,EL,NaN
4,90162400.0,20042.0,100041116.0,AS,ZZCS.000000,NaN,ZZCS,NaN,0.0,NaN,NaN,C,Continuing Studies,1,Term 1 (Career),0.0,EL,NaN
5,90162400.0,20043.0,100041116.0,AS,ZZCS.000000,NaN,ZZCS,NaN,0.0,NaN,NaN,C,Continuing Studies,S,Continuing Studies,0.0,EL,NaN
6,90162400.0,20051.0,100041116.0,AS,ZZCS.000000,NaN,ZZCS,NaN,0.0,NaN,NaN,C,Continuing Studies,S,Continuing Studies,0.0,EL,NaN
7,90162400.0,20052.0,100041116.0,AS,ZZCS.000000,NaN,ZZCS,NaN,0.0,NaN,NaN,C,Continuing Studies,S,Continuing Studies,0.0,EL,NaN
8,90162400.0,20053.0,100041116.0,AS,ZIEH.CERTIF,NaN,ZIEH,NaN,0.0,NaN,NaN,C,Continuing Studies,0,Undeclared,0.0,EL,NaN
9,90162400.0,20061.0,100041116.0,AS,ZIEH.CERTIF,NaN,ZIEH,NaN,0.0,NaN,NaN,C,Continuing Studies,0,Undeclared,0.0,EL,NaN
10,90162400.0,20062.0,100041116.0,AS,ZIEH.CERTIF,NaN,ZIEH,NaN,0.0,NaN,NaN,C,Continuing Studies,0,Undeclared,0.0,EL,NaN
11,90162400.0,20232.0,100041116.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
12,90162400.0,111111.0,100041116.0,IS,ZZCS.000000,NaN,ZZCS,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
13,90415869.0,20232.0,100248183.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
14,90415869.0,111111.0,100248183.0,IS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
15,90415869.0,120152.0,100248183.0,AS,WKSP_D,New Student Orientation: Domestic,WKSP,NaN,NaN,NaN,NaN,R,Resident,N,New (A&S),NaN,NaN,NaN
16,90415869.0,120153.0,100248183.0,IS,WKSP_D,New Student Orientation: Domestic,WKSP,NaN,NaN,NaN,NaN,R,Resident,N,New (A&S),NaN,NaN,NaN
17,90415869.0,201420.0,100248183.0,NR,AS_SCIE,Associate of Science: Chemistry,CHEM,NaN,NaN,NaN,NaN,R,Resident,N,New (A&S),NaN,EL,NaN
18,90415869.0,201520.0,100248183.0,NR,AS_SCIE,Associate of Science: Chemistry,CHEM,NaN,NaN,NaN,NaN,R,Resident,N,New (A&S),NaN,NaN,NaN
19,90594314.0,20232.0,100420179.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
20,90594314.0,111111.0,100420179.0,IS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
21,90594758.0,20223.0,100420609.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
22,90594758.0,20231.0,100420609.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
23,90594758.0,20232.0,100420609.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
24,90594758.0,20233.0,100420609.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
25,90594758.0,111111.0,100420609.0,IS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
26,90594997.0,20232.0,100420840.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
27,90594997.0,111111.0,100420840.0,IS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
28,90595932.0,20232.0,100421742.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
29,90595932.0,111111.0,100421742.0,IS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,3.8,NaN,NaN

In [108]:
cur_validator.origin_rows_not_in_target

,PIDM_KEY,TERM_CODE_KEY,ID,STUDENT_STATUS,PROGRAM_CODE,PROGRAM_NAME,MAJOR,CONCENTRATION,TOTAL_CREDITS,ACADEMIC_STANDING,ACAD_STANDING_DESC,RESD_CODE,RESD_DESC,STUDENT_TYPE_CODE,STUDENT_TYPE,TERM_GPA,ENROLMENT_STATUS,CMIF_FEE_PAID
0,90092214.0,202320.0,95102554.0,AS,DP_SCIE,Diploma: Arts & Science General (Science),SCIE,NaN,NaN,NaN,NaN,R,Resident,C,Continuing (A&S),NaN,NaN,NaN
1,90155137.0,20191.0,100033857.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
2,90155137.0,20231.0,100033857.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
3,90155137.0,111111.0,100033857.0,IS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
4,90155137.0,200130.0,100033857.0,AS,JOUR.CERTIF,Certificate: Journalism,JOUR,NaN,23.0,00,Good Standing,R,Resident,1,Term 1 (Career),3.69,EL,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,90596436.0,111111.0,100422226.0,IS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
287,90596437.0,20233.0,100422227.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
288,90596437.0,111111.0,100422227.0,IS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN
289,90596439.0,20232.0,100422228.0,AS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,EL,NaN
290,90596439.0,111111.0,100422228.0,IS,CSGN_CSGN,Continuing Studies,CSGN,NaN,NaN,NaN,NaN,C,Continuing Studies,S,Continuing Studies,NaN,NaN,NaN

In [109]:
validators['program_history'] = cur_validator

In [110]:
validators['program_history'].equality_result.iloc[:, 20:]

       RESD_CODE                  RESD_DESC        STUDENT_TYPE_CODE
          origin target              origin target            origin target
10           NaN    NaN                 NaN    NaN              <NA>   <NA>  \
12           NaN    NaN                 NaN    NaN              <NA>   <NA>
13           NaN    NaN                 NaN    NaN              <NA>   <NA>
15           NaN    NaN                 NaN    NaN              <NA>   <NA>
16           NaN    NaN                 NaN    NaN              <NA>   <NA>
...          ...    ...                 ...    ...               ...    ...
565217         C    NaN  Continuing Studies    NaN                 S   <NA>
565218         C    NaN  Continuing Studies    NaN                 S   <NA>
565219         C    NaN  Continuing Studies    NaN                 S   <NA>
565220         C    NaN  Continuing Studies    NaN                 S   <NA>
565221         C    NaN  Continuing Studies    NaN                 S   <NA>

              STUDENT_TYPE        TERM_GPA        ENROLMENT_STATUS
                    origin target   origin target           origin target
10                     NaN    NaN    4.330    4.3              NaN    NaN
12                     NaN    NaN    4.330    4.3              NaN    NaN
13                     NaN    NaN    4.330    4.3              NaN    NaN
15                     NaN    NaN    4.165    4.2              NaN    NaN
16                     NaN    NaN    4.165    4.2              NaN    NaN
...                    ...    ...      ...    ...              ...    ...
565217  Continuing Studies    NaN      NaN    NaN              NaN    NaN
565218  Continuing Studies    NaN      NaN    NaN               EL    NaN
565219  Continuing Studies    NaN      NaN    NaN              NaN    NaN
565220  Continuing Studies    NaN      NaN    NaN               EL    NaN
565221  Continuing Studies    NaN      NaN    NaN              NaN    NaN

[170349 rows x 12 columns]

In [111]:
validators['program_history'].equality_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170349 entries, 10 to 565221
Data columns (total 32 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   (PIDM_KEY, )                  170349 non-null  float64
 1   (TERM_CODE_KEY, )             170349 non-null  float64
 2   (ID, origin)                  291 non-null     float64
 3   (ID, target)                  0 non-null       float64
 4   (STUDENT_STATUS, origin)      325 non-null     object
 5   (STUDENT_STATUS, target)      34 non-null      object
 6   (PROGRAM_CODE, origin)        681 non-null     object
 7   (PROGRAM_CODE, target)        390 non-null     object
 8   (PROGRAM_NAME, origin)        671 non-null     object
 9   (PROGRAM_NAME, target)        390 non-null     object
 10  (MAJOR, origin)               681 non-null     object
 11  (MAJOR, target)               390 non-null     object
 12  (CONCENTRATION, origin)       4 non-null       object
 13  (CONCENTRATION, target)       0 non-null       object
 14  (TOTAL_CREDITS, origin)       56 non-null      float64
 15  (TOTAL_CREDITS, target)       47 non-null      float64
 16  (ACADEMIC_STANDING, origin)   66495 non-null   object
 17  (ACADEMIC_STANDING, target)   66490 non-null   object
 18  (ACAD_STANDING_DESC, origin)  31 non-null      object
 19  (ACAD_STANDING_DESC, target)  26 non-null      object
 20  (RESD_CODE, origin)           292 non-null     object
 21  (RESD_CODE, target)           1 non-null       object
 22  (RESD_DESC, origin)           292 non-null     object
 23  (RESD_DESC, target)           1 non-null       object
 24  (STUDENT_TYPE_CODE, origin)   677 non-null     string
 25  (STUDENT_TYPE_CODE, target)   386 non-null     string
 26  (STUDENT_TYPE, origin)        677 non-null     object
 27  (STUDENT_TYPE, target)        386 non-null     object
 28  (TERM_GPA, origin)            153245 non-null  float64
 29  (TERM_GPA, target)            153236 non-null  float64
 30  (ENROLMENT_STATUS, origin)    225 non-null     object
 31  (ENROLMENT_STATUS, target)    12 non-null      object
dtypes: float64(8), object(22), string(2)
memory usage: 42.9+ MB

## Student Data

BT_STUDENT_DATA -> ['PIDM_KEY']

In [3]:
baseline_filepath = "data/Prod/Baseline/BT_STUDENT_DATA.csv"
validate_filepath = "data/Prod/Validate/Contact.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_id",
     "common_col_type": "",
    },
    {"baseline_col_name": "ID",
     "validate_col_name": "bsi_studentid",
     "common_col_type": "string",
    },
    {"baseline_col_name": "LAST_NAME",
     "validate_col_name": "lastname",
     "common_col_type": "string",
    },
    {"baseline_col_name": "FIRST_NAME",
     "validate_col_name": "firstname",
     "common_col_type": "string",
    },
    {"baseline_col_name": "MIDDLE_NAME",
     "validate_col_name": "middlename",
     "common_col_type": "string",
    },
    {"baseline_col_name": "NAME_PREFIX",
     "validate_col_name": "salutation",
     "common_col_type": "string",
    },
    {"baseline_col_name": "NAME_SUFFIX",
     "validate_col_name": "lang_namesuffix",
     "common_col_type": "string",
    },
    {"baseline_col_name": "SURNAME_PREFIX",
     "validate_col_name": "lang_surnameprefix",
     "common_col_type": "string",
    },
    {"baseline_col_name": "BIRTH_DATE",
     "validate_col_name": "birthdate",
     "common_col_type": "",
    },
    {"baseline_col_name": "AGE",
     "validate_col_name": "lang_age",
     "common_col_type": "",
    },
    {"baseline_col_name": "GENDER",
     "validate_col_name": "lang_genderorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "DECEASED_IND",
     "validate_col_name": "bsi_deceasedind",
     "common_col_type": "",
    },
    {"baseline_col_name": "DECEASED_DATE",
     "validate_col_name": "lang_deceaseddate",
     "common_col_type": "",
    },
    {"baseline_col_name": "STREET1_LINE1",
     "validate_col_name": "address1_line1",
     "common_col_type": "string",
    },
    {"baseline_col_name": "STREET1_LINE2",
     "validate_col_name": "address1_line2",
     "common_col_type": "string",
    },
    {"baseline_col_name": "STREET1_LINE3",
     "validate_col_name": "address1_line3",
     "common_col_type": "string",
    },
    {"baseline_col_name": "CITY1",
     "validate_col_name": "address1_city",
     "common_col_type": "",
    },
    {"baseline_col_name": "STATE1",
     "validate_col_name": "address1_stateorprovince",
     "common_col_type": "",
    },
    {"baseline_col_name": "ZIP1",
     "validate_col_name": "address1_postalcode",
     "common_col_type": "",
    },
    {"baseline_col_name": "NATN_CODE1",
     "validate_col_name": "lang_countrycode",
     "common_col_type": "",
    },
    {"baseline_col_name": "NATN_DESC1",
     "validate_col_name": "lang_countryorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "PREFERRED_NAME",
     "validate_col_name": "bsi_preferredname",
     "common_col_type": "",
    },
    {"baseline_col_name": "VETC_NUMBER",
     "validate_col_name": "lang_vetcnumber",
     "common_col_type": "string",
    },
    {"baseline_col_name": "RELG_DESC",
     "validate_col_name": "lang_primarylanguage",
     "common_col_type": "",
    },
    {"baseline_col_name": "CITZ_CODE",
     "validate_col_name": "lang_citizenshipcode",
     "common_col_type": "",
    },
    {"baseline_col_name": "COLL_EMAIL",
     "validate_col_name": "lang_collemail",
     "common_col_type": "",
    },
    {"baseline_col_name": "PREF_EMAIL",
     "validate_col_name": "bsi_banneremailpreferred",
     "common_col_type": "",
    },
    {"baseline_col_name": "STUD_EMAIL",
     "validate_col_name": "lang_studentemail",
     "common_col_type": "",
    },
    {"baseline_col_name": "AR_ACCOUNT_BALANCE",
     "validate_col_name": "lang_araccountbalance",
     "common_col_type": "",
    },
    {"baseline_col_name": "AR_AMOUNT_DUE",
     "validate_col_name": "lang_aramountdue",
     "common_col_type": "",
    },
    {"baseline_col_name": "PERSON_TYPE",
     "validate_col_name": "lang_persontypeorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "NATN_CODE_CITIZEN",
     "validate_col_name": "lang_nationalitycode",
     "common_col_type": "",
    },
    {"baseline_col_name": "NATN_CODE_CITIZEN_DESC",
     "validate_col_name": "lang_nationalityorigdata",
     "common_col_type": "",
    },
    {"baseline_col_name": "PRIMARY_PHONE",
     "validate_col_name": "telephone1",
     "common_col_type": "",
    },
    {"baseline_col_name": "MOBILE_PHONE",
     "validate_col_name": "mobilephone",
     "common_col_type": "",
    },
    {"baseline_col_name": "INTERNATIONAL_PHONE",
     "validate_col_name": "telephone2",
     "common_col_type": "",
    },
    {"baseline_col_name": "AGENT_EMAIL",
     "validate_col_name": "lang_agentemail",
     "common_col_type": "",
    },
    {"baseline_col_name": "INTERNATIONAL_VISA_NUMBER",
     "validate_col_name": "lang_internationalvisanumber",
     "common_col_type": "",
    },
    {"baseline_col_name": "INTERNATIONAL_VISA_TYPE",
     "validate_col_name": "lang_internationalvisatype",
     "common_col_type": "",
    },
    {"baseline_col_name": "VISA_START_DATE",
     "validate_col_name": "lang_visastartdate",
     "common_col_type": "",
    },
    {"baseline_col_name": "VISA_END_DATE",
     "validate_col_name": "lang_visaenddate",
     "common_col_type": "",
    },
    {"baseline_col_name": "EMERGENCY_FIRST_NAME",
     "validate_col_name": "lang_emergencyfirstname",
     "common_col_type": "",
    },
    {"baseline_col_name": "EMERGENCY_LAST_NAME",
     "validate_col_name": "lang_emergencylastname",
     "common_col_type": "",
    },
    {"baseline_col_name": "EMERGENCY_PHONE",
     "validate_col_name": "lang_emergencyphone",
     "common_col_type": "",
    },
    {"baseline_col_name": "LAST_TERM",
     "validate_col_name": "lang_lasttermorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "LAST_TERM_GPA",
     "validate_col_name": "lang_lasttermgpa",
     "common_col_type": "",
    },
    {"baseline_col_name": "CGPA",
     "validate_col_name": "lang_cgpa",
     "common_col_type": "",
    },
    {"baseline_col_name": "LAST_ACADEMIC_STANDING",
     "validate_col_name": "lang_lastacademicstanding",
     "common_col_type": "",
    }
]
baseline_date_cols = {"BIRTH_DATE": None,
                      "DECEASED_DATE": None,
                      "VISA_START_DATE": None,
                      "VISA_END_DATE": None,
                     }  # "%d-%b-%y",
validate_date_cols = {"birthdate": None,
                      "lang_deceaseddate": None,
                      "lang_visastartdate": None,
                      "lang_visaenddate": None,
                     }
col_id = ['PIDM_KEY']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
unify_text = False
text_cols = None
# unify_text = True
# text_cols = ['HOLD_REASON']

In [4]:
cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (1,5,6,11,12,14,15,20,22,23,34,37,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (1,6,12,13,24,40) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:311: UserWarning:     Common data type does not match origin data type. Validation    will force common data type.
  warnings.warn("    Common data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: ID
                    Real Type: object
                    Expected Type: NA
                Column: LAST_NAME
                    Real Type: object
                    Expected Type: NA
                Column: FIRST_NAME
                    Real Type: object
                    Expected Type: NA
                Column: MIDDLE_NAME
                    Real Type: object
                    Expected Type: NA
                Column: NAME_PREFIX
                    Real Type: object
                    Expected Type: NA
                Column: NAME_SUFFIX
                    Real Type: object
                    Expected Type: NA
                Column: SURNAME_PREFIX
                    Real Type: float64
                    Expected Type: NA
                Column: BIRTH_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: AGE
                    Real Type: float64
                    Expected Type: NA
                Column: GENDER
                    Real Type: object
                    Expected Type: NA
                Column: DECEASED_IND
                    Real Type: object
                    Expected Type: NA
                Column: DECEASED_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: STREET1_LINE1
                    Real Type: object
                    Expected Type: NA
                Column: STREET1_LINE2
                    Real Type: object
                    Expected Type: NA
                Column: STREET1_LINE3
                    Real Type: object
                    Expected Type: NA
                Column: CITY1
                    Real Type: object
                    Expected Type: NA
                Column: STATE1
                    Real Type: object
                    Expected Type: NA
                Column: ZIP1
                    Real Type: object
                    Expected Type: NA
                Column: NATN_CODE1
                    Real Type: float64
                    Expected Type: NA
                Column: NATN_DESC1
                    Real Type: object
                    Expected Type: NA
                Column: PREFERRED_NAME
                    Real Type: object
                    Expected Type: NA
                Column: VETC_NUMBER
                    Real Type: object
                    Expected Type: NA
                Column: RELG_DESC
                    Real Type: object
                    Expected Type: NA
                Column: CITZ_CODE
                    Real Type: object
                    Expected Type: NA
                Column: COLL_EMAIL
                    Real Type: object
                    Expected Type: NA
                Column: PREF_EMAIL
                    Real Type: object
                    Expected Type: NA
                Column: STUD_EMAIL
                    Real Type: object
                    Expected Type: NA
                Column: AR_ACCOUNT_BALANCE
                    Real Type: float64
                    Expected Type: NA
                Column: AR_AMOUNT_DUE
                    Real Type: float64
                    Expected Type: NA
                Column: PERSON_TYPE
                    Real Type: object
                    Expected Type: NA
                Column: NATN_CODE_CITIZEN
                    Real Type: float64
                    Expected Type: NA
                Column: NATN_CODE_CITIZEN_DESC
                    Real Type: object
                    Expected Type: NA
                Column: PRIMARY_PHONE
                    Real Type: object
                    Expected Type: NA
                Column: MOBILE_PHONE
                    Real Type: object
                    Expected Type: NA
                Column: INTERNATIONAL_PHONE
                    Real Type: float64
                    Expected Type: NA
                Column: AGENT_EMAIL
                    Real Type: object
                    Expected Type: NA
                Column: INTERNATIONAL_VISA_NUMBER
                    Real Type: object
                    Expected Type: NA
                Column: INTERNATIONAL_VISA_TYPE
                    Real Type: object
                    Expected Type: NA
                Column: VISA_START_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: VISA_END_DATE
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: EMERGENCY_FIRST_NAME
                    Real Type: object
                    Expected Type: NA
                Column: EMERGENCY_LAST_NAME
                    Real Type: object
                    Expected Type: NA
                Column: EMERGENCY_PHONE
                    Real Type: object
                    Expected Type: NA
                Column: LAST_TERM
                    Real Type: float64
                    Expected Type: NA
                Column: LAST_TERM_GPA
                    Real Type: float64
                    Expected Type: NA
                Column: CGPA
                    Real Type: float64
                    Expected Type: NA
                Column: LAST_ACADEMIC_STANDING
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_id
                    Real Type: float64
                    Expected Type: NA
                Column: bsi_studentid
                    Real Type: object
                    Expected Type: NA
                Column: lastname
                    Real Type: object
                    Expected Type: NA
                Column: firstname
                    Real Type: object
                    Expected Type: NA
                Column: middlename
                    Real Type: object
                    Expected Type: NA
                Column: salutation
                    Real Type: float64
                    Expected Type: NA
                Column: lang_namesuffix
                    Real Type: object
                    Expected Type: NA
                Column: lang_surnameprefix
                    Real Type: float64
                    Expected Type: NA
                Column: birthdate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_age
                    Real Type: float64
                    Expected Type: NA
                Column: lang_genderorig
                    Real Type: object
                    Expected Type: NA
                Column: bsi_deceasedind
                    Real Type: object
                    Expected Type: NA
                Column: lang_deceaseddate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: address1_line1
                    Real Type: object
                    Expected Type: NA
                Column: address1_line2
                    Real Type: object
                    Expected Type: NA
                Column: address1_line3
                    Real Type: object
                    Expected Type: NA
                Column: address1_city
                    Real Type: object
                    Expected Type: NA
                Column: address1_stateorprovince
                    Real Type: object
                    Expected Type: NA
                Column: address1_postalcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_countrycode
                    Real Type: float64
                    Expected Type: NA
                Column: lang_countryorig
                    Real Type: object
                    Expected Type: NA
                Column: bsi_preferredname
                    Real Type: object
                    Expected Type: NA
                Column: lang_vetcnumber
                    Real Type: object
                    Expected Type: NA
                Column: lang_primarylanguage
                    Real Type: object
                    Expected Type: NA
                Column: lang_citizenshipcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_collemail
                    Real Type: object
                    Expected Type: NA
                Column: bsi_banneremailpreferred
                    Real Type: object
                    Expected Type: NA
                Column: lang_studentemail
                    Real Type: object
                    Expected Type: NA
                Column: lang_araccountbalance
                    Real Type: float64
                    Expected Type: NA
                Column: lang_aramountdue
                    Real Type: float64
                    Expected Type: NA
                Column: lang_persontypeorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_nationalitycode
                    Real Type: float64
                    Expected Type: NA
                Column: lang_nationalityorigdata
                    Real Type: object
                    Expected Type: NA
                Column: telephone1
                    Real Type: object
                    Expected Type: NA
                Column: mobilephone
                    Real Type: object
                    Expected Type: NA
                Column: telephone2
                    Real Type: float64
                    Expected Type: NA
                Column: lang_agentemail
                    Real Type: object
                    Expected Type: NA
                Column: lang_internationalvisanumber
                    Real Type: object
                    Expected Type: NA
                Column: lang_internationalvisatype
                    Real Type: object
                    Expected Type: NA
                Column: lang_visastartdate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_visaenddate
                    Real Type: datetime64[ns]
                    Expected Type: NA
                Column: lang_emergencyfirstname
                    Real Type: object
                    Expected Type: NA
                Column: lang_emergencylastname
                    Real Type: object
                    Expected Type: NA
                Column: lang_emergencyphone
                    Real Type: object
                    Expected Type: NA
                Column: lang_lasttermorig
                    Real Type: float64
                    Expected Type: NA
                Column: lang_lasttermgpa
                    Real Type: float64
                    Expected Type: NA
                Column: lang_cgpa
                    Real Type: float64
                    Expected Type: NA
                Column: lang_lastacademicstanding
                    Real Type: object
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [5]:
cur_validator.name_mapping

{'lang_id': 'PIDM_KEY',
 'bsi_studentid': 'ID',
 'lastname': 'LAST_NAME',
 'firstname': 'FIRST_NAME',
 'middlename': 'MIDDLE_NAME',
 'salutation': 'NAME_PREFIX',
 'lang_namesuffix': 'NAME_SUFFIX',
 'lang_surnameprefix': 'SURNAME_PREFIX',
 'birthdate': 'BIRTH_DATE',
 'lang_age': 'AGE',
 'lang_genderorig': 'GENDER',
 'bsi_deceasedind': 'DECEASED_IND',
 'lang_deceaseddate': 'DECEASED_DATE',
 'address1_line1': 'STREET1_LINE1',
 'address1_line2': 'STREET1_LINE2',
 'address1_line3': 'STREET1_LINE3',
 'address1_city': 'CITY1',
 'address1_stateorprovince': 'STATE1',
 'address1_postalcode': 'ZIP1',
 'lang_countrycode': 'NATN_CODE1',
 'lang_countryorig': 'NATN_DESC1',
 'bsi_preferredname': 'PREFERRED_NAME',
 'lang_vetcnumber': 'VETC_NUMBER',
 'lang_primarylanguage': 'RELG_DESC',
 'lang_citizenshipcode': 'CITZ_CODE',
 'lang_collemail': 'COLL_EMAIL',
 'bsi_banneremailpreferred': 'PREF_EMAIL',
 'lang_studentemail': 'STUD_EMAIL',
 'lang_araccountbalance': 'AR_ACCOUNT_BALANCE',
 'lang_aramountdue': 'AR_AMOUNT_DUE',
 'lang_persontypeorig': 'PERSON_TYPE',
 'lang_nationalitycode': 'NATN_CODE_CITIZEN',
 'lang_nationalityorigdata': 'NATN_CODE_CITIZEN_DESC',
 'telephone1': 'PRIMARY_PHONE',
 'mobilephone': 'MOBILE_PHONE',
 'telephone2': 'INTERNATIONAL_PHONE',
 'lang_agentemail': 'AGENT_EMAIL',
 'lang_internationalvisanumber': 'INTERNATIONAL_VISA_NUMBER',
 'lang_internationalvisatype': 'INTERNATIONAL_VISA_TYPE',
 'lang_visastartdate': 'VISA_START_DATE',
 'lang_visaenddate': 'VISA_END_DATE',
 'lang_emergencyfirstname': 'EMERGENCY_FIRST_NAME',
 'lang_emergencylastname': 'EMERGENCY_LAST_NAME',
 'lang_emergencyphone': 'EMERGENCY_PHONE',
 'lang_lasttermorig': 'LAST_TERM',
 'lang_lasttermgpa': 'LAST_TERM_GPA',
 'lang_cgpa': 'CGPA',
 'lang_lastacademicstanding': 'LAST_ACADEMIC_STANDING'}

In [7]:
cur_validator.check_existence()

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:394: UserWarning: Column PIDM_KEY is going to be casted as a string!
  warnings.warn(f"Column {col_name} is going to be casted as a string!")
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:394: UserWarning: Column ID is going to be casted as a string!
  warnings.warn(f"Column {col_name} is going to be casted as a string!")
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:394: UserWarning: Column VETC_NUMBER is going to be casted as a string!
  warnings.warn(f"Column {col_name} is going to be casted as a string!")

,PIDM_KEY,ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,NAME_PREFIX,NAME_SUFFIX,SURNAME_PREFIX,BIRTH_DATE,AGE,...,INTERNATIONAL_VISA_TYPE,VISA_START_DATE,VISA_END_DATE,EMERGENCY_FIRST_NAME,EMERGENCY_LAST_NAME,EMERGENCY_PHONE,LAST_TERM,LAST_TERM_GPA,CGPA,LAST_ACADEMIC_STANDING
0,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115092,False,True,True,True,False,False,False,False,True,True,...,False,False,False,True,True,True,False,False,False,False
115093,False,True,True,True,False,False,False,False,True,True,...,False,False,False,True,True,True,False,False,False,False
115094,False,True,True,True,True,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
115095,False,True,True,True,True,False,False,False,True,True,...,False,False,False,True,True,True,False,False,False,False
115096,False,True,True,True,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False

In [8]:
cur_validator.existence_result.sum()

PIDM_KEY                        0
ID                            141
LAST_NAME                     141
FIRST_NAME                    141
MIDDLE_NAME                    71
NAME_PREFIX                  1611
NAME_SUFFIX                     0
SURNAME_PREFIX                  0
BIRTH_DATE                    141
AGE                           141
GENDER                        142
DECEASED_IND                    0
DECEASED_DATE                   0
STREET1_LINE1                 155
STREET1_LINE2                  53
STREET1_LINE3                  12
CITY1                         155
STATE1                        116
ZIP1                          143
NATN_CODE1                    161
NATN_DESC1                    161
PREFERRED_NAME                 40
VETC_NUMBER                    46
RELG_DESC                       3
CITZ_CODE                     137
COLL_EMAIL                     39
PREF_EMAIL                    142
STUD_EMAIL                    140
AR_ACCOUNT_BALANCE            141
AR_AMOUNT_DUE                 141
PERSON_TYPE                   141
NATN_CODE_CITIZEN             131
NATN_CODE_CITIZEN_DESC        131
PRIMARY_PHONE                 147
MOBILE_PHONE                    1
INTERNATIONAL_PHONE             0
AGENT_EMAIL                    15
INTERNATIONAL_VISA_NUMBER       1
INTERNATIONAL_VISA_TYPE        27
VISA_START_DATE                 1
VISA_END_DATE                   1
EMERGENCY_FIRST_NAME           85
EMERGENCY_LAST_NAME            85
EMERGENCY_PHONE                85
LAST_TERM                       3
LAST_TERM_GPA                   3
CGPA                            2
LAST_ACADEMIC_STANDING          2
dtype: int64

In [9]:
# Registers with existence flags
(cur_validator.existence_result.sum(axis=1) > 0).sum()

1857

In [10]:
# Total existence flags
cur_validator.existence_result.sum().sum()

5175

In [11]:
cur_validator.row_difference

134

In [12]:
cur_validator.col_difference

{'origin_cols_not_in_target': set(),
 'target_cols_not_in_origin': {'bsi_agency',
  'bsi_agent',
  'lang_citizenship',
  'lang_citizenshiporig',
  'lang_country',
  'lang_genderlookup',
  'lang_lastterm',
  'lang_nationality',
  'lang_persontype'}}

In [13]:
cur_validator.duplicated_rows

{'origin': 0, 'target': 1156}

In [14]:
cur_validator.check_equality()

        PIDM_KEY         ID        LAST_NAME             FIRST_NAME
                     origin target    origin target          origin target
0       90001327       <NA>   <NA>      <NA>   <NA>            <NA>   <NA>  \
1       90001653       <NA>   <NA>      <NA>   <NA>            <NA>   <NA>
2       90001800       <NA>   <NA>      <NA>   <NA>            <NA>   <NA>
3       90001943       <NA>   <NA>      <NA>   <NA>            <NA>   <NA>
4       90002023       <NA>   <NA>      <NA>   <NA>            <NA>   <NA>
...          ...        ...    ...       ...    ...             ...    ...
115092  90596433  100422223   <NA>      Dinh   <NA>  Thi Diem Quynh   <NA>
115093  90596434  100422224   <NA>      Fang   <NA>           Ziyan   <NA>
115094  90596436  100422226   <NA>      Helm   <NA>         Jeffrey   <NA>
115095  90596437  100422227   <NA>   Iwumune   <NA>         Chizoba   <NA>
115096  90596439  100422228   <NA>      Liew   <NA>          Alexis   <NA>

       MIDDLE_NAME        NAME_PREFIX  ...  EMERGENCY_PHONE        LAST_TERM
            origin target      origin  ...           origin target    origin
0             <NA>   <NA>         Ms.  ...              NaN    NaN       NaN  \
1             <NA>   <NA>         Ms.  ...              NaN    NaN       NaN
2             <NA>   <NA>         Ms.  ...              NaN    NaN       NaN
3             <NA>   <NA>         Dr.  ...              NaN    NaN       NaN
4             <NA>   <NA>         Dr.  ...              NaN    NaN       NaN
...            ...    ...         ...  ...              ...    ...       ...
115092        <NA>   <NA>        <NA>  ...    +84.919219989    NaN       NaN
115093        <NA>   <NA>        <NA>  ...  +86.13805566198    NaN       NaN
115094         Roy   <NA>        <NA>  ...              NaN    NaN       NaN
115095    Gethrude   <NA>        <NA>  ...      778.7898481    NaN       NaN
115096        <NA>   <NA>        <NA>  ...              NaN    NaN       NaN

              LAST_TERM_GPA          CGPA        LAST_ACADEMIC_STANDING
       target        origin target origin target                 origin target
0         NaN           NaN    NaN  4.264   4.26                    NaN    NaN
1         NaN           NaN    NaN    NaN    NaN                    NaN    NaN
2         NaN           NaN    NaN    NaN    NaN                    NaN    NaN
3         NaN           NaN    NaN    NaN    NaN                    NaN    NaN
4         NaN           NaN    NaN    NaN    NaN                    NaN    NaN
...       ...           ...    ...    ...    ...                    ...    ...
115092    NaN           NaN    NaN    NaN    NaN                    NaN    NaN
115093    NaN           NaN    NaN    NaN    NaN                    NaN    NaN
115094    NaN           NaN    NaN    NaN    NaN                    NaN    NaN
115095    NaN           NaN    NaN    NaN    NaN                    NaN    NaN
115096    NaN           NaN    NaN    NaN    NaN                    NaN    NaN

[35230 rows x 85 columns]

In [15]:
cur_validator.target_rows_not_in_origin

,PIDM_KEY,ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,NAME_PREFIX,NAME_SUFFIX,SURNAME_PREFIX,BIRTH_DATE,AGE,...,INTERNATIONAL_VISA_TYPE,VISA_START_DATE,VISA_END_DATE,EMERGENCY_FIRST_NAME,EMERGENCY_LAST_NAME,EMERGENCY_PHONE,LAST_TERM,LAST_TERM_GPA,CGPA,LAST_ACADEMIC_STANDING
0,90162400,100041116,Tse,Joseph,<NA>,<NA>,<NA>,<NA>,1974-08-10,48.0,...,NaN,NaT,NaT,NaN,NaN,NaN,20062.0,0.0,NaN,NaN
1,90415869,100248183,Rosengarten,David,Ivan,<NA>,<NA>,<NA>,1993-10-28,29.0,...,NaN,NaT,NaT,Natalie,Rosengarten,604.716.4144,NaN,NaN,NaN,NaN
2,90594314,100420179,Wang,Yi,<NA>,<NA>,<NA>,<NA>,1991-10-13,31.0,...,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90594758,100420609,Grewal,Rupan,<NA>,<NA>,<NA>,<NA>,1998-08-04,24.0,...,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90594997,100420840,Uchida,Sho,<NA>,<NA>,<NA>,<NA>,2007-03-22,16.0,...,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,90595932,100421742,Park,Adam,<NA>,<NA>,<NA>,<NA>,2009-08-29,13.0,...,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,<NA>,<NA>,Knox,Eula,<NA>,<NA>,<NA>,<NA>,1974-06-08,NaN,...,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
cur_validator.origin_rows_not_in_target

,PIDM_KEY,ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,NAME_PREFIX,NAME_SUFFIX,SURNAME_PREFIX,BIRTH_DATE,AGE,...,INTERNATIONAL_VISA_TYPE,VISA_START_DATE,VISA_END_DATE,EMERGENCY_FIRST_NAME,EMERGENCY_LAST_NAME,EMERGENCY_PHONE,LAST_TERM,LAST_TERM_GPA,CGPA,LAST_ACADEMIC_STANDING
0,90155137,100033857,Rossi,Cheryl,Anne,<NA>,<NA>,<NA>,1971-02-11,52.0,...,NaN,NaT,NaT,NaN,NaN,NaN,200210.0,3.65,3.670000,00
1,90178185,100056898,Zhu,Jiang,<NA>,<NA>,<NA>,<NA>,1981-08-17,41.0,...,Study Permit,2003-12-01,2002-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90361898,100202582,Paget,Louise,Michelle,<NA>,<NA>,<NA>,1992-04-10,31.0,...,NaN,NaT,NaT,Eileen,Lavin,604.4428847,201310.0,3.08,2.813333,00
3,90471422,100299198,Shramko,Michael,<NA>,<NA>,<NA>,<NA>,1993-08-23,29.0,...,NaN,NaT,NaT,Vitali,Shramko,604.710.4253,NaN,NaN,NaN,NaN
4,90580401,100406466,Liu,Zetao,<NA>,<NA>,<NA>,<NA>,2000-10-05,22.0,...,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,90596433,100422223,Dinh,Thi Diem Quynh,<NA>,<NA>,<NA>,<NA>,2003-11-01,19.0,...,NaN,NaT,NaT,Nhu Boi,Dinh,+84.919219989,NaN,NaN,NaN,NaN
137,90596434,100422224,Fang,Ziyan,<NA>,<NA>,<NA>,<NA>,2005-07-14,17.0,...,NaN,NaT,NaT,Ling,Fang,+86.13805566198,NaN,NaN,NaN,NaN
138,90596436,100422226,Helm,Jeffrey,Roy,<NA>,<NA>,<NA>,1975-12-15,47.0,...,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,90596437,100422227,Iwumune,Chizoba,Gethrude,<NA>,<NA>,<NA>,1990-11-30,32.0,...,NaN,NaT,NaT,Vivian,Onwujiobi,778.7898481,NaN,NaN,NaN,NaN
140,90596439,100422228,Liew,Alexis,<NA>,<NA>,<NA>,<NA>,2008-02-27,15.0,...,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
validators['student_data'] = cur_validator

In [18]:
validators['student_data'].equality_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35230 entries, 0 to 115096
Data columns (total 85 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   (PIDM_KEY, )                         35230 non-null  string
 1   (ID, origin)                         337 non-null    string
 2   (ID, target)                         196 non-null    string
 3   (LAST_NAME, origin)                  151 non-null    string
 4   (LAST_NAME, target)                  10 non-null     string
 5   (FIRST_NAME, origin)                 158 non-null    string
 6   (FIRST_NAME, target)                 17 non-null     string
 7   (MIDDLE_NAME, origin)                72 non-null     string
 8   (MIDDLE_NAME, target)                11 non-null     string
 9   (NAME_PREFIX, origin)                1611 non-null   string
 10  (NAME_PREFIX, target)                0 non-null      string
 11  (BIRTH_DATE, origin)                 350 non-null    datetime64[ns]
 12  (BIRTH_DATE, target)                 209 non-null    datetime64[ns]
 13  (AGE, origin)                        1322 non-null   float64
 14  (AGE, target)                        1181 non-null   float64
 15  (GENDER, origin)                     144 non-null    object
 16  (GENDER, target)                     2 non-null      object
 17  (STREET1_LINE1, origin)              232 non-null    string
 18  (STREET1_LINE1, target)              94 non-null     string
 19  (STREET1_LINE2, origin)              55 non-null     string
 20  (STREET1_LINE2, target)              30 non-null     string
 21  (STREET1_LINE3, origin)              12 non-null     string
 22  (STREET1_LINE3, target)              4 non-null      string
 23  (CITY1, origin)                      203 non-null    object
 24  (CITY1, target)                      65 non-null     object
 25  (STATE1, origin)                     119 non-null    object
 26  (STATE1, target)                     13 non-null     object
 27  (ZIP1, origin)                       207 non-null    object
 28  (ZIP1, target)                       81 non-null     object
 29  (NATN_CODE1, origin)                 164 non-null    float64
 30  (NATN_CODE1, target)                 49 non-null     float64
 31  (NATN_DESC1, origin)                 164 non-null    object
 32  (NATN_DESC1, target)                 49 non-null     object
 33  (PREFERRED_NAME, origin)             45 non-null     object
 34  (PREFERRED_NAME, target)             6 non-null      object
 35  (VETC_NUMBER, origin)                54 non-null     string
 36  (VETC_NUMBER, target)                8 non-null      string
 37  (RELG_DESC, origin)                  3 non-null      object
 38  (RELG_DESC, target)                  0 non-null      object
 39  (CITZ_CODE, origin)                  141 non-null    object
 40  (CITZ_CODE, target)                  4 non-null      object
 41  (COLL_EMAIL, origin)                 40 non-null     object
 42  (COLL_EMAIL, target)                 1 non-null      object
 43  (PREF_EMAIL, origin)                 181 non-null    object
 44  (PREF_EMAIL, target)                 41 non-null     object
 45  (STUD_EMAIL, origin)                 161 non-null    object
 46  (STUD_EMAIL, target)                 21 non-null     object
 47  (AR_ACCOUNT_BALANCE, origin)         1542 non-null   float64
 48  (AR_ACCOUNT_BALANCE, target)         1401 non-null   float64
 49  (AR_AMOUNT_DUE, origin)              1542 non-null   float64
 50  (AR_AMOUNT_DUE, target)              1401 non-null   float64
 51  (PERSON_TYPE, origin)                150 non-null    object
 52  (PERSON_TYPE, target)                9 non-null      object
 53  (NATN_CODE_CITIZEN, origin)          131 non-null    float64
 54  (NATN_CODE_CITIZEN, target)          0 non-null      float64
 55  (NATN_CODE_CITIZEN_DESC, origin)     131 non-null    object
 56  (NATN_CODE_CITIZEN_DESC, target)     0 non-null      object
 57  (PRIMARY_PHONE, origin)              184 non-null    object
 58  (PRIMARY_PHONE, target)              64 non-null     object
 59  (MOBILE_PHONE, origin)               27 non-null     object
 60  (MOBILE_PHONE, target)               26 non-null     object
 61  (AGENT_EMAIL, origin)                21 non-null     object
 62  (AGENT_EMAIL, target)                6 non-null      object
 63  (INTERNATIONAL_VISA_NUMBER, origin)  1 non-null      object
 64  (INTERNATIONAL_VISA_NUMBER, target)  0 non-null      object
 65  (INTERNATIONAL_VISA_TYPE, origin)    27 non-null     object
 66  (INTERNATIONAL_VISA_TYPE, target)    0 non-null      object
 67  (VISA_START_DATE, origin)            1 non-null      datetime64[ns]
 68  (VISA_START_DATE, target)            1 non-null      datetime64[ns]
 69  (VISA_END_DATE, origin)              1 non-null      datetime64[ns]
 70  (VISA_END_DATE, target)              0 non-null      datetime64[ns]
 71  (EMERGENCY_FIRST_NAME, origin)       87 non-null     object
 72  (EMERGENCY_FIRST_NAME, target)       2 non-null      object
 73  (EMERGENCY_LAST_NAME, origin)        87 non-null     object
 74  (EMERGENCY_LAST_NAME, target)        2 non-null      object
 75  (EMERGENCY_PHONE, origin)            87 non-null     object
 76  (EMERGENCY_PHONE, target)            2 non-null      object
 77  (LAST_TERM, origin)                  5 non-null      float64
 78  (LAST_TERM, target)                  2 non-null      float64
 79  (LAST_TERM_GPA, origin)              27 non-null     float64
 80  (LAST_TERM_GPA, target)              24 non-null     float64
 81  (CGPA, origin)                       32916 non-null  float64
 82  (CGPA, target)                       32914 non-null  float64
 83  (LAST_ACADEMIC_STANDING, origin)     27 non-null     object
 84  (LAST_ACADEMIC_STANDING, target)     25 non-null     object
dtypes: datetime64[ns](6), float64(16), object(44), string(19)
memory usage: 23.1+ MB

In [31]:
validators['student_data'].equality_result.loc[21344, ('VETC_NUMBER', 'origin')]

'122640501'

In [32]:
validators['student_data'].equality_result.loc[21344, ('VETC_NUMBER', 'target')]

'122640501 '

In [23]:
validators['student_data'].equality_result[
~validators['student_data'].equality_result[('VETC_NUMBER', 'origin')].isna() & ~validators['student_data'].equality_result[('VETC_NUMBER', 'target')].isna()
].iloc[:, 35:37]

      VETC_NUMBER
           origin      target
21340   123149291  123149291
21344   122640501  122640501
21445   124506262  124506262
23995  122989718    122989718
24024  122643828    122643828
24696   122584733  122584733
35933   000000000           0
74048   002132751     2132751

## Student Registration

BT_STUDENT_REGISTRATION_DETAIL -> ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY'] *Only data for next year (20232, 202320, 20233, 20241)

In [128]:
df = pd.read_csv("data/Prod/Validate/lang_studentregistrationdetail.csv")

C:\Users\dhernandezvarg00\AppData\Local\Temp\ipykernel_12032\3653428527.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Prod/Validate/lang_studentregistrationdetail.csv")

In [130]:
baseline_filepath = "data/Prod/Baseline/BT_STUDENT_REGISTRATION_DETAIL.csv"
validate_filepath = "data/Prod/Validate/lang_studentregistrationdetail.csv"
column_mapping = [
    {"baseline_col_name": "PIDM_KEY",
     "validate_col_name": "lang_pidmkey",
     "common_col_type": "",
    },
    {"baseline_col_name": "TERM_CODE_KEY",
     "validate_col_name": "lang_termcodekey",
     "common_col_type": "",
    },
    {"baseline_col_name": "CRN_KEY",
     "validate_col_name": "lang_crnkey",
     "common_col_type": "",
    },
    {"baseline_col_name": "ID",
     "validate_col_name": "lang_id",
     "common_col_type": "string",
    },
    {"baseline_col_name": "REGISTRATION_STATUS",
     "validate_col_name": "lang_registrationstatus",
     "common_col_type": "",
    },
    {"baseline_col_name": "SUBJ_CODE",
     "validate_col_name": "lang_subjectcode",
     "common_col_type": "",
    },
    {"baseline_col_name": "COURSE_NUMBER",
     "validate_col_name": "lang_coursenumber",
     "common_col_type": "",
    },
    {"baseline_col_name": "SECTION",
     "validate_col_name": "lang_section",
     "common_col_type": "",
    },
    {"baseline_col_name": "COURSE_TITLE",
     "validate_col_name": "lang_coursetitleorig",
     "common_col_type": "",
    },
    {"baseline_col_name": "FINAL_GRADE",
     "validate_col_name": "lang_finalgrade",
     "common_col_type": "",
    },
    {"baseline_col_name": "IN_PROG_IND",
     "validate_col_name": "lang_inprogind",
     "common_col_type": "",
    },
    {"baseline_col_name": "CREDIT_HOURS",
     "validate_col_name": "lang_credithours",
     "common_col_type": "",
    }
]
baseline_date_cols = {}  # "%d-%b-%y",
validate_date_cols = {}
col_id = ['PIDM_KEY', 'TERM_CODE_KEY', 'CRN_KEY']
baseline_encoding = "utf-8"
validate_encoding = "utf-8"
unify_text = False
text_cols = None
# unify_text = True
# text_cols = ['HOLD_REASON']

In [131]:
cur_validator = Validator(baseline_filepath=baseline_filepath,
                          validate_filepath=validate_filepath,
                          column_mapping=column_mapping,
                          baseline_date_cols=baseline_date_cols,
                          validate_date_cols=validate_date_cols,
                          col_id=col_id,
                          baseline_encoding=baseline_encoding,
                          validate_encoding=validate_encoding,
                          unify_text=unify_text,
                          text_cols=text_cols,
                         )

C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:36: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(filepath, encoding=encoding)
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:319: UserWarning:     Expected data type does not match origin data type. Validation    will force expected type if present, otherwise, real type.
  warnings.warn("    Expected data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:311: UserWarning:     Common data type does not match origin data type. Validation    will force common data type.
  warnings.warn("    Common data type does not match origin data type. Validation"
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:326: UserWarning: Warning:
        Dataset Baseline

                Column: PIDM_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: TERM_CODE_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: CRN_KEY
                    Real Type: int64
                    Expected Type: NA
                Column: ID
                    Real Type: int64
                    Expected Type: NA
                Column: REGISTRATION_STATUS
                    Real Type: object
                    Expected Type: NA
                Column: SUBJ_CODE
                    Real Type: object
                    Expected Type: NA
                Column: COURSE_NUMBER
                    Real Type: int64
                    Expected Type: NA
                Column: SECTION
                    Real Type: object
                    Expected Type: NA
                Column: COURSE_TITLE
                    Real Type: object
                    Expected Type: NA
                Column: FINAL_GRADE
                    Real Type: object
                    Expected Type: NA
                Column: IN_PROG_IND
                    Real Type: object
                    Expected Type: NA
                Column: CREDIT_HOURS
                    Real Type: float64
                    Expected Type: NA
  warnings.warn(generate_warn_message(origin_cols_mistype, warn_type='type', dataset_name='baseline'))
C:\Users\dhernandezvarg00\OneDrive - Langara College\Work\Langara-Business_Data_Analyst\Work\CRM\Data_Validation\utils.py:328: UserWarning: Warning:
        Dataset Validate

                Column: lang_pidmkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_termcodekey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_crnkey
                    Real Type: int64
                    Expected Type: NA
                Column: lang_id
                    Real Type: int64
                    Expected Type: NA
                Column: lang_registrationstatus
                    Real Type: object
                    Expected Type: NA
                Column: lang_subjectcode
                    Real Type: object
                    Expected Type: NA
                Column: lang_coursenumber
                    Real Type: int64
                    Expected Type: NA
                Column: lang_section
                    Real Type: object
                    Expected Type: NA
                Column: lang_coursetitleorig
                    Real Type: object
                    Expected Type: NA
                Column: lang_finalgrade
                    Real Type: object
                    Expected Type: NA
                Column: lang_inprogind
                    Real Type: object
                    Expected Type: NA
                Column: lang_credithours
                    Real Type: float64
                    Expected Type: NA
  warnings.warn(generate_warn_message(target_cols_mistype, warn_type='type', dataset_name='validate'))

In [132]:
cur_validator.name_mapping

{'lang_pidmkey': 'PIDM_KEY',
 'lang_termcodekey': 'TERM_CODE_KEY',
 'lang_crnkey': 'CRN_KEY',
 'lang_id': 'ID',
 'lang_registrationstatus': 'REGISTRATION_STATUS',
 'lang_subjectcode': 'SUBJ_CODE',
 'lang_coursenumber': 'COURSE_NUMBER',
 'lang_section': 'SECTION',
 'lang_coursetitleorig': 'COURSE_TITLE',
 'lang_finalgrade': 'FINAL_GRADE',
 'lang_inprogind': 'IN_PROG_IND',
 'lang_credithours': 'CREDIT_HOURS'}

In [133]:
cur_validator.check_existence()

,PIDM_KEY,TERM_CODE_KEY,CRN_KEY,ID,REGISTRATION_STATUS,SUBJ_CODE,COURSE_NUMBER,SECTION,COURSE_TITLE,FINAL_GRADE,IN_PROG_IND,CREDIT_HOURS
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
34806,False,False,False,True,True,True,True,True,True,False,True,True
34807,False,False,False,True,True,True,True,True,True,False,True,True
34808,False,False,False,True,True,True,True,True,True,False,True,True
34809,False,False,False,True,True,True,True,True,True,False,True,True
34810,False,False,False,True,True,True,True,True,True,False,True,True

In [134]:
cur_validator.existence_result.sum()

PIDM_KEY                 0
TERM_CODE_KEY            0
CRN_KEY                  0
ID                     171
REGISTRATION_STATUS    171
SUBJ_CODE              171
COURSE_NUMBER          171
SECTION                171
COURSE_TITLE           171
FINAL_GRADE             73
IN_PROG_IND            171
CREDIT_HOURS           171
dtype: int64

In [135]:
# Registers with existence flags
(cur_validator.existence_result.sum(axis=1) > 0).sum()

242

In [136]:
# Total existence flags
cur_validator.existence_result.sum().sum()

1441

In [137]:
cur_validator.row_difference

-48

In [138]:
cur_validator.col_difference

{'origin_cols_not_in_target': {'CS_APP_CRN_IND'},
 'target_cols_not_in_origin': {'lang_coursetitle',
  'lang_student',
  'lang_subjectdescription',
  'lang_termdescription'}}

In [139]:
cur_validator.duplicated_rows

{'origin': 0, 'target': 0}

In [140]:
cur_validator.check_equality()

       PIDM_KEY TERM_CODE_KEY CRN_KEY         ID        REGISTRATION_STATUS
                                          origin target              origin
7      90076852        202320   20723       <NA>   <NA>                  WD  \
32     90122535        202320   20693       <NA>   <NA>                  WD
33     90122535        202320   20833       <NA>   <NA>                  WD
69     90151507        202320   20064  100030253   <NA>                  WL
70     90151507        202320   20824  100030253   <NA>                  WL
...         ...           ...     ...        ...    ...                 ...
34806  90596405         20232   60422  100422196   <NA>                  RE
34807  90596433         20232   60007  100422223   <NA>                  RE
34808  90596434         20233   70006  100422224   <NA>                  RE
34809  90596437         20233   70022  100422227   <NA>                  RE
34810  90596439         20232   60402  100422228   <NA>                  RE

             SUBJ_CODE        COURSE_NUMBER  ... SECTION
      target    origin target        origin  ...  origin target
7         RE       NaN    NaN           NaN  ...     NaN    NaN  \
32        RE       NaN    NaN           NaN  ...     NaN    NaN
33        RE       NaN    NaN           NaN  ...     NaN    NaN
69       NaN      NUTR    NaN        2212.0  ...     W01    NaN
70       NaN      NUTR    NaN        2212.0  ...     W02    NaN
...      ...       ...    ...           ...  ...     ...    ...
34806    NaN      BSAD    NaN        1084.0  ...     002    NaN
34807    NaN      LEAP    NaN        1001.0  ...     002    NaN
34808    NaN      LEAP    NaN        1001.0  ...     001    NaN
34809    NaN      SCLP    NaN        1000.0  ...     001    NaN
34810    NaN      CSSP    NaN        1011.0  ...     001    NaN

                         COURSE_TITLE        FINAL_GRADE        IN_PROG_IND
                               origin target      origin target      origin
7                                 NaN    NaN           W    NaN         NaN  \
32                                NaN    NaN           W    NaN         NaN
33                                NaN    NaN           W    NaN         NaN
69                       Nutrition II    NaN         NaN    NaN           I
70                       Nutrition II    NaN         NaN    NaN           I
...                               ...    ...         ...    ...         ...
34806  Financial Accounting 1- Part 1    NaN         NaN    NaN           I
34807  LEAP Application International    NaN         NaN    NaN           I
34808  LEAP Application International    NaN         NaN    NaN           R
34809  Supply Chain International App    NaN         NaN    NaN           R
34810      Business Start Up Bootcamp    NaN         NaN    NaN           I

             CREDIT_HOURS
      target       origin target
7        NaN         0.00    3.0
32       NaN         0.00    3.0
33       NaN         0.00    3.0
69       NaN         0.00    NaN
70       NaN         0.00    NaN
...      ...          ...    ...
34806    NaN         2.40    NaN
34807    NaN         0.00    NaN
34808    NaN         0.00    NaN
34809    NaN         0.00    NaN
34810    NaN         2.75    NaN

[278 rows x 21 columns]

In [141]:
cur_validator.target_rows_not_in_origin

,PIDM_KEY,TERM_CODE_KEY,CRN_KEY,ID,REGISTRATION_STATUS,SUBJ_CODE,COURSE_NUMBER,SECTION,COURSE_TITLE,FINAL_GRADE,IN_PROG_IND,CREDIT_HOURS
0,90162400,20232,60217,100041116,RE,SELF,1165.0,001,Mindfulness-Based Cognitive Th,NaN,I,2.70
1,90169526,20232,60222,100048242,RE,CSFW,1026.0,W01,Excel 1: Better Spreadsheets,NaN,I,1.80
2,90389536,202320,20238,100224653,RE,ASIA,1120.0,W01,Religions of the East,NaN,I,3.00
3,90415869,20232,60217,100248183,RE,SELF,1165.0,001,Mindfulness-Based Cognitive Th,NaN,I,2.70
4,90434060,20232,60098,100264591,RE,PERF,1001.0,001,Stand-up Comedy Clinic,NaN,I,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
214,90595262,20233,70037,100421100,RE,ADAP,1001.0,001,2D International Application,NaN,R,0.00
215,90595789,202320,20543,100421604,RE,PSYC,1215.0,M01,"Intro Soc, Pers & Abnorm",NaN,I,3.00
216,90595795,20232,60039,100421610,RE,TEST,1001.0,001,Langara English Test,NaN,I,0.00
217,90595932,20232,60405,100421742,RE,CSSP,1017.0,001,Capture Your Summer,NaN,I,2.75
218,90595977,202320,20012,100421781,RE,AHIS,1212.0,BW1,Visual Culture II,NaN,I,3.00

In [142]:
cur_validator.origin_rows_not_in_target

,PIDM_KEY,TERM_CODE_KEY,CRN_KEY,ID,REGISTRATION_STATUS,SUBJ_CODE,COURSE_NUMBER,SECTION,COURSE_TITLE,FINAL_GRADE,IN_PROG_IND,CREDIT_HOURS
0,90151507,202320,20064,100030253,WL,NUTR,2212.0,W01,Nutrition II,NaN,I,0.00
1,90151507,202320,20824,100030253,WL,NUTR,2212.0,W02,Nutrition II,NaN,I,0.00
2,90178185,20232,60079,100056898,RE,ENTR,1009.0,W01,How to Start Your Own Business,NaN,I,3.60
3,90178185,20232,60080,100056898,RE,GBSC,1006.0,W01,Financial Skills for Managers,NaN,I,3.60
4,90178185,20232,60170,100056898,RE,PROP,1106.0,W01,Construction Mgmt & Supv,NaN,I,1.80
...,...,...,...,...,...,...,...,...,...,...,...,...
166,90596405,20232,60422,100422196,RE,BSAD,1084.0,002,Financial Accounting 1- Part 1,NaN,I,2.40
167,90596433,20232,60007,100422223,RE,LEAP,1001.0,002,LEAP Application International,NaN,I,0.00
168,90596434,20233,70006,100422224,RE,LEAP,1001.0,001,LEAP Application International,NaN,R,0.00
169,90596437,20233,70022,100422227,RE,SCLP,1000.0,001,Supply Chain International App,NaN,R,0.00
170,90596439,20232,60402,100422228,RE,CSSP,1011.0,001,Business Start Up Bootcamp,NaN,I,2.75

In [143]:
validators['registration_detail'] = cur_validator

In [144]:
validators['registration_detail'].equality_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 7 to 34810
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   (PIDM_KEY, )                   278 non-null    int64
 1   (TERM_CODE_KEY, )              278 non-null    int64
 2   (CRN_KEY, )                    278 non-null    int64
 3   (ID, origin)                   171 non-null    string
 4   (ID, target)                   0 non-null      string
 5   (REGISTRATION_STATUS, origin)  266 non-null    object
 6   (REGISTRATION_STATUS, target)  95 non-null     object
 7   (SUBJ_CODE, origin)            171 non-null    object
 8   (SUBJ_CODE, target)            0 non-null      object
 9   (COURSE_NUMBER, origin)        171 non-null    float64
 10  (COURSE_NUMBER, target)        0 non-null      float64
 11  (SECTION, origin)              171 non-null    object
 12  (SECTION, target)              0 non-null      object
 13  (COURSE_TITLE, origin)         171 non-null    object
 14  (COURSE_TITLE, target)         0 non-null      object
 15  (FINAL_GRADE, origin)          73 non-null     object
 16  (FINAL_GRADE, target)          0 non-null      object
 17  (IN_PROG_IND, origin)          171 non-null    object
 18  (IN_PROG_IND, target)          0 non-null      object
 19  (CREDIT_HOURS, origin)         266 non-null    float64
 20  (CREDIT_HOURS, target)         95 non-null     float64
dtypes: float64(4), int64(3), object(12), string(2)
memory usage: 47.8+ KB

# END